<div class="casses-settings">
  <div class="row">
    <div class="row mt-4">
      <div class="col-md-8">
        <div class="f-box">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="row">
                <!-- <div class="col">
                  <div class="input-group stc-input-group custom-input mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    <input type="text" matInput #input placeholder="{{ 'Search on milestone' }}"
                      class="form-control stc-input" (keyup)="searchFilter($event)" />
                  </div>
                </div> -->

                <div class="col">
                  <div class="input-group stc-input-group custom-input mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    <input type="text" matInput #input placeholder="{{ 'Search on milestone' }}"
                      class="form-control stc-input" (keyup)="searchFilter(input)" />
                  </div>
                </div>
                <div class="col-3">
                  <stc-apps-button [buttonText]="'Filter' | translate" [buttonType]="'gray-outline'"
                    [buttonIcon]="'fa-filter'" (btnClick)="toggleFilter()"></stc-apps-button>
                </div>
                <div class="col-3"
                  *ngIf="!milestonesService.checkIsBusinessSpoc() && !milestonesService.checkIsDirector()">
                  <stc-apps-button [buttonText]="'Add Milestone' | translate" [buttonType]="'primary'"
                    [buttonIcon]="'fa-plus-circle'" (btnClick)="addMilestoneNavigate()"></stc-apps-button>
                </div>
                <!-- <div class="col-2">
                  <stc-apps-button [buttonText]="'Export' | translate" [buttonType]="'warn'"></stc-apps-button>
                </div> -->
              </div>

              <!-- <ng-container *ngIf="authService.getLoggedInUser()">
                <div class="col-md-4" *ngIf="
                    authService.getLoggedInUser().roles.includes('CREATORS')

                  ">
                  <stc-apps-button [buttonText]="'Add Milestone' | translate" [buttonType]="'primary'"
                    [buttonIcon]="' fa-plus-circle'" (btnClick)="addMilestoneNavigate()"></stc-apps-button>

                  <stc-apps-button [buttonText]="'Add new Case' | translate" [buttonType]="'primary'"
                    [buttonIcon]="' fa-plus-circle'" (btnClick)="addCasseNavigate()"></stc-apps-button>

                </div>
              </ng-container> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            @if(tableData){
            <stc-apps-custom-table [items]="tableData" [headers]="columnsSchema" [length]="milestonesTotalCount"
              (doAction)="tableAction($event)" [paginate]="true" [applyFilter]="true" [filter]="filterString"
              [paginationConfig]="{
                pageCount: 10,
                showTotal: false,
                paginationIq: 'smart'
              }" [complexView]="customTemplate" (paginationEvent)="paginate($event)">
            </stc-apps-custom-table>
            <ng-template #customTemplate let-header="header" let-item="item">
              <p class="custom-class-template">{{ item[header.key] }}</p>
            </ng-template>

            }
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <stc-apps-items-list [caption]="'pending_actions' | translate" [items]="allItems"
          (itemClicked)="detailsNavigate($event)"></stc-apps-items-list>
      </div>
    </div>
  </div>
</div>

<stc-apps-dialog id="filter-Modal">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (blur)="(OnChangesForm)" class="p-3 pb-0">
    <div class="inputs">
      <div class="row">
        <div class="col-md-4">
          <stc-apps-input [className]="'custom-input'" [inputId]="'milestoneName'" [inputName]="'milestone name'"
            formControlName="milestoneName"></stc-apps-input>
        </div>
        <div class="col-md-4">
          <stc-apps-select-drop-down [label]="'Team'" [options]="allTeams" formControlName="team"
            [outputValue]="'name'"></stc-apps-select-drop-down>
        </div>
        <div class="col-md-4">
          <stc-apps-select-drop-down [label]="'Status'" [labelValue]="'value'" [options]="milestoneStatus"
            formControlName="status" [outputValue]="'value'"></stc-apps-select-drop-down>
        </div>
      </div>
      <div class="row mt-4">

        <div class="col-md-4">
          <stc-apps-select-drop-down [label]="'Month'" [options]="monthsArr" formControlName="month"
            [outputValue]="'id'"></stc-apps-select-drop-down>
        </div>
        <div class="col-md-4">
          <stc-apps-select-drop-down [label]="'Year'" [options]="yearsArr" formControlName="year"
            [outputValue]="'name'"></stc-apps-select-drop-down>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="row mt-4">
          <div class="col-md-3">
            <stc-apps-button [buttonText]="'Clear'" [buttonType]="'gray-outline'"
              (btnClick)="clearFormFilter()"></stc-apps-button>
          </div>
          <div class="col-md-6"></div>

          <div class="col-md-3">
            <stc-apps-button [buttonText]="'Apply filter' | translate" [buttonType]="'primary'"
              [buttonDisable]="disabled" (btnClick)="onSubmit()" [actionType]="'submit'"></stc-apps-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</stc-apps-dialog>

<stc-apps-dialog id="delete-modal">
  <p class="text">
    <span>{{ 'You&lsquo;re about to Remove Milestone , ' }} </span>
    <strong>#{{ rowData?.id }}</strong>

    <span>
      ' Kindly note you can&lsquo;t roll back this action. Are you sure?'</span>
  </p>

  <div class="row mt-4">
    <div class="col-md-4 offset-8">
      <div class="d-flex justify-content-end">
        <stc-apps-button [buttonText]="'cancel'" [buttonType]="'gray-outline'"
          (btnClick)="dialogService.close()"></stc-apps-button>

        <div class="mx-3"></div>
        <!-- <stc-apps-button [buttonText]="'delete user'" [buttonType]="'primary'"
          (btnClick)="confirmDelete()"></stc-apps-button> -->
      </div>
    </div>
  </div>
</stc-apps-dialog>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ff375e" type="ball-scale-multiple" [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>