@import url('../milestones-setting/milestones-setting.component.scss');

.custom-layout {
  .box {
    top: 0 !important;
    left: 1% !important;
    padding-block: 24px;
  }
}

.vp-report {
  h3 {
    font-size: 32px;
    font-family: var(--stc-font-meduim);
  }
  h4 {
    font-size: 20px;
    font-family: var(--stc-font-bold);
  }
  .container-box {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    h5 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: left;
      color: var(--stc-color);
      font-family: var(--stc-font-meduim);
    }
    .progress-circule {
      margin: 0 auto;
    }
  }
  .teams {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
      border: 1px solid var(--stc-color);
      border-radius: 8px;
      margin: 10px;
      padding: 8px 16px;
      min-width: 100px;
      text-align: center;
      &:hover {
        background-color: var(--stc-color);
        color: white;
        cursor: pointer;
      }
      &.active {
        background-color: var(--stc-color);
        color: white;
      }
    }
  }

  .progress-bar-box {
    display: flex;
    align-items: center;
    padding: 30px;
    height: 100%;

    .bar {
      flex-grow: 1;
    }
    .left-value,
    .right-value {
      margin-inline: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-weight: bold;
      }
    }
  }
  .label {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgba($color: white, $alpha: 1) !important;
  }
}
.mt-6 {
  margin-top: 4rem;
}
.mt-70 {
  margin-top: 70px;
}

/********** Gantt Sytles ************/
.milestones-gantt {
  min-height: 700px;
  h2 {
    font-size: 24px;
    text-align: center;
    color: white;
    padding-block: 50px;
  }
  h6 {
    font-size: 16px;
    font-family: var(--stc-font-bold);
    text-align: center;
    color: white;
    padding-block: 8px;
  }
  .col-md-1 {
    h6 {
      font-family: var(--stc-font-base);
      text-transform: capitalize;
    }
  }
}
.bg-stc-color {
  background-color: var(--stc-color);
}
.bg-light-grey-color {
  background-color: var(--stc-lightGrey-color);
}
.bg-stc-color-dark-1 {
  background-color: #410073;
}
.bg-stc-color-dark-2 {
  background-color: #360060;
}
.bg-stc-color-dark-3 {
  background-color: #130022;
}
.border-right {
  border-right: 1px solid white;
}
.border-top-left {
  border-radius: 10px 0px 0px 0px;
}
.border-top-right {
  border-radius: 0px 10px 0px 0px;
}
.border-left {
  border-left: 1px solid var(--grey-color);
}
.activites {
  padding: 0;
  li {
    color: var(--grey-color);
    margin-top: 70px;
    font-size: 22px;
    line-height: 35px;
  }
}
.milestone-item {
  cursor: pointer;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 5px;
  .status {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
  }
  span {
    margin-top: 5px;
    font-size: 12px;
  }
  .info {
    visibility: hidden;
    width: max-content;
    min-width: 250px;
    background-color: rgb(255, 255, 255);
    color: var(--stc-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 106%;
    left: 50%;
    margin-left: -60px;
    text-align: left;
    border: 1px solid var(--grey-color);
    ul {
      padding-left: 10px;
      li {
        display: flex;
        align-items: center;
        color: var(--grey-color);
        small {
          display: inline-block;
          white-space: nowrap;
          max-width: 22em;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-left: 10px;
          color: var(--stc-color);
        }
      }
    }
  }

  .info::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 60px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  &:hover .info {
    visibility: visible;
  }
}

/******** highlight & impact styles **********/
.highlight {
  ul {
    padding-left: 20px;
    list-style: disc;
    li {
      line-height: 35px;
      color: var(--grey-color);
    }
  }
}

/** Progress Circule **/

@keyframes growProgressCircule {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role='progresscircule'] {
  --size: 12rem;
  --pgPercentage: var(--value);
  animation: growProgressCircule 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      white 80%,
      transparent 0 99.9%,
      white 0
    ),
    conic-gradient(
      var(--stc-color) calc(var(--pgPercentage) * 1%),
      var(--stc-lightGrey-color) 0
    );
  font-size: calc(var(--size) / 5);
  color: var(--stc-color);
}

div[role='progresscircule']::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}

/******progress bar *******/
@property --pgPercentageBar {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}
.progress {
  padding: 6px;
  background: rgba(var(--stc-green-color), 0.1);
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 2px;
}
.bar .container {
  width: 98%;
  text-align: center;
}
.progress-bar {
  height: 19px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-striped .progress-bar {
  --pgPercentageBar: var(--value);
  background-color: rgb(var(--stc-green-color));

  width: 50%; //calc(var(--pgPercentageBar) * 1%);
  animation: progressAnimationStrike 6s forwards;
}

@keyframes progressAnimationStrike {
  from {
    width: 0;
  }
  to {
    width: calc(var(--value) * 1%);
  }
}
