@import url('../milestones-setting/milestones-setting.component.scss');

.custom-layout {
  .box {
    top: 0 !important;
    left: 1% !important;
    padding-block: 24px;
  }
}

.container-box {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;

  h5 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
    color: var(--stc-color);
    font-family: var(--stc-font-meduim);
  }
}

.vp-report {
  position: relative;
  h3 {
    font-size: 32px;
    font-family: var(--stc-font-meduim);
  }
  h4 {
    font-size: 20px;
    font-family: var(--stc-font-bold);
  }

  .teams {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
    li {
      border: 1px solid var(--stc-color);
      border-radius: 8px;
      margin: 10px;
      padding: 8px 16px;
      min-width: 100px;
      text-align: center;
      &:hover {
        background-color: var(--stc-color);
        color: white;
        cursor: pointer;
      }
      &.active {
        background-color: var(--stc-color);
        color: white;
      }
    }
  }

  .progress-bar-box {
    display: flex;
    padding: 30px;
    height: 100%;

    .bar {
      flex-grow: 1;
    }
    .left-value,
    .right-value {
      margin-inline: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-weight: bold;
      }
    }
  }
  .label {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  stc-apps-select-drop-down {
    ::ng-deep .mdc-text-field--filled {
      background-color: #fff;
      border: 1px solid var(--stc-color);
      border-radius: 10px !important;
      min-height: 44px;
    }
    ::ng-deep .mdc-text-field__input {
      color: var(--stc-darkGrey-color, #334155);
      font-size: 14px;
    }
    ::ng-deep .mdc-text-field--filled .mdc-text-field__ripple,
    ::ng-deep .mdc-text-field--filled .mdc-line-ripple {
      display: none;
    }
  }
  stc-apps-button {
    ::ng-deep button {
      height: 58px;
      min-height: 58px;
      padding-top: 0;
      padding-bottom: 0;
      display: inline-flex;
      align-items: center;
      font-size: 1rem;
    }
  }
}
.mt-6 {
  margin-top: 4rem;
}
.mt-70 {
  margin-top: 70px;
}

/** Progress Circule **/

// div[role='progresscircule']::before {
//   counter-reset: percentage var(--value);
//   content: counter(percentage) '%';
//   z-index: 9999;
// }

/******progress bar *******/
@property --pgPercentageBar {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}
.progress {
  padding: 6px;
  background: rgba(var(--stc-green-color), 0.1);
  display: flex;
  flex-direction: column;
  height: 45px;
  border-radius: 2px;
  position: relative;
}
.prg-hide {
  background-color: transparent;
  height: 70px;
}
.bar .container {
  width: 98%;
  text-align: center;
}
.progress-bar,
.progress-bar-hide {
  height: 19px;
  transition: 0.4s linear;
  transition-property: width, background-color;
  position: relative;
}

.progress-bar {
  --pgPercentageBar: var(--value);
  background-color: rgb(var(--stc-green-color));
  z-index: 2;
  width: 50%; //calc(var(--pgPercentageBar) * 1%);
  animation: progressAnimationStrike 6s forwards;
  top: 20%;
}
.m-hide {
  margin-top: -20px;
}
.progress-bar-hide {
  --pgPercentTaregt: var(--value);
  top: -30%;
  height: 1px;
  z-index: 1;
  width: 50%;
  animation: progressAnimationStrikeTarget 7s forwards;
  span {
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    &::after {
      content: '';
      position: absolute;
      top: -18px;
      height: 20px;
      width: 2px;
      background-color: var(--stc-color);
    }
    p {
      font-weight: bold;
      font-size: 16px;
    }
  }
}
@keyframes progressAnimationStrike {
  from {
    width: 0;
  }
  to {
    width: calc(var(--value) * 1%);
  }
}

@keyframes progressAnimationStrikeTarget {
  from {
    width: 0;
  }
  to {
    width: calc(var(--value) * 1%);
  }
}

.bar-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// Gantt chart styles

.gantt-legend {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .legend-circle,
  .legend-name {
    display: inline-block;
  }

  .legend-circle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px -2px rgb(5, 170, 68);
  }

  .legend-circle-completed {
    background-color: var(--stc-oasis-color);
  }

  .legend-circle-planned {
    background-color: var(--grey-color);
  }

  .legend-circle-on-track {
    background-color: var(--stc-Sea-Color);
  }

  .legend-circle-at-risk {
    background-color: var(--stc-sun-color);
  }

  .legend-circle-delayed {
    background-color: var(--red-Color);
  }

  .legend-name {
    margin-right: 10px;
    margin-left: 5px;
  }
}

.at-risk {
  background-color: var(--stc-sun-color);
}

.on-track {
  background-color: var(--stc-Sea-Color);
}

.delayed {
  background-color: var(--red-Color);
}

.completed {
  background-color: var(--stc-oasis-color);
}

.planned {
  background-color: var(--stc-Silver-Color);
}

.chart-holder {
  margin-bottom: 5rem;
}

.chart-liner {
  height: 3px;
  background-color: var(--stc-Silver-Color);
  width: 77%;
  margin: auto;
  margin-block: 50px;
}

.no-data-text {
  text-align: center;
  padding: 50px;
  font-weight: bold;
}

.report-row {
  justify-content: space-between;

  .report-col {
    background-color: white;
    padding: 20px;
    margin-inline: 10px;
  }
}

.highlight-title,
.impact-title {
  color: var(--stc-color);
  font-weight: bold;
  font-size: 1.3rem;
}

.edit-link {
  font-size: 1rem;
  cursor: pointer;
  float: right;
  text-decoration: underline;
}

quill-editor {
  width: 100%;

  ::ng-deep .ql-container.ql-snow {
    border: none !important;
  }
}

.tabs {
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  stc-apps-button {
    margin-right: 23px !important;
  }
}
.tab-content {
  margin-top: 15px;
  background-color: white;
  padding: 20px 36px;
  border-radius: 10px;
}
.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.puls-report-value {
  background-color: white;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px 0;
  min-height: 145px;
  box-shadow: 3px 3px 3px 0px #e5e5e5;
  border-radius: 10px;
  h5 {
    font-size: 16px;
    padding-top: 16px;
    padding-left: 16px;
    color: #7e8fa7;
  }
  p {
    font-size: 16px;
    padding-left: 23px;
    color: #1d252d;
    margin-bottom: 5px;
  }
  span {
    font-size: 14px;
    padding-left: 23px;
    color: #f44336;
  }
}
.transperant-bg {
  background-color: #f8f8f8;
  margin-top: 10px;
  padding-block: 16px;
  border-radius: 10px;
}
.font-bloder {
  font-family: var(--stc-font-bold);
}

.wrap-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em; /* Adjust line-height based on design */
  width: 95%;
  transition: overflow 0.6s ease; /* Smooth transition */
  &:hover {
    overflow: visible;
    -webkit-box-orient: unset;
  }
}
