<stc-apps-header [userName]="user?.name" [logoSrc]="logoSrc" [allItems]="navItems" [sidebarLogoSrc]="sidebarLogoSrc"
  [showDelegate]="true" (logOut)="logOut()" (delegateUser)="delegateUser()" (backToHome)="backToHome()"
  [showLang]="false">
  <stc-apps-notifications-dropdown (clickItem)="clickRemider($event)" [items]="[]"
    [notificationsTitle]="'Reports Notifications'"></stc-apps-notifications-dropdown>
</stc-apps-header>
<stc-apps-breadcrumb [bgColor]="'primary'"></stc-apps-breadcrumb>
<stc-apps-banner> </stc-apps-banner>
<router-outlet></router-outlet>