<div class="kpis-performance">
  <h4 class="main-title">All KPIs performance</h4>
  <div class="kpis-statistics">
    <div class="item">
      <div class="icon purble">
        <img src="assets/images/kpis-icons/chart-square.svg" alt="Total KPIs" />
      </div>
      <div class="item-info">
        <h5>Total KPIs</h5>
        <p>552</p>
      </div>
    </div>
    <div class="item">
      <div class="icon green">
        <img src="assets/images/kpis-icons/tick-square.svg" alt="Acheived" />
      </div>
      <div class="item-info">
        <h5>Acheived</h5>
        <p>112</p>
      </div>
    </div>
    <div class="item ">
      <div class="icon stcBlue">
        <img src="assets/images/kpis-icons/share.svg" alt="Over acheived" />
      </div>
      <div class="item-info">
        <h5>Over acheived</h5>
        <p>352</p>
      </div>
    </div>
    <div class="item">
      <div class="icon gray">
        <img src="assets/images/kpis-icons/share.svg" alt="On track" />
      </div>
      <div class="item-info">
        <h5>On track</h5>
        <p>52</p>
      </div>
    </div>
    <div class="item">
      <div class="icon warn">
        <img src="assets/images/kpis-icons/danger.svg" alt="Lag behind" />
      </div>
      <div class="item-info">
        <h5>Lag behind</h5>
        <p>12</p>
      </div>
    </div>
    <div class="item">
      <div class="icon danger">
        <img src="assets/images/kpis-icons/close-square.svg" alt="Risk" />
      </div>
      <div class="item-info">
        <h5>Risk</h5>
        <p>30</p>
      </div>
    </div>
  </div>
  <div class="content">
    <div class=" filter">
      <div class="filter-item">
        <stc-apps-select-drop-down [label]="'KPIs statues :'" [selectType]="'filter-select-box'" [defaultAll]="true"
          [options]="kpisStatus"></stc-apps-select-drop-down>
      </div>
      <div class="filter-item">
        <stc-apps-select-drop-down [label]="'Dimensions :'" [selectType]="'filter-select-box'"
          [defaultAll]="true"></stc-apps-select-drop-down>
      </div>
      <div class="filter-item">
        <stc-apps-select-drop-down [label]="'Objective two :'" [selectType]="'filter-select-box'"
          [defaultAll]="true"></stc-apps-select-drop-down>
      </div>
      <div class="filter-item">
        <stc-apps-select-drop-down [label]="'Objective two :'" [selectType]="'filter-select-box'"
          [defaultAll]="true"></stc-apps-select-drop-down>
      </div>
      <div class="filter-item">
        <stc-apps-select-drop-down [label]="'Objective three :'" [selectType]="'filter-select-box'"
          [defaultAll]="true"></stc-apps-select-drop-down>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <stc-apps-kpis-holder></stc-apps-kpis-holder>
      </div>
      <div class="col-md-8">
        <div class="right-part">
          <div class="line-chart-box">
            <div class="header">
              <h4>% Completion of External Assessment</h4>
              <div class="date">
                <span>Last updated :today</span>
              </div>
            </div>

          </div>
          <div class="divider "></div>
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="details-item">
                <h6>Goal</h6>
                <p>Technology Enablement</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="details-item">
                <h6>Objective</h6>
                <p>CS, Cloud, Analytics, Tech</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="details-item">
                <h6>Direction</h6>
                <p>Increasing</p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="details-item">
                <h6>Unit / Sector</h6>
                <p>TSA Unit</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="details-item">
                <h6>Method</h6>
                <p>Cumulative</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="details-item">
                <h6>Frequency</h6>
                <p>Monthly</p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="details-item">
                <h6>YE Scoring</h6>
                <p>Cumulative</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="details-item">
                <h6>Validation Auth.</h6>
                <p>DT</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="details-item">
                <h6>Weight</h6>
                <p>2.5</p>
              </div>
            </div>
          </div>
          <div class="divider "></div>
          <div class="row">
            <div class="col-md-4">
              <div class="users-item">
                <h6>Owner</h6>
                <p>Hamdan S. Alfarraj</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="users-item">
                <h6>Custodian</h6>
                <p>Abdeljalil B. Boularab</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="users-item">
                <h6>Sponsor</h6>
                <p>Khaled I. Aldharrab</p>
              </div>
            </div>
          </div>
          <div class="divider "></div>
          <div class="row">
            <div class="col-md-12">
              <div class="description-item">
                <h6>Definition</h6>
                <p>This KPI will measure the completion of External assessment, market study,
                  best practices to get a grip of global digital transformation
                  priorities of top digital services enterprises</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>