.executive-summary-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .progress-bar {
    height: 200px;
  }
}
.status2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.edit-proj-btn {
  padding: 0;
  border: 0;
  border-radius: 5px;
  background: #4f008c26;
  width: 40px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 1rem;
    color: #4f008c;
  }
}
