<div class="executive-summary-card">
  <div class="head">
    <p class="title m-0">
      {{ executiveCard().title }}
    </p>
    <div class="status2">
      <stc-apps-status-card
        [status]="executiveCard().status"
        [backgroundColor]="
          getStatusStyle(executiveCard().status).backgroundColor
        "
        [textColor]="getStatusStyle(executiveCard().status).textColor"
        [borderColor]="getStatusStyle(executiveCard().status).borderColor"
      />
      <button class="edit-proj-btn" (click)="openAddWorkstreamSidebar()">
        <i class="pi pi-pencil"></i>
        <!-- <img src="assets/images/button.svg" alt="" /> -->
      </button>
    </div>
  </div>
  <div class="progress-bar">
    <stc-apps-progress-bar
      [data]="data"
      [isPSRProject]="true"
      [fontFamily]="'STCForwardFont'"
    />
  </div>
</div>
