<section class="a1-tap-section">
    <p class = "a1-tap-section-title mb-4">goals and objectives</p>
    <div class="row a1-tap-section-objectives">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="a1-tap-section-objectives-l1">
                <h3>corporate objective (L1 , dare)</h3>
                <p>instill digital mindset and unlock the potential of digital and <br> analytics capabilities</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="a1-tap-section-objectives-l2">
                test
            </div>
        </div>
    </div>
</section>