@import '../../../../../styles/fonts';
.a1-tap-section
{
    &-title
    {
        margin: 0;
        color:var(--stc-purple-light-color);
        text-transform: capitalize;
        @extend .blackPoppins;
        font-size: 20px;
    }
    &-objectives
    {
        &-l1
        {
            box-shadow: 0px 4px 24px 0px #0000001F;
            padding:20px;
            border-radius: 15px;
            position: relative;
            max-width: 500px;
            &::before
            {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 79px;
                background-color: #fff;
                transform: skewX(25deg);
                transform-origin: top right;
                box-shadow: 7px 9px 18px -7px rgba(0, 0, 0, 0.1);
                border-radius: 15px;
                border-bottom-left-radius: 0;
            }
        }
    }
}