<section class="scored-card-section">
  <div class = "scored-card-section-header">
    <div>
      <p class="scored-card-section-welcome-text">
        welcome back,
        <span>fahad awan</span>
        <img src="assets/images/Waving-Hand.svg" alt="">
      </p>
      <div class="scored-card-section-title">
        <p>
          <span>N-2 Scorecards 2023</span>
          - corporate analytics & data sector
        </p>
      </div>
      <div class = "scored-card-section-taps">
        <stc-apps-tabview
          [tabsData]="scorecardsTaps"
          [tabColor]="'#ffffff'"
          [clickedtabColor]="'#ffffff'"
          [tabBackground]="'#FFFFFF0D'"
          [clickedtabBackground]="'#FF375E'"
          (clickedTap)="getClickedTap($event)"
          [fontFamily]="'STCForwardFont'"
        />
      </div>
    </div>
    <img class = "hands-img" src="assets/images/hands-img.svg" alt="">
  </div>
  @if (kpisData) {
    <div class="scored-card-section-tap-details">
      <stc-apps-financial-scorecard
        [financialScorcardData]="kpisData"
      />
    </div>
  }
</section>
