@import '../../../styles/fonts';
.scored-card-section
{
  padding:20px 30px;
  &-welcome-text
  {
    text-transform: capitalize;
    font-size: 19px;
    @extend .stcFont;
    span
    {
      @extend .mediunPoppins;
      font-size: 22px;
    }
    img
    {
      display: inline-block;
      margin-left: 10px;
      position: relative;
      top:-3px;
    }
  }
  &-header
  {
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-end;
    display: grid;
    grid-template-columns: 80% calc(20% - 30px);
    gap: 30px;
    align-items: center;
    .hands-img
    {
      position: relative;
      top:15px;
    }
  }
  &-title
  {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: normal;
    @extend .stcFont;
    font-size: 22px;
    span
    {
      font-size: 27px;
      @extend .blackPoppins;
    }
  }

  &-tap-details
  {
    background-color: var(--stc-white-color);
    border-radius:20px;
    padding:20px;
    // z-index: 9999999;
    position: relative;
    // margin-top:30px;
    color:#000;
    // margin-top: 35px;
    // z-index: 111111;
  }
}
.images
{
  position: absolute;
  top: -177px;
  right: 5px;
}
.scored-card-section-mobile
{
  background-color: #f5f6fa;
  &-body
  {
    padding:15px;
  }
}
.empty-data-msg
{
  text-align: center;
  @extend .stcFont;
  color:var(--stc-purple-color);
  text-transform: capitalize;
  font-size: 1.1rem;
  font-style: oblique;
  // height: 60vh;
  height: calc(100vh - 260px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.kpis-title
{
  color:var(--stc-grey-color2);
  @extend .stcFont;
  // text-align: justify;
  word-spacing:5px;
  // text-transform:capitalize;
  font-size: 18px;
  font-weight: 500;
}
.kpis-mobile-container
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 25px;
  margin-top: 15px;
  gap:20px;
}
.read-more-btn
{
    text-decoration: underline;
    font-size: 13px;   
}