<div class="api-standared">
  <div class="api-standared_header">
    <h3>Standards</h3>
    <stc-apps-button
      [buttonText]="'Add Standard'"
      [buttonType]="'primary'"
      [buttonIcon]="'fa-plus'"
      (click)="onAddStandard()"
    ></stc-apps-button>
  </div>
  <div class="api-standard_filters">
    <stc-apps-api-standard-filters
      (filtersChanged)="onFiltersChanged($event)"
      (sortChanged)="onSortChanged($event)"
    ></stc-apps-api-standard-filters>
  </div>

  <div class="api-standared_table">
    <stc-apps-table-list
      [dataSource]="dataSource"
      [columnSchema]="columnsSchema"
      [tableActions]="tableActions()"
      [noDataMessage]="'No API standards available'"
      (actionClick)="onActionHandler($event)"
    ></stc-apps-table-list>
  </div>
</div>
