<p-table
  [value]="dataSource()"
  [tableStyle]="dataSource().length > 0 ? { 'min-width': '50rem' } : {}"
  [paginator]="enablePagination() && dataSource().length > 0"
  [rows]="10"
  [scrollable]="true"
  class="table"
  [rowsPerPageOptions]="[10, 25, 50]"
  [first]="currentPage * rowsPerPage"
  (onPage)="onPageChange($event)"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
>
  <ng-template pTemplate="header">
    @if (dataSource().length >0) {
    <tr>
      @for (column of displayedColumns(); track column) {
      <th>{{ column.label }}</th>
      }
    </tr>
    }
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      @for (column of displayedColumns(); track column) { @if (column.key ===
      'actions') {
      <td>
        <div class="table_actions">
          @for (action of tableActions(); track action) {
          <button
            pButton
            pRipple
            type="button"
            icon="{{ action.action }}"
            class="p-button-rounded p-button-text"
            [disabled]="actionsDisabled()"
            [pTooltip]="action.title"
            tooltipPosition="top"
            (click)="onActionClick(action.action, rowData)"
          ></button>
          }
        </div>
      </td>
      } @else if (column.complexViewTemp) {
      <td>
        <ng-container
          *ngTemplateOutlet="
            column.complexViewTemp;
            context: { $implicit: rowData }
          "
        ></ng-container>
      </td>
      } @else {
      <td>{{ rowData[column.key] }}</td>
      } }
    </tr>
  </ng-template>

  <!-- No Data Message -->
  <ng-template pTemplate="emptymessage">
    <td [attr.colspan]="displayedColumns().length">
      <div class="table_no-data-message">
        <span>{{ noDataMessage() }}</span>
      </div>
    </td>
  </ng-template>
</p-table>
