.table {
    ::ng-deep {
        .p-datatable-thead {
            background-color: #F9FAFB;
            border-top: 1px solid #cbcbcb;

            tr {
                th {
                    padding: 14px;
                }
            }
        }

        .p-paginator {
            justify-content: flex-end
        }

        tbody {
            max-height: 220px;
            overflow: auto;
        }


    }

    tr:not(.table-header) td {
        color: var(--dark-slate-gray);
    }

    &_actions {
        button {
            background: transparent;

            ::ng-deep {
                span {
                    color: var(--dark-slate-gray);
                    font-size: 20px;
                }
            }
        }
    }

    &_no-data-message {
        width: 100%;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}