.home-page {
  background-color: var(--stc-lightGrey-color);

  &_cardHolder {
    margin-left: 24px;

    .kpis-card {
      &_header {
        z-index: 999;
        top: 30px;
        left: 30px;
      }
    }
  }

  &_footer {
    position: relative;
    top: -70px;
    left: 22px;

    .inverted {
      margin-right: 48px;
      transform: scaleX(-1);
    }
  }
}