.home-page {
  background-color: var(--stc-lightGrey-color);

  &_cardHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2.5rem;
    margin: 50px 24px;

    .kpis-card {
      width: 24%;
      position: relative;
      height: 100%;



      &_header {
        display: flex;
        justify-content: center;
        z-index: 999;
        top: 30px;


      }


    }

    :first-child {
      ::before {
        content: "";
        position: absolute;
        height: 12%;
        width: 30%;
        border-left: 5px solid var(--stcSunsetColor);
        bottom: -16px;
        left: -10.5px;
        border-bottom-left-radius: 12px;
      }

      ::after {
        content: "";
        position: absolute;
        height: 25%;
        width: 29%;
        border-bottom: 5px solid var(--stcSunsetColor);
        bottom: -20.5px;
        left: -8px;
        border-bottom-left-radius: 12px;
      }
    }

    :last-child {
      ::before {
        content: "";
        position: absolute;
        height: 12%;
        width: 30%;
        border-right: 5px solid var(--stcSunsetColor);
        bottom: -16px;
        right: -10.5px;
        border-bottom-right-radius: 12px;
      }

      ::after {
        content: "";
        position: absolute;
        height: 25%;
        width: 29%;
        border-bottom: 5px solid var(--stcSunsetColor);
        bottom: -20.5px;
        right: -8px;
        border-bottom-right-radius: 12px;
      }
    }
  }

  &_footer {
    position: relative;
    top: -70px;
    left: 22px;

    .inverted {
      margin-right: 48px;
      transform: scaleX(-1);
    }
  }
}

@media screen and (max-width: 1570px) and (min-width: 1180px) {
  .home-page_cardHolder {
    .kpis-card {
      width: 32.333% !important;
    }
  }
}

@media screen and (max-width: 1180px) and (min-width: 790px) {
  .home-page_cardHolder {
    .kpis-card {
      width: 49% !important;
    }
  }
}

@media screen and (max-width: 790px) {
  .home-page_cardHolder {
    .kpis-card {
      width: 99% !important;
    }
  }
}