.layout {
  background-color: var(--stc-lightGrey-color);
  padding: 0 40px;
  .box {
    position: relative;
    top: -75px;
    width: 100% !important;
    left: 0 !important;
    border-radius: 7px;
    padding-inline-start: 0px !important;
  }
}
