<div class="expansion-body">
  <div class="expansion-body_score">
    <stc-apps-result-score [percentage]="percentage()"></stc-apps-result-score>
  </div>
  <div class="row">
    @for (section of listItems; track section) {
    <div
      class="col-sm-12"
      [ngClass]="{ 'col-md-7': $index === 1, 'col-md-5': $index === 0 }"
    >
      <ul class="expansion-body_list">
        @for (item of section.items; track item) {
        <li>
          <label>{{ item.label }}</label>
          <span>{{ item.value }}</span>
        </li>
        }
      </ul>
    </div>
    }
    <div class="expansion-body_bar">
      <stc-apps-progress-bar [data]="progressBarData()"></stc-apps-progress-bar>
    </div>
    <div class="expansion-body_details">
      <a [routerLink]="['/details']">Details</a>
    </div>
  </div>
</div>
