<div class="comments">
  <div class="comments_form">
    <div class="comments_form_content">
      <div
        class="comments_form_editor"
        type="text"
        [attr.data-placeholder]="placeholder()"
        [mentionConfig]="mentionConfig"
        [mentionListTemplate]="mentionListTemplate"
        contenteditable="true"
        (change)="change($event)"
        (itemSelected)="onItemSelected($event)"
      ></div>

      <ng-template #mentionListTemplate let-item="item">
        <span>{{ item.name }}</span>
      </ng-template>
    </div>
  </div>
</div>
