@import '../../../styles/fonts.scss';
.kri {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px #0000000d;
  border: 1px solid #ffffff;
  transition: 0.3s;
  &:hover {
    border-color: #fecaca;
  }
  .left {
    .title {
      @extend .stcFont;
      font-size: 13px;
      font-weight: 500;
      color: #101010;
    }
    span {
      display: inline-block;
      background-color: #f8fafc;
      border: 1px solid #e2e8f0;
      border-radius: 4px;
      color: #334155;
      @extend .stcFont;
      font-size: 12px;
      padding: 3px 5px;
    }
  }
}
