<div class="trend-holder">
  <div class="tabs-row">
    <span class="tab-span" *ngFor="let tab of tabs" (click)="activateTab(tab)" [ngClass]="{'active': tab === activeTab}">
      <span class="tab-name">{{tab}}</span>
    </span>
  </div>

  <div class="view-container">

    <div class="symbols-row">
      <div class="last-update-holder">
        <p>Last updated: <span class="date">17 Apr 2023</span></p>
      </div>

      <div class="target-holder">
        <p>Target <span class="target-shape measurement-unit">----<span class="circle"></span></span></p>

      </div>

      <div class="baseline-holder">
        <p>Baseline <span class="baseline-shape measurement-unit">----<span class="circle"></span></span></p>
      </div>
    </div>
    <div class="row legends-row">

      <div class="col-2 col-xl-5 achieve-col">
        <p class="view-title">{{activeTab}} OVERVIEW</p>
      </div>

      <div class="col capabilities-col">
        <div class="row">
          <div class="col-auto">
            <div class="building">
              <div class="text">
                <span class="color-circle building-circle"></span>Capability
                Building
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="utilization">
              <div class="text">
                <span class="color-circle utilization-circle"></span
                >Capability Utilization
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="experience">
              <div class="text">
                <span class="color-circle experience-circle"></span>Digital
                Experience & Impact
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <stc-apps-trend-card [hideDetailsBtn]="true"></stc-apps-trend-card>
    <stc-apps-trend-card></stc-apps-trend-card>
    <stc-apps-trend-card></stc-apps-trend-card>
    <stc-apps-trend-card></stc-apps-trend-card>
  </div>
</div>
