<div class="trend-holder">
  <div class="tabs-row" #tabz>

    <ng-container *ngFor="let tab of tabs">
      <span class="tab-span" *hasRole="tab" (click)="activateTab(tab)" [ngClass]="{'active': tab === activeTab}" [class]="tab">
        <span class="tab-name">{{tab}}</span>
      </span>
    </ng-container>

  </div>

  <div class="view-container">

    <div class="symbols-row">
      <div class="last-update-holder">
        <p>Last updated:&nbsp;<span class="date">{{lastMonthInData | numberToMonthName:true}}, {{yearNum}}</span></p>
      </div>

      <div class="target-holder">
        <p>Target <span class="target-shape measurement-unit">----<span class="circle"></span></span></p>

      </div>

      <div class="baseline-holder">
        <p>Baseline <span class="baseline-shape measurement-unit">----<span class="circle"></span></span></p>
      </div>
    </div>
    <div class="row legends-row">

      <div class="col-2 col-xl-5 achieve-col" *ngIf="firstCard">
        <p class="view-title">{{activeTab}} OVERVIEW</p>
      </div>

      <div class="col capabilities-col">
        <div class="row">
          <div class="col-auto">
            <div class="building">
              <div class="text">
                <span class="color-circle building-circle"></span>Capability
                Building
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="utilization">
              <div class="text">
                <span class="color-circle utilization-circle"></span
                >Capability Utilization
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="experience">
              <div class="text">
                <span class="color-circle experience-circle"></span>Digital
                Experience & Impact
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <stc-apps-trend-card *ngIf="firstCard" [hideDetailsBtn]="true" [trendCard]="firstCard"></stc-apps-trend-card>

    <div class="row legends-row" *ngIf="firstCard">

      <div class="col-2 col-xl-5">
        <p class="view-title">{{activeTab}} IN DETAILS</p>
      </div>

      <div class="col"></div>
    </div>
    <ng-container *ngFor="let trendCard of trendCards$ | async; let i = index">
      <stc-apps-trend-card *ngIf="i !== 0" [trendCard]="trendCard"></stc-apps-trend-card>
    </ng-container>
  </div>
</div>
