@import '../../../../../styles/fonts';
::ng-deep .financial-scorecard
{
  &-edit-mode
  {
    // height:60px;
    border-radius: 15px;
    background-color: var(--stc-grey-light-color);
    // background-color: #000;
    display: flex;
    align-items: center;
    padding:20px;
    margin-bottom: 20px;
    gap:20px;
    &-button
    {
      background-color: var(--stc-purple-light-color);
      border:0;
      color:var(--stc-white-color);
      @extend .stcFont;
      font-size: 16px;
      text-transform: capitalize;
      padding:10px 25px;
      border-radius:5px;
      display: flex;
      align-items: center;
      cursor: pointer;
      img
      {
        display: inline-block;
        margin-right: 10px;
        width:17px;
      }
    }
  }
  &-header
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-title
    {
      text-transform: capitalize;
      color:var(--stc-purple-light-color);
      @extend .mediunPoppins;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
    &-dropdowns
    {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;
      top: 10px;
      .mat-mdc-form-field
      {
        width:100px !important;
        height:60px !important;
        .mat-mdc-text-field-wrapper
        {
          border-radius: 5px !important;
        }
        .mdc-line-ripple
        {
          display: none !important;
        }
        .mat-mdc-select-arrow
        {
          color:var(--stc-purple-color);
        }
        .mat-mdc-select-min-line
        {
          color:var(--stc-black-color);
          @extend .stcFont;
        }
        .mat-mdc-select-trigger
        {
          position: relative !important;
          top:-8px !important;
        }
      }
    }
  }
}
// .form-select-input
// {
//   option
//   {

//   }
// }
