<section class="financial-scorecard">
  @if(currentMode() === 'editMode')
  {
    <div class = 'financial-scorecard-edit-mode'>
      <input type="file" hidden #uploader (change)="getUploadedFile($event)" />
      <button 
        class = 'financial-scorecard-edit-mode-button import-btn' 
        (click)="uploader.click()"
      >
        <img src = 'assets/images/upload-solid.svg' />
        <span>import</span>
      </button>
      <button class = 'financial-scorecard-edit-mode-button'>
        <img src = 'assets/images/download-solid.svg' />
        <span>export</span>
      </button>
      <!-- {{currentClickedTap().name}} -->
    </div>
  }
  @for (scorecard of financialScorcardData(); track scorecard.id;let first = $first) {
  <div class="financial-scorecard-header">
    <p class="financial-scorecard-header-title" [class.mt-4]="!first">
      {{ scorecard.title }}
    </p>
    @if(first){
    <form
      class="financial-scorecard-header-dropdowns"
      [formGroup]="filtersForm"
    >
      <stc-apps-select-drop-down
        [label]="''"
        formControlName="month"
        [options]="monthsArr"
        [outputValue]="'id'"
        (selectChange)="selectMonth()"
      />
      <stc-apps-select-drop-down
        [label]="''"
        formControlName="year"
        [options]="years()"
        [outputValue]="'id'"
        (selectChange)="selectYear()"
      />
    </form>
    }
  </div>
  <div class="financial-scorecard-costs">
    <div class="row">
      @for (kpi of scorecard.kpisData; track kpi.id) {
      <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
        <stc-apps-kpi-card [kpi]="kpi" />
      </div>
      }
    </div>
  </div>
  }
</section>
