.row > *{
    padding-left: 0 !important;
}
.card-holder {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 17px;
  .header-container {
    h5 {
      color: var(--stc-color-darker);
      font-weight: 600;
      font-size: 18px;
      margin-top: 17px;
      margin-left: 17px;
    }
    img {
      width: 25%;
    }
  }
  .res-we-container {
    padding: 25px 0px 25px 0px;
    .res-container,
    .we-container {
      padding: 25px 27px 10px 27px;
      width: 45%;
      background-color: rgba(79, 0, 140, 0.1);
      border-radius: 10px;
      .we-value,
      .res-value {
        color: var(--stc-color-dark);
        font-weight: 700;
        font-size: 24px;
      }
      .we-p,
      .res-p {
        font-weight: 400;
        font-size: 16px;
        color: var(--light-black);
      }
    }
  }
}
