.dialog-body {
  padding: 20px;
}

.dialog-header {
  font-size: 20px;
  border-bottom: 1px solid #c5c0c0;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.actions-wrapper {
  justify-content: end;
  display: flex;
  .btn {
    width: 245px;
    &:first-of-type {
      margin-inline-end: 16px;
    }
  }
}

.hint {
  color: #8e9aa0;
  font-size: 13px;
}
