<div class="dialog p-4">
  <div class="dialog-body">
    <div class="dialog-header">
      <p class="caption">
        {{ dialogCaption() }}
      </p>
      <p class="hint">
        {{ hint() }}
      </p>
    </div>
    <div class="body-holder">
      <form [formGroup]="form">
        <div class="my-2">
          <!-- <stc-apps-input-full-width
            [required]="true"
            [label]="'Add note'"
            [type]="'textarea'"
            formControlName="note"
            [placeholder]="'Write your note'"
          ></stc-apps-input-full-width> -->
          <stc-apps-textarea [className]="'custom-input'" [inputPlaceholder]="'Write your note'"
            [inputId]="'description'" [inputName]="'Add note'" formControlName="note"></stc-apps-textarea>
        </div>

        @if (data.showAttachment && data.status !== 'planned') {
        <stc-apps-file-uploader [multiple]="false" [chooseLabel]="'add_attachment' | translate"
          (onformchange)="onUploadFile($event)" [attachmentFiles]="form.controls['attachment'].value"
          formControlName="attachment" [isLoading]="isLoading"
          [accept]="configService.getConfig().fileValidation.acceptType" [required]="isRequired"
          (ondelete)="onDeleteFile($event)"></stc-apps-file-uploader>
        }
      </form>
    </div>
  </div>

  <hr class="liner-hr" />

  <div class="dialog-actions">
    <div class="actions-wrapper">
      <div>
        <button type="button" class="btn gray-outline" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div>
        @if (showNoNeed) {
        <button type="button" class="btn primary" (click)="update()" [disabled]="!form.invalid">
          No Need
        </button>
        }
        <button type="button" class="btn primary" (click)="update()" [disabled]="form.invalid || isLoading">
          {{ data.type }}
        </button>
      </div>
    </div>
  </div>
</div>