.dialog-body {
  padding: 20px;
}

.dialog-header {
  font-size: 20px;
  border-bottom: 1px solid #c5c0c0;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.actions-wrapper {
  justify-content: end;
  display: flex;
}

.hint {
  color: #8E9AA0;
  font-size: 13px;
}