<section class="psr-tabview">
    @if(currentMode === 'editMode') {
        <stc-apps-edit-mode-view 
          (import)="showDialog()"
          (export)="downloadTemplate()"
        />
    } 
    <div class = "psr-head">
        <p class = "psr-tabview-header">
            Data Governance Strategic Projects Execution (Executive View)
        </p>
        <button routerLink="add-project">
            <!-- <i class = "pi pi-plus"></i> -->
             <img src="assets/images/plus-icon.svg" alt="">
            add new program
        </button>
    </div>
    @if(!isEmpty())
    {
        <div class="project-container">
            @for (project of projects(); track project.sector) {
                <div class="project-container-card">
                    <stc-apps-psr-project-card 
                        [project]="project"
                    />
                </div>
            }
        </div>
    } @else {
        <p class = "empty-data-msg mt-4">there are no projects</p>
    }
</section>
<stc-apps-dialog-modal 
  [visible]="visible"
  (ImportedFile)="importData($event)"
  (onhide)="onHide()"
/>