@import '../../../../../styles/fonts';
.psr-tabview
{
    &-header
    {
        color:var(--stc-purple-light-color);
        @extend .blackPoppins;
        text-transform: capitalize;
        font-size: 22px;
        margin: 0;
    }
    .project-container
    {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 25px;
        margin-top: 20px;
        .project-container-card
        {
            width:100%;
        }
    }
}
.empty-data-msg
{
  color:var(--stc-purple-light-color);
  // margin: 0;
  text-align: center;
  font-style: italic;
  @extend .stcFont;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
}
.psr-head
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  button
  {
    border:0;
    border-radius: 10px;
    background-color: var(--stc-purple-color);
    color:var(--stc-white-color);
    text-transform: capitalize;
    padding:9px 15px;
    @extend .stcFont;
    display: flex;
    align-items: center;
    gap:10px;
    i
    {
        font-size: 14px;
        color:var(--stc-purple-color);
        background-color: var(--stc-white-color);
        border-radius: 50%;
        padding:5px;
    }
  }
}