<section class="project-container" [class.project-container-in-mobile]="isMobile()">
  <div class="project-container-head">
    <p
      class="project-container-header"
      [class.mobile-view-title]="isMobile()"
      (mouseenter)="overlayPanel2 ? overlayPanel2.show($event) : ''"
      (mouseleave)="overlayPanel2 ? overlayPanel2.hide() : ''"
    >
      {{ project().sector }}
    </p>
    @if(!isMobile())
    {
      <i class="pi pi-ellipsis-v" #actionsBtn (click)="openActionsMenu()"></i>
      <p-overlayPanel
        #actionsPanel
        dismissable="false"
        [appendTo]="'body'"
        styleClass="project-actions-logs"
        (onHide)="showActivityLogsPopup = false"
      >
        <div class="actions-logs-table">
          @for (item of items; track $index) {
          <div
            class="action"
            [class.delete-btn]="item.label === 'Delete'"
            (click)="
              item.label === 'Edit'
                ? gotoEditPage()
                : item.label === 'Delete'
                ? showDeleteDialog()
                : showActivityLogs()
            "
          >
            <i [class]="item.icon"></i>
            <p>{{ item.label }}</p>
          </div>
          }
        </div>
      </p-overlayPanel>
      <stc-apps-activity-logs-popup
        [activityLogsTableHeader]="activityLogsTableHeader()"
        [activityLogsTableBody]="activityLogsTableBody()"
        [showPopup]="showActivityLogsPopup"
        (popupClosed)="popupClosed()"
        [isProjectActionPopup]="true"
        type = "psr"
        [isDismissable]="true"
        (popupHide)="showActivityLogsPopup = false"
      />
    }
  </div>
  <div class="project-container-chart" [class.mt-5]="!isMobile()" [class.mobile-view-chart]="isMobile()">
    <stc-apps-multi-circles-progress-bar
      [chartData]="chartData"
      [colors]="colors"
      [showLegend]="true"
      [labelsFontFamily]="'STCForwardFont'"
      [legendsFontFamily]="'mediunPoppins'"
      [outerRadius]="160"
      [innerRadius]="100"
      [showLabels]="true"
      [showLegendValues]="false"
    />
  </div>
  <!-- {{maxTextLength}} -->
  <div [class.project-card-info]="isMobile()">
    <p class="planned-date">
      planned date:
      <span>{{
        project() && project().plannedDate
          ? formatDate(project().plannedDate)
          : ''
      }}</span>
    </p>
    <p class="project-container-description">
      {{ project().details.trim() | truncateWord : isMobile() ? 2 : 6 }}
      @if(!isMobile() && project().details.trim().split(" ").length > 6) {
        <a (click)="displayDrilldown()" class="read-more">read more</a>
      }
      @else if(isMobile() && project().details.trim().split(" ").length > 2) {
        <a (click)="displayDrilldown()" class="read-more">read more</a>
      }
    </p>
    <!-- [routerLink]="['/strategy-program/' , strategyKpiCard().strategyProject]" -->
     @if(!isDeleted())
     {
       <a
         class="project-container-details-link"
         [routerLink]="['/psr/', project().sector , project().id]"
         (click)="gotoProjectDetailsPage()"
         [class.project-container-details-link-mobile]="isMobile()"
       >
         <span>more details</span>
         @if(!isMobile())
         {
           <img src="assets/images/arrow-right.svg" alt="" />
         }
       </a>
     }
  </div>
</section>
@if(project().details) {
<p-overlayPanel #overlayPanel dismissable="true">
  <section class="popover-section">{{ project().details }}</section>
</p-overlayPanel>
} @if(project().sector.length > 20) {
<p-overlayPanel #overlayPanel2 dismissable="true">
  <section class="popover-section">{{ project().sector | uppercase }}</section>
</p-overlayPanel>
}
<stc-apps-confirm-dialog [key]="'delete-program'">
  <div class="delete-program-dialog">
    <div class="header">
      <p class="delete-record-header">delete program?</p>
      <img src="assets/images/_action-icon.svg" (click)="close()" alt="" />
    </div>
    <div class="body">
      <img src="assets/images/exclamation-triangle.svg" alt="" />
      <p class="delete-record-content">
        Are you sure you want to delete {{ project().sector }} program?
      </p>
    </div>
    <!-- <p class="delete-record-warning">
      This action is permanent and cannot be undone!
    </p> -->
    <div class="buttons mt-4">
      <button (click)="close()" class="cancel">cancel</button>
      <button class="delete" (click)="deleteProgram()">delete</button>
    </div>
  </div>
</stc-apps-confirm-dialog>
