<section class="project-container">
  <p class="project-container-header">
    {{ project().group | uppercase }}
  </p>
  <div class="project-container-chart mt-5">
    <stc-apps-multi-circles-progress-bar
      [chartData]="chartData"
      [colors]="colors"
      [showLegend]="true"
      [labelsFontFamily]="'STCForwardFont'"
      [legendsFontFamily]="'mediunPoppins'"
      [outerRadius]="160"
      [innerRadius]="100"
      [showLabels]="true"
      [showLegendValues]="false"
    />
  </div>
  <p class="project-container-description">
    {{ project().details }}
  </p>
  <!-- [routerLink]="['/strategy-program/' , strategyKpiCard().strategyProject]" -->
  <a 
    class="project-container-details-link" 
    [routerLink]="['/psr/' , project().group]"
  >
    <span>more details</span>
    <img src="assets/images/arrow-right.svg" alt="" />
  </a>
</section>
