@import '../../../../../styles/fonts.scss';
.project-container {
  text-align: center;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 0;
  &-head
  {
    position: relative;
    i
    {
      position: absolute;
      top:0;
      right:15px;
      font-size: 20px;
      cursor: pointer;
      color:#D9D9D9;
    }
  }
  &-header {
    font-size: 28px;
    padding:0 15px;
    @extend .boldPoppins;
    color: var(--stc-dark-grey-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-description {
    color: var(--stc-grey-dark-color);
    @extend .stcFont;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    padding: 0 25px;
    margin-top: 30px;
    min-height: 102px;
  }
  &-details-link {
    text-decoration: none;
    cursor: pointer;
    color: var(--stc-purple-color);
    text-transform: capitalize;
    @extend .stcFont;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    gap: 5px;
    span {
      position: relative;
      top: 1px;
    }
  }
}
.popover-section {
  color: #222222;
  @extend .stcFont;
  font-size: 16px;
  max-width: 400px;
  word-spacing: 3px;
  word-break: break-all;
}
.read-more {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #222222;
  text-decoration: none;
  text-transform: capitalize;
}
::ng-deep .p-overlaypanel
{
  margin-left:15px  !important;
}
::ng-deep .p-menu
{
  margin: 0 !important;
  padding: 0 !important;
  width: 150px !important;
  .p-menu-list
  {
    margin: 0 !important;
    padding:0px 0 0 !important;
  }
  .p-submenu-header
  {
    display: none !important;
  }
  .menu-item
  {
    display: flex;
    align-items: center;
    gap:10px;
    padding-left: 15px;
    // margin-bottom: 10px;
    height:40px;
    line-height: 40px;
    @extend .stcFont;
    cursor: pointer;
    p
    {
      margin: 0;
      position: relative;
      top:2px;
    }
    &.edit-btn
    {
      i , p
      {
        color:var(--stc-grey-dark-color);
      }
    }
    &.delete-btn
    {
      i , p
      {
        color:var(--stc-red-color2);
      }
    }
  }
}
.delete-program-dialog
{
  padding:0px 20px 0px;
  text-align: center;
  min-width:500px;
  min-height:172px;
  .header
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img
    {
      width: 40px;
      cursor:pointer;
    }
  }
  .body
  {
    display: flex;
    align-items: center;
    gap:10px;
  }
  p
  {
    margin: 0;
    @extend .stcFont;
    &.delete-record-header
    {
      color:var(--stc-lighter-black-color);
      font-weight: 600;
      text-transform: capitalize;
      margin:15px 0;
      font-size: 19px;
    }
    &.delete-record-content
    {
      @extend .stcFont;
      color:var(--stc-lighter-grey-color2);
      font-size: 17px;
    }
    &.delete-record-warning
    {
      color:var( --stc-red-color);
      margin:15px 0;
      font-size: 16px;
    }
  }
  .buttons
  {
    display: flex;
    justify-content: flex-end;
    gap:25px;
    button
    {
      border:0;
      background-color:transparent;
      border-radius: 5px;
      width:150px;
      height:40px;
      color:var(--stc-dark-grey-color2);
      text-transform: capitalize;
      @extend .stcFont;
      font-weight: 500;
      &.delete
      {
        background-color: var(--stc-red-color2);
        color:var(--stc-white-color);
      }
      &.cancel
      {
        width: 80px;
      }
    }
  }
}
.planned-date
{
  margin-top: 25px;
  @extend .stcFont;
  color:var(--stc-grey-dark-color);
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  span
  {
    font-weight: bold;
    color:var(--stc-dark-blue-color);
  }
}