<div class="login">
  <div class="log-out" (click)="authService.logout()">
    <i class="fas fa-sign-out-alt"></i> <span>Log Out</span>
  </div>



  <div class="card">
    <div class="shape3"></div>
    <div class="card-img">
      <img src="assets/images/login/stc.png" alt="stc" />
    </div>
    <div class="card-body">
      <h4 class="">Welcome, {{authService.loggedInUser?.name}}</h4>
      <p>Let’s discover the applications</p>
    </div>


  </div>


  <div class="apps">
    <ul class="apps-box " *ngIf="getGrantedSystems()">
      <li *ngFor="let item of apps">
        <!-- <a href={{item.systemUrl}}>

                  </a> -->
        <span (click)="navigateItem(item.systemUrl)">
          {{item.displayName}} {{item.systemUrl}}
        </span>
      </li>
    </ul>
  </div>

</div>