<div class="login">
  <div class="shape4"></div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-5 ">


        <div class="card">
          <div class="shape1"></div>
          <div class="shape2"></div>
          <div class="shape3"></div>

          <div class="card-img">
            <img src="assets/images/login/stc.png" alt="stc" />
          </div>
          <h4 class="">{{ 'Welcome, Mohamed!' }}</h4>
          <p>Let’s discover the applications</p>

        </div>
      </div>

      <div class="col-md-7  col-sm-12">
        <div class="row">

          <div class="col-md-8 offset-md-2">
            <ul class="apps-box ">
              <li>
                <a href="#">
                  CCEX Workspace
                </a>
              </li>
              <li>
                <a href="http://localhost:59056/#/login">
                  Fraud Management
                </a>
              </li>
              <li>
                <a href="#">
                  DI Dashboard

                </a>
              </li>
              <li>
                <a [routerLink]="['/home/users-setting']">
                  Tech & Ops Dashboard
                </a>
              </li>
            </ul>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>