@import '../../../../../styles/fonts.scss';
::ng-deep .db {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
      margin: 0;
      text-transform: capitalize;
      color: var(--stc-purple-light-color);
      @extend .mediunPoppins;
      font-size: 18px;
      padding: 0;
      margin: 0;
      font-weight: 500;
    }
    .filter-options {
      display: flex;
      align-items: center;
      gap: 16px;
      flex-wrap: wrap;
    }
    .filter-dropdowns {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      align-items: center;
      .mat-mdc-form-field {
        width: 120px !important;
        height: 40px !important;
        .mat-mdc-text-field-wrapper {
          border-radius: 5px !important;
        }
        // .mdc-list-item {
        //   &.mdc-list-item--selected {
        //     .mdc-list-item__primary-text,
        //     .mat-mdc-option-pseudo-checkbox {
        //       color: var(--stc-purple-color) !important;
        //       font-weight: bold !important;
        //     }
        //   }
        // }
        .mat-mdc-form-field-subscript-wrapper {
          display: none !important;
        }
        .mdc-line-ripple {
          display: none !important;
        }
        .mat-mdc-select-arrow {
          color: var(--stc-purple-color);
        }
        .mat-mdc-select-min-line {
          color: var(--stc-black-color);
          @extend .stcFont;
        }
        .mat-mdc-select-trigger {
          align-items: center !important;
        }
        .mat-mdc-text-field-wrapper,
        .mat-mdc-select-arrow-wrapper {
          align-items: flex-end !important;
        }
        .mat-mdc-form-field-focus-overlay {
          display: none !important;
        }
        .mat-mdc-select-min-line {
          display: inline-block;
          padding-top: 3px;
        }
      }
      .unacceptable-dropdown {
        .mat-mdc-form-field {
          width: 220px !important;
          height: 40px !important;
        }
      }
    }
    .filter-dropdowns3 {
      .mat-mdc-form-field {
        width: 220px !important;
        height: 40px !important;
      }
    }
    .divider {
      width: 1px;
      height: 39px;
      background-color: #cbd5e1;
      display: inline-block;
    }
    .import-export-buttons {
      display: flex;
      gap: 12px;
      button {
        background-color: var(--stc-red-dark-color);
        color: var(--stc-white-color);
        border: 0;
        font-size: 17px;
        text-transform: capitalize;
        padding: 0px 15px;
        height: 40px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 10px;
        font-weight: 500;
        img {
          width: 17px;
        }
        &.import-button {
          background-color: var(--stc-purple-color);
        }
        &.export-button {
          background-color: #f1f5f9;
          color: #475569;
        }
      }
    }
  }
  &-legends {
    .legends {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: flex-end;
      margin-top: 20px;
      flex-wrap: wrap;
    }
  }
  &-body {
    &-statistics-data {
      margin-top: 20px;
      // devide the cards in 5 columns with gap of 20px
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      @media all and (max-width: 1400px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media all and (max-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
      }
      .box {
        border: 1px solid #0000001a;
        border-radius: 14px;
        width: 100%;
        .header {
          padding: 20px;
          padding-bottom: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        .title {
          color: #6b7280;
          @extend .stcFont;
          font-size: 14px;
          margin: 0;
          text-transform: capitalize;
        }
        .data {
          padding: 20px;
          padding-bottom: 0;
          @extend .stcFont;
          font-size: 20px;
          font-weight: 600;
          color: #0a0a0a;
          &.acceptable {
            color: var(--stc-green-darker-color);
          }
          &.tolerable {
            color: var(--stc-darker-yellow-color);
          }
          &.unacceptable {
            color: var(--stc-red-darker-color);
          }
          &.unclassified {
            color: #64748b;
          }
        }
      }
    }
    &-kris {
      margin-top: 25px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 20px;
    }
  }
}
::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text,
::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
  color: var(--stc-purple-color) !important;
  font-weight: bold !important;
}
::ng-deep .mat-mdc-select-min-line {
  display: inline-block !important; /* Ensure it behaves like an inline block */
  white-space: nowrap !important; /* Prevent wrapping to a new line */
  overflow: hidden !important; /* Hide the text that sticks out */
  text-overflow: ellipsis !important; /* Add the '...' at the end */
  display: block !important; /* Ensure it behaves like a block for width calculations */
  max-width: 100% !important; /* Force it to stay within the container */
}
.empty-data-message {
  color: var(--stc-dark-grey-color);
  font-size: 13px;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 20px;
  @extend .stcFont;
}
