.kpis {

    &_title {
        font-weight: 700;
    }

    &_button {
        .btn {
            color: var(--blueColor);
            font-weight: 400;
            text-decoration: none;
            font-family: 'Roboto';

            img {
                margin-inline-start: 4px;
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }
}