<div class="banner row px-4 pt-5 pb-4">
  <div class="col-md-6 col-sm-12">
    <div class="banner_content">
      <div class="welcome-msg">
        <h4>{{ 'welcome_back' | translate }}</h4>
        <p>{{ 'welcome_back_msg' | translate }}</p>
      </div>
      <h1 class="py-2">{{ 'scorecard_report' | translate }}</h1>
      <stc-apps-result-score
        [percentage]="74.91"
        title="Over all  score"
      ></stc-apps-result-score>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="banner_filter"></div>
  </div>
</div>
