<div class="banner row px-4 pt-5 pb-4">
  <div class="banner_background"></div>
  <div class="col-md-6 col-sm-12">
    <div class="banner_content">
      <div class="welcome-msg">
        <div class="d-flex">
          <h4>{{ 'welcome_back' | translate }}</h4>
          <p class="userName">{{ userName() }}</p>
          <img src="assets/images/Waving Hand.svg" alt="" />
        </div>

        <p>{{ 'welcome_back_msg' | translate }}</p>
      </div>
      @if (showScorecard) {
      <h1 class="py-2">{{ 'scorecard_report' | translate }}</h1>
      <stc-apps-result-score
        [percentage]="overallScore?.score ?? 74.91"
        [title]="overallScore?.scorecardTitle ?? title"
      ></stc-apps-result-score>
      } @else {
      <h2 class="details-title">Details for STC KSA Epit</h2>
      }
    </div>
  </div>
  @if (showScorecard) {
  <div class="col-md-6 col-sm-12">
    <div class="banner_filter" [formGroup]="form">
      <stc-apps-select-drop-down
        formControlName="year"
        [label]="''"
        [matLabel]="'Select Year'"
        [options]="yearsArray"
        [outputValue]="'name'"
      ></stc-apps-select-drop-down>

      <stc-apps-select-drop-down
        formControlName="quarter"
        [label]="''"
        [matLabel]="'Select Quarter'"
        [options]="quarterArray"
        [outputValue]="'name'"
      ></stc-apps-select-drop-down>
    </div>
  </div>
  }
</div>
