mat-tab-group {
    .tab-label-content {
        font-size: 14px;
    }

    ::ng-deep {
        .mat-mdc-tab-body-content {
            overflow: hidden;
        }

        .mat-mdc-tab {
            &.mdc-tab--active {
                background-color: var(--stc-white-color) !important;
            }

            &:not(.mdc-tab--active) {
                color: #64748B !important;
            }
        }
    }

    }