<div class="api-standard-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="api-standard-form_container">
      <div class="api-standard-form_fields">
        <div class="form-group">
          <mat-label>API Name</mat-label>
          <mat-form-field class="full-width">
            <input matInput placeholder="Add name" formControlName="apiName" />
            <mat-error *ngIf="form.get('apiName')?.hasError('required')">
              API Name is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-label>Business Area</mat-label>
          <mat-form-field>
            <input
              matInput
              placeholder="Add Business area"
              formControlName="businessArea"
            />
            <mat-error *ngIf="form.get('businessArea')?.hasError('required')">
              Business Area is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-label>Type</mat-label>
          <mat-form-field>
            <input matInput placeholder="Add Type" formControlName="type" />
            <mat-error *ngIf="form.get('type')?.hasError('required')">
              Type is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-label>Domain</mat-label>
          <mat-form-field>
            <input matInput placeholder="Add Domain" formControlName="domain" />
            <mat-error *ngIf="form.get('domain')?.hasError('required')">
              Domain is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-label>IPR Mode</mat-label>
          <mat-form-field>
            <input
              matInput
              placeholder="Add IPR mode"
              formControlName="iprMode"
            />
            <mat-error *ngIf="form.get('iprMode')?.hasError('required')">
              IPR Mode is required.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-label>Version</mat-label>
          <mat-form-field>
            <input
              matInput
              placeholder="Add Version"
              formControlName="version"
            />
            <mat-error *ngIf="form.get('version')?.hasError('required')">
              Version is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group mt-3">
        <mat-label>Overview</mat-label>
        <mat-form-field class="api-standard-form_full-width">
          <textarea
            matInput
            placeholder="Add Overview"
            formControlName="overview"
            rows="5"
          ></textarea>
          <mat-error *ngIf="form.get('overview')?.hasError('required')">
            Overview is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="api-standard-form_actions">
      <button mat-button type="button" (click)="onCancel()">Cancel</button>
      <button mat-button type="submit">Add</button>
    </div>
  </form>
</div>
