@import '../../../../../styles/fonts';
.financial-scorecard
{
  &-header
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-title
    {
      text-transform: capitalize;
      color:var(--stc-purple-light-color);
      @extend .mediunPoppins;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
    &-dropdowns
    {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
