<section class="financial-scorecard">
  @for (item of financialScorcardData(); track item.id;let first = $first) {
  <div class="financial-scorecard-header">
    <p class="financial-scorecard-header-title" [class.mt-4]="!first">
      {{ item.title }}
    </p>
    @if(first){
    <form
      class="financial-scorecard-header-dropdowns"
      [formGroup]="filtersForm"
    >
      <stc-apps-select-drop-down
        [label]="''"
        formControlName="month"
        [options]="monthsArr"
        [outputValue]="'id'"
        (selectChange)="selectMonth()"
      />
      <stc-apps-select-drop-down
        [label]="''"
        formControlName="year"
        [options]="years()"
        [outputValue]="'id'"
        (selectChange)="selectYear()"
      />
    </form>
    }
  </div>
  <div class="financial-scorecard-costs">
    <div class="row">
      @for (kpi of item.kpisData; track kpi.id) {
      <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
        <stc-apps-kpi-card [kpi]="kpi" />
      </div>
      }
    </div>
  </div>
  }
</section>
