@import '../../../../../styles/fonts';
::ng-deep .financial-scorecard
{
  &-header
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-title
    {
      text-transform: capitalize;
      color:var(--stc-purple-light-color);
      @extend .mediunPoppins;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
    &-dropdowns
    {
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;
      top: 10px;
      .mat-mdc-form-field
      {
        width:100px !important;
        height:60px !important;
        .mat-mdc-text-field-wrapper
        {
          border-radius: 5px !important;
        }
        .mdc-line-ripple
        {
          display: none !important;
        }
        .mat-mdc-select-arrow
        {
          color:var(--stc-purple-color);
        }
        .mat-mdc-select-min-line
        {
          color:var(--stc-black-color);
          @extend .stcFont;
        }
        .mat-mdc-select-trigger
        {
          position: relative !important;
          top:-8px !important;
        }
      }
    }
  }
}
// .form-select-input
// {
//   option
//   {

//   }
// }
