.program-details {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &_header {
    display: flex;
    align-items: center;
    padding-bottom: 33px;

    h2 {
      font-family: 'poppins-bold';
      text-transform: capitalize;
    }
  }

  &_slider {
    h4 {
      font-size: 18px;
      //margin-bottom: 30px;
      color: var(--semiBlueColor);
    }
    .range-holder {
      background-color: var(--whiteColor);
      padding: 30px 24px 20px 24px;
      border-radius: 8px;
    }
  }

  &_filter {
    flex: 0.5;
    color: var(--semiBlueColor);
  }

  &_kpis {
    background-color: var(--whiteColor);
    box-shadow: 0px 0px 20px 0px #00000014;
    border: none;
    padding: 24px 30px;

    h3 {
      color: var(--stc-color);
      margin-bottom: 34px;
      text-transform: capitalize;
      font-family: 'poppins-regular';
    }
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: var(--whiteColor);
    border: 1px solid var(--darkGreyColor);
    border-radius: 4px;
    margin: 0 !important;
  }
  ::ng-deep {
    stc-apps-select-drop-down {
      .mat-mdc-form-field-infix {
        padding-top: inherit !important;
        padding-bottom: inherit !important;
      }

      .mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
        transform: none;
      }
    }
  }
}
