@import '../../../../../../../../libs/styles/src/scss/core/variables/colors';

.expansion-panel {
  background-color: var(--whiteColor);
  padding: 15px 39px;

  & > div {
    gap: 10px 0;
  }
}

::ng-deep {
  // .mat-expansion-panel-header .mat-expansion-indicator {
  //   border-radius: 50%;
  //   background-color: #ccc;
  //   padding:0px 5px;
  //   transition: transform 0.3s;
  // }
  // .mat-expansion-panel-header.mat-expanded .mat-expansion-indicator:after {
  //  // content: "\25B2"; /* Unicode character for the arrow */
  //   color: #fff;
  //   //font-size: 20px;
  // }
  stc-apps-expansion-panel-header {
    margin-right: 20px;
  }
  .mat-expansion-panel {
    background-color: var(--lighterGreyColor) !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    padding: 16px 0px 16px 8px;

    .mat-expansion-panel-header {
      // margin-right: 14px !important;
      min-height: 220px !important;
      height: 100%;
      align-items: start !important;
      padding: 0px 14px;
    }
  }
  .mat-expansion-panel-body {
    padding: 0px !important;
    margin: 0px 17px !important;
  }
}

.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled='true']):hover {
  background-color: transparent !important;
}

@media screen and (max-width: 1120px) {
  ::ng-deep .mat-expansion-panel-body {
    margin-top: 30px !important;
  }
}
