<div class="expansion-panel">
  <div class="row">
    <div class="col-12">
      <stc-apps-panels-container></stc-apps-panels-container>
    </div>
    @for (item of items; track item) {
    <div class="col-lg-4 col-md-6 col-sm-12">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <stc-apps-expansion-panel-header
            class="w-100"
          ></stc-apps-expansion-panel-header>
        </mat-expansion-panel-header>

        <stc-apps-expansion-panel-body
          [percentage]="item.percent"
        ></stc-apps-expansion-panel-body>
      </mat-expansion-panel>
    </div>
    }
  </div>
</div>
