:root {
  --stc-purple-color: #4f008c;
  --stc-purple-dark-color: #37045f;
  --stc-purple-light-color: #40036e;
  --stc-purple-lighter-color: #4f008c1a;
  --stc-white-color: #ffffff;
  --stc-pink-color: #ff375e;
  --stc-pink-light-color: #5b067e;
  --stc-white-light-color: #ffffff0d;
  --stc-grey-light-color: #f5f6fa;
  --stc-grey-lighter-color: #fdfdfd;
  --stc-grey-dark-color: #8e9aa0;
  --stc-green-dark-color: #00c48c;
  --stc-green-light-color: #00c48c1a;
  --stc-green-lighter-color: #00c48c14;
  --stc-red-light-color: #ff375e1a;
  --stc-red-dark-color: #ff375e;
  --stc-blue-light-color: #e4ddee;
  --stc-black-color: #000000;
  --stc-dark-grey-color: #121212;
  --stc-light-yellow-color: #ffc55526;
  --stc-dark-yellow-color: #ae7c1c;
  --stc-lighter-blue-color: #61cbd64d;
  --stc-light-blue-color: #0d7280;
  --stc-sky-color: #1cced8;
  --stc-lighter-sky-color: #1cced80f;
  --stc-light-sky-color: #1cced857;
  --stc-lighter-sky-color2: #61cbd61a;
  --stc-light-sky-color2: #3db5c1;
  --stc-light-pink-color: #f2f4f8;
  --stc-light-grey-color: #e8e8e8;
  --stc-light-grey-color2: #6c6c89;
  --stc-light-grey-color3: #8a8aa3;
  --stc-light-grey-color4: #a9a9bc;
  --stc-light-grey-color5: #f3f4f6;
  --stc-light-grey-color6: #e2e8f0;
  --stc-dark-blue-color: #1d252d;
  --stc-lighter-grey-color: #8e9aa01a;
  --stc-lighter-black-color: #232325;
  --stc-lighter-grey-color2: #6f727a;
  --stc-lighter-grey-color3: #e4e3e2;
  --stc-dark-grey-color2: #1b1b1b;
  --stc-red-color: #f32d2d;
  --stc-red-color2: #ff1a1a;
  --stc-orange-color: #ff6a39;
  --stc-grey-color: #292d32;
  --stc-grey-color2: #121217;
}
