.kpi-dashboard {
    &_layout {
        background: var(--whiteColor);
        position: relative;
        top: -75px;
        width: 96%;
        left: 2%;
        border-radius: 7px;
    }

    &_title {
        font-size: 24px;
        font-weight: 800;
        color: var(--stc-color);
        margin-bottom: 16px;
    }

    &_tabs {
        border-radius: 7px;
        background-color: var(--stc-white-color);

        stc-apps-tabs-navigation {
            ::ng-deep {
                .mat-mdc-tab-header {
                    width: 30%;
                    padding-inline-start: 0;
                }

                .mat-mdc-tab .mdc-tab-indicator__content--underline {
                    border: 1px solid var(--stc-pink-color) !important;
                }
            }
        }

        &_container {
            padding: 16px;
            background-color: var(--stc-lightGrey-color);
        }
    }
}