<div class="kpi-dashboard">
  <stc-apps-breadcrumb [bgColor]="'primary'"></stc-apps-breadcrumb>
  <stc-apps-banner> </stc-apps-banner>

  <div class="kpi-dashboard_layout">
    <div class="row mt-4">
      <div class="kpi-dashboard_tabs">
        <stc-apps-tabs-navigation
          [tabs]="customTabs"
          [selectedTab]="currentTab()"
          (tabChanged)="onTabChanged($event)"
        >
          <ng-template #tabContent let-tab let-i="index">
            <div class="kpi-dashboard_tabs_container">
              <div class="row gy-4">
                <div class="col-12">
                  <h2 class="kpi-dashboard_title">Commercial Unit Details</h2>
                </div>
                <div class="col-md-4">
                  <stc-apps-actual-progress
                    [title]="'Actual Progress 2025'"
                  ></stc-apps-actual-progress>
                </div>
                <div class="col-md-8">
                  <stc-apps-di-progress></stc-apps-di-progress>
                </div>
                <div class="col-12">
                  <stc-apps-kpi-list-section></stc-apps-kpi-list-section>
                </div>
              </div>
            </div>
          </ng-template>
        </stc-apps-tabs-navigation>
      </div>
    </div>
  </div>
</div>
