<div class="progress-card" [ngClass]="getPercentageClass()">
  <div class="progress-card_title">{{ title() }}</div>
  <div class="progress-card_percent-holder d-flex justify-content-between">
    <div class="progress-card_precantage" [ngClass]="getPercentageClass()">
      {{ getPercentageDisplay() }}
    </div>
    <div class="progress-card_icon">
      <stc-apps-progress-percentage
        [percentage]="precentage()"
        [thresholds]="thresholds()"
      ></stc-apps-progress-percentage>
    </div>
  </div>
</div>
