.kpi-actions {
    display: flex;
    align-items: center;
    gap: 32px;

    span {
        font-size: 15px;
        color: var(--stc-color);
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
    }

    stc-apps-button {
        ::ng-deep {
            button {
                background-color: var(--stc-pink-color);
                color: var(--whiteColor);
            }
        }
    }

    .menu-button {
        border: none;
        background: transparent;
    }
}

::ng-deep {
    .mat-mdc-menu-content {

        button,
        mat-icon {
            color: var(--stc-color) !important;
        }
    }
}