<div class="kpi-actions">
  <span (click)="onUpdateValue()">Update actual value</span>

  <!-- Activity Log Button -->
  <stc-apps-button
    [buttonText]="'activity log'"
    [buttonType]="'danger'"
    (click)="onActivityLog()"
    [buttonIconV6]="'far fa-file'"
  ></stc-apps-button>

  <!-- View List Button -->
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="KPI actions menu" class="menu-button">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onEdit()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button mat-menu-item (click)="onDelete()">
   <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
</div>
