.users-settings {
  margin-inline: 30px;
  position: relative;
  top: -130px;
  .top-info {
    min-height: 225px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
}
