<div class="users-settings">
  <div
    class="top-info"
    *ngIf="userService.getCurrentSystem() === 'FRAUD_ManagementUsers'"
  >
    <div class="row">
      <div class="col-md-4">
        <div class="static register">
          <div class="icon">
            <i class="fas fa-user-friends"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ totalUsers }}</div>
            <div class="title">{{ 'Total Users' }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="static in-progress">
          <div class="icon">
            <i class="fas fa-user-edit"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ creatorUsers }}</div>
            <div class="title">{{ 'Creator Users' }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="static pending">
          <div class="icon">
            <i class="fas fa-user-check"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ approverUsers }}</div>
            <div class="title">{{ 'Approver Users' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="filter-box card" [formGroup]="filterSelect">
    <div class="row">
      <!-- <div class="col-md-3">
        <div class="input-group stc-input-group custom-input mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
          <input type="text" matInput #input placeholder="{{ 'Search for user name'  }}" class="form-control stc-input"
            (keyup)="searchFilter($event)" />
        </div> -->
      <div class="col">
        <div class="input-group stc-input-group custom-input mb-3">
          <span class="input-group-text" id="basic-addon1"
            ><i class="fas fa-search"></i
          ></span>
          <input
            type="text"
            matInput
            #input
            placeholder="{{ 'Search for user name' }}"
            class="form-control stc-input"
            (keyup)="searchFilter($event)"
          />
        </div>
      </div>

      <div class="col-md-7">
        <div class="row">
          <div class="offset-md-1 col-md-5">
            <stc-apps-select-drop-down
              [label]="
                userService.getCurrentSystem() !== 'Score_Card_Report_DB'
                  ? userService.translateText('privilege')
                  : 'Role'
              "
              [selectType]="'filter-select-box'"
              [options]="privilege"
              [labelName]="'groupName'"
              (selectChange)="handleSelectChange($event, 'privilege')"
              formControlName="privilegeSelect"
              [defaultAll]="true"
            ></stc-apps-select-drop-down>
          </div>
          <div
            class="col-md-5"
            *ngIf="
              userService.getCurrentSystem() !== 'Dynamic_Report_Flow' &&
              userService.getCurrentSystem() !== 'Business_Excellence_Dashboard'
            "
          >
            <stc-apps-select-drop-down
              [label]="
                userService.getCurrentSystem() !== 'Score_Card_Report_DB'
                  ? userService.translateText('team')
                  : 'Sector'
              "
              [selectType]="'filter-select-box'"
              [options]="teams"
              (selectChange)="handleSelectChange($event, 'team')"
              [defaultAll]="true"
              formControlName="teamSelect"
            ></stc-apps-select-drop-down>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <stc-apps-button
          [buttonText]="'Add new user'"
          [buttonType]="'primary'"
          [buttonIcon]="' fa-plus-circle'"
          (btnClick)="addUserNavigate()"
        ></stc-apps-button>
      </div>
    </div>
  </div>
  @if(tableData){
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnssSchema">
      <th mat-header-cell *matHeaderCellDef>
        {{ userService.translateText(col.label) }}
      </th>
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="col.key">
          <div class="info-name" *ngSwitchCase="'name'">
            <img
              src="{{ element.profileIcon }}"
              alt=""
              *ngIf="element.profileIcon"
            />
            <div class="name">
              <h4>{{ element[col.key] }}</h4>
              <small>{{ element.email }}</small>
            </div>
          </div>
          <span class="cell-text" *ngSwitchCase="'userGroups'">
            {{ userService.getUserPrivilege(element) }}
          </span>
          <span class="cell-text" *ngSwitchCase="'teamDto'">
            {{ userService.getUserTeam(element) }}
          </span>
          <div class="btns-action" *ngSwitchCase="'actions'">
            <button
              mat-button
              class="btn edit-btn-table"
              (click)="editItem(element.id)"
            >
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button
              mat-button
              class="btn delete-btn-table"
              (click)="deleteItem(element.id)"
            >
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
          <span class="cell-text" *ngSwitchDefault>
            {{ element[col.key] }}
          </span>
        </div>
      </td>
    </ng-container>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns?.length">
        <div class="message-box">
          <img src="assets/Group 590.png" alt="" />
          @if(this.dataSource.filter){
          <h3>{{ 'No users have found' }}</h3>

          }@else {
          <h3>{{ 'No users yet' }}</h3>
          <p>
            {{ 'You didn&lsquo;t add any user yet, let&lsquo;s add new user' }}
          </p>
          <stc-apps-button
            [buttonText]="'Add new user'"
            [buttonType]="'primary'"
            [buttonIcon]="' fa-plus-circle'"
            (btnClick)="addUserNavigate()"
          ></stc-apps-button>
          }
        </div>
      </td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  }

  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15, 20]"
    [showFirstLastButtons]="true"
    [hidePageSize]="true"
  >
  </mat-paginator>
  <!-- <div class="row">
    <div class="col-md-12">
      @if(tableData){
      <stc-apps-custom-table [items]="tableData" [headers]="columnsSchema" [length]="totalUsers"
        (doAction)="tableAction($event)" [paginate]="true" [applyFilter]="true" [filter]="filterString"
        [paginationConfig]="{
                    pageCount: 10,
                    showTotal: false,
                    paginationIq: 'smart'
                  }" (paginationEvent)="paginate($event)">
      </stc-apps-custom-table>
      <ng-template #statusCustomTemplate let-header="header" let-item="item">
        <p class="custom-class-template" [ngClass]="{
                      'completed-status': item[header.key] === 'Completed',
                    }">
          cccccc
        </p>
      </ng-template>

      }
    </div>
  </div> -->
</div>
<stc-apps-dialog id="delete-modal" [width]="'meduim'">
  <h3 class="mb-4">Remove user</h3>
  <p class="text">
    <span>{{ 'You&lsquo;re about to Remove User ,' }} </span>
    <strong>{{ user?.name }}</strong>

    <span> {{ 'and his / her account' }} </span>

    <strong>{{ user?.email }}</strong>
    <span>
      {{ 'will be denied from the system accessibility, Are you sure?' }}</span
    >
  </p>

  <div class="row mt-4">
    <div class="col-9 offset-3">
      <div class="row mt-4">
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <stc-apps-button
            [buttonText]="'Cancel'"
            [buttonType]="'gray-outline'"
            (btnClick)="dialogService.close()"
          ></stc-apps-button>
        </div>
        <div class="col-md-5">
          <stc-apps-button
            [buttonText]="'Delete User'"
            [loading]="isDeleteLoader"
            [buttonType]="'danger-outline'"
            (btnClick)="confirmDelete()"
          ></stc-apps-button>
        </div>
      </div>
    </div>
  </div>
</stc-apps-dialog>
