@import '../../../../../styles/fonts';
.strategic-scorecard
{
  &-title
  {
    text-transform: capitalize;
    color:var(--stc-purple-light-color);
    @extend .mediunPoppins;
    font-size: 18px;
    padding: 0;
    margin: 0;
  }
}
