<div class="login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-5 pb-5">
        <div class="card">
          <div class="card-img">
            <img src="assets/images/login/stc.png" alt="stc" />
          </div>
          <h4 class="">{{ 'login_with_email' | translate }}</h4>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 offset-md-4">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="mb-3">
                    <stc-apps-input
                      [className]="'stc-input'"
                      [inputPlaceholder]="'user Name'"
                      [inputId]="'username'"
                      formControlName="username"
                      [inputIcon]="'fa-user'"
                    ></stc-apps-input>
                  </div>

                  <div class="mb-3">
                    <stc-apps-input
                      [className]="'stc-input'"
                      [inputId]="'password'"
                      formControlName="password"
                      [inputType]="'password'"
                      [inputIcon]="'fa-lock'"
                    ></stc-apps-input>
                  </div>

                  <stc-apps-button
                    [buttonText]="'login' | translate"
                    [buttonType]="'primary'"
                    [buttonDisable]="false"
                    (btnClick)="onSubmit()"
                  ></stc-apps-button>
                </form>
                <span class="divider-line my-4">{{ 'or' | translate }}</span>
                <stc-apps-button
                  [buttonText]="'login_with_stc' | translate"
                  [buttonDisable]="false"
                ></stc-apps-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
