@import '../../../../styles/shared-styles.scss';

.api-standard_filters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}



::ng-deep {
    .p-datepicker {
        table {
            width: max-content;

            tbody {
                tr:not(.table-header) {
                    border: none;

                    td {
                        padding: 0;
                    }
                }
            }
        }
    }

    @include calendar-styles;
}