<div class="white-box">
  <div class="row">
    <div class="col-md-4">
      <h3>Report Types Distribution Category
      </h3>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-5">
          <stc-apps-select-drop-down [label]="''" [matLabel]="'Category'"
            [options]="categories()"></stc-apps-select-drop-down>
        </div>

        <div class="col-md-7">
          <stc-apps-date-picker-range [disableInput]="true" [disableFilterFlag]="true"
            (datePickerChangeEvent)="datePickerChanged($event)">
          </stc-apps-date-picker-range>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="">
        @if(chartData && chartData.length !== 0)
        {
        <div class="" style="height: 300px;">

          <stc-apps-bar-chart [data]="chartData" [isFinancialStatus]="false" />
        </div>}
        @else {
        <p class="noData">No Data To Display </p>
        }
      </div>


    </div>
  </div>
</div>
