@import '../../../../styles/variables.scss';

.tab {
  width: 90%;
  height: 90%;
  flex: 1;
  font-size: 20px;
  padding: 18px 32px 20px 32px;
  display: block;
  margin-inline-end: 25px;
  border: none;
  background-color: var(--stc-grey-color);
  color: var(--grey-color);
  font-family: var(--stc-font-base);
  border-radius: 8px;
 
  &.active {
    background-color: var(--stc-coral-color);
    color: var(--white);
    font-weight: 500;
  }

  &:hover {
    background-color: var(--stc-coral-color);
    color: var(--white);
    font-weight: 500;
  }
}
