@import '../../../../styles/variables.scss';

.tab-container {
  width: 20rem;
  height: 4.5rem;
  margin-inline-end: 25px;
  overflow: auto;

  .tab {
    width: 100%;
    height: 100%;
    flex: 1;
    font-size: 20px;
    padding: 10px 15px;
    display: block;
    border: none;
    background-color: var(--stc-grey-color);
    color: var(--grey-color);
    font-family: var(--stc-font-base);
    border-radius: 8px;
    text-wrap: wrap;

    &.active {
      background-color: var(--stc-coral-color);
      color: var(--white);
      font-weight: 500;
      overflow: auto;
    }

    &:hover {
      background-color: var(--stc-coral-color);
      color: var(--white);
      font-weight: 500;
      overflow: auto;
    }
  }

}