<div class="comments">
  <div class="comments_form">
    <div class="comments_form_header">
      <h3>{{ title() }}</h3>
      <img src="assets/images/chat.svg" />
    </div>
    <div class="comments_form_content">
      <div
        #contentEditable
        contenteditable="true"
        [attr.data-placeholder]="placeholder()"
        class="comments_form_editor"
        (input)="onInput($event)"
        (keyup)="onKeyUp($event)"
      ></div>
    </div>
  </div>
  @if (showDropdown) {
  <ul #mentionList class="comments_mentions">
    @for (item of filteredList; track item; let index = $index) {

    <!-- <stc-apps-profile
      [name]="item.name"
      [comment]="item.comment"
      [lastItem]="index === filteredList.length - 1 ? true : false"
      (click)="addMention(item.name)"
      [ngClass]="{ active: index === activeMentionIndex }"
    ></stc-apps-profile> -->
    <li
      (click)="addMention(item)"
      [ngClass]="{ active: index === activeMentionIndex }"
    >
      <stc-apps-profile
        [name]="item[mentionProperty()]"
        [comment]="item.comment"
        [lastItem]="index === filteredList.length - 1"
      ></stc-apps-profile>
    </li>
    }
  </ul>
  }
</div>
