.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--stc-color);
  color: var(--whiteColor);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.floating-menu {
  position: fixed;
  bottom: 70px;
  right: 27px;
  background: var(--whiteColor);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.floating-menu button {
  padding: 10px 20px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}
