<div class="layout">
  <div class="box edit-box">
    <div class="counts">
      <div class="item-c c1">
        <span>All Reports</span>
        <p class="">{{statisticData.totalCount}}</p>
      </div>
      <div class="item-c c2">
        <span>Completed</span>
        <p class="">{{statisticData.completed}}</p>
      </div>
      <div class="item-c c3">
        <span>Pending</span>
        <p class="">{{statisticData.pending}}</p>
      </div>
      <div class="item-c c4">
        <span>Deleted</span>
        <p class="">{{statisticData.deleted}}</p>
      </div>

    </div>
  </div>
  <div class="charts">
    <div class="row">
      <div class="col-md-12">
        <stc-apps-reports-chart [categories]="categories"></stc-apps-reports-chart>
      </div>
      <div class="col-md-6">
        <stc-apps-reports-sla-chart></stc-apps-reports-sla-chart>
      </div>
      <div class="col-md-6">
        <stc-apps-report-types-chart [categories]="categories"></stc-apps-report-types-chart>
      </div>
      <div class="col-md-12">
        <stc-apps-avg-response-chart [categories]="categories"></stc-apps-avg-response-chart>
      </div>
      <div class="col-md-12">
        <stc-apps-avg-response-chart [categories]="categories" [perUser]="true"></stc-apps-avg-response-chart>
      </div>
    </div>
  </div>

</div>