@import '../../../styles/shared-styles.scss';

.api-test {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_filter {
        @extend .component-wrapper;

        h5 {
            color: var(--grey-color);
            margin-bottom: 25px;
        }

        &_fields {
            display: flex;
            gap: 25px;
            align-items: end;

            .form-group {
                flex: 1;

                label {
                    margin-bottom: 8px;
                }

                span {
                    padding: 0 10px;
                    color: #6B7280;
                }
            }

            mat-form-field {
                border: 1px solid #D1D5DB;

                ::ng-deep {
                    .mat-mdc-form-field-subscript-wrapper {
                        display: none;
                    }
                }
            }

            stc-apps-button {
                flex: 0.3;
                margin-top: 10px;
            }
        }
    }

    &_lists {
        display: flex;
        gap: 16px;
        background: initial;

        stc-apps-status-list {
            flex: 1;
            @extend .component-wrapper;
        }
    }

    &_result {
        @extend .component-wrapper;

        &_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            h5 {
                color: var(--darkPurbleColor);
                margin: 0;
            }
        }

        stc-apps-custom-table {
            ::ng-deep {
                .table-header {
                    background-color: #E5E7EB;
                }

                .arrows-holder {
                    display: none;
                }
            }
        }
    }
}