@import '../../../styles/shared-styles.scss';

.api-test {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_filter {
        @extend .component-wrapper;

        h5 {
            color: var(--grey-color);
            margin-bottom: 25px;
        }

        &_fields {
            display: flex;
            gap: 25px;
            align-items: end;

            >div {
                display: flex;
                flex-direction: column;
                gap: 8px;
                flex: 1;

                ::ng-deep {
                    .p-dropdown {
                        width: 100%;
                    }
                }
            }

            stc-apps-button {
                flex: 0.3;
                margin-top: 10px;

                @media screen and (max-width: 768px) {
                    flex: 1;
                }
            }

            @media screen and (max-width: 990px) {
                flex-direction: column;
                align-items: baseline;

                >div {
                    width: 100%;
                }

                stc-apps-button {
                    width: 100%;
                }
            }
        }
    }

    &_lists {
        display: flex;
        gap: 16px;
        background: initial;

        stc-apps-status-list {
            flex: 1;
            @extend .component-wrapper;
        }

        @media screen and (max-width: 990px) {
            flex-direction: column;
        }
    }

    &_result {
        @extend .component-wrapper;

        &_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            h5 {
                color: var(--darkPurbleColor);
                margin: 0;
            }

            p-splitbutton {
                ::ng-deep {
                    .p-splitbutton-defaultbutton {
                        border-right: none;
                        padding-right: 0;
                        color: #64748B;
                        font-weight: 700;
                    }

                    .p-splitbutton-menubutton {
                        border-left: none;
                        padding-left: 0;
                        color: #64748B;
                    }

                    p-tieredmenu {
                        ul {
                            padding-inline-start: 0;

                            li {
                                a {
                                    text-decoration: none;
                                    display: flex;
                                    justify-content: space-between;

                                    .p-menuitem-icon {
                                        order: 2;
                                    }

                                    .p-menuitem-text {
                                        order: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}