<div class="api-test">
  <div class="api-test_filter" [formGroup]="apiTestForm">
    <h5>Paste API link then select standard from list</h5>
    <div class="api-test_filter_fields">
      <div class="form-group">
        <label for="apiLinkInput">API Link</label>
        <mat-form-field appearance="fill">
          <input
            matInput
            type="text"
            id="apiLinkInput"
            class="form-control"
            formControlName="apiLink"
            placeholder="Paste API link"
          />
          <span matPrefix>http://</span>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="apiLinkInput">Standard</label>
        <mat-form-field>
          <mat-select class="form-control" formControlName="standard">
            <mat-option value="" selected>Select Standard</mat-option>
            <mat-option *ngFor="let standard of standards" [value]="standard">
              {{ standard }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <stc-apps-button
        [buttonText]="'Add To Queue'"
        [buttonType]="'stc-color-outline'"
        [buttonDisable]="apiTestForm.invalid"
        (click)="sendToQueue()"
      ></stc-apps-button>
      <stc-apps-button
        [buttonText]="'Add & Run'"
        [buttonType]="'primary'"
        [buttonDisable]="apiTestForm.invalid"
      ></stc-apps-button>
    </div>
  </div>

  <div class="api-test_lists">
    <stc-apps-status-list
      [title]="'Queue - In Progress'"
      [items]="queueItems"
      (itemsChange)="onItemsChange($event)"
      (completedItemsChange)="onCompletedItemsChange($event)"
    ></stc-apps-status-list>
    <stc-apps-status-list
      [title]="'Completed Tests'"
      [items]="completedItems"
      (itemSelected)="onCompletedItemClick($event)"
    ></stc-apps-status-list>
  </div>

  <div class="api-test_result">
    <div class="api-test_result_header">
      <h5>Result of selected test</h5>
      @if (tableData.length > 0) {
      <stc-apps-button
        [buttonText]="'Export result'"
        [buttonType]="'stc-color-outline'"
      ></stc-apps-button>
      }
    </div>
    <stc-apps-table-list
      [dataSource]="tableData"
      [columnSchema]="columnsSchema"
      [noDataMessage]="'Pick a Completed  Test to View Its Result'"
    ></stc-apps-table-list>
  </div>
</div>
