<div class="api-test-form">
  <form [formGroup]="apiTestForm">
    <div formArrayName="tests">
      @for (test of tests.controls; let i = $index; track test) {
      <div [formGroupName]="i">
        @if (!isTestRunning(i)) {
        <div class="api-test-form_controls">
          <!-- Remove Button -->
          <a type="button" (click)="removeTest(i)">
            <img
              src="assets/images/close-circle.svg"
              alt="Remove Icon"
              class="button-icon"
            />
          </a>
          <!-- API Link Input -->
          <div class="form-group">
            <textarea
              type="text"
              class="form-control"
              id="apiLink-{{ i }}"
              formControlName="apiLink"
              placeholder="Paste API link"
            ></textarea>
          </div>

          <!-- Standard Dropdown -->
          <div class="form-group">
            <select
              class="form-control"
              id="standard-{{ i }}"
              formControlName="standard"
            >
              <option value="" selected>Select Standard</option>
              <option *ngFor="let standard of standards" [value]="standard">
                {{ standard }}
              </option>
            </select>
          </div>
        </div>
        } @else {
        <div class="api-test-form_status">
          <div><span>Test ID:</span> #{{ getTestId(i) }}</div>
          <div><span>API Name:</span> {{ test.get('apiLink')?.value }}</div>
          <div>
            <span>Standard Name:</span> {{ test.get('standard')?.value }}
          </div>
          <div><span>Over all Results:</span> {{ getOverallResult(i) }}</div>

          <!-- <div class="loader" *ngIf="isLoading"></div> -->
          <button type="button" (click)="cancelTest(i)">
            <img
              src="assets/images/close-circle.svg"
              alt="Remove Icon"
              class="button-icon"
            />Cancel
          </button>
        </div>
        }
      </div>
      }
    </div>

    <!-- Add New and Run Buttons -->
    <div class="api-test-form_actions">
      <button
        (click)="addTest()"
        [disabled]="!isLastTestValid()"
        [ngClass]="{
          'btn-enabled-add': isLastTestValid(),
          'btn-disabled-add': !isLastTestValid()
        }"
      >
        <img
          src="assets/images/add-circle.svg"
          alt="Add Icon"
          class="button-icon"
        />
        Add new API test
      </button>
      <button
        (click)="runTests()"
        [disabled]="!apiTestForm.valid"
        [ngClass]="{
          'btn-enabled-run': apiTestForm.valid,
          'btn-disabled-run': !apiTestForm.valid
        }"
      >
        <img
          src="assets/images/video-circle.svg"
          alt="Run Icon"
          class="button-icon"
        />
        Run
      </button>
    </div>
  </form>
</div>
