.main {
  background-image: url('../assets/images/bg-app.png');
  background-size: cover;
  background-position: top;
  height: 100%;
  min-height: 100vh;
  padding: 20px;
}

// .main{

//   height: 100vh;
//   background-color: var(--stc-color);
//   padding: 0 25px;
//   padding-top: 20px;
// }
