.program-progress-card {
    background-color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
    padding: 30px;

    &_title {
        font-size: 20px;
        font-weight: 700;
        line-height: 21.6px;
        margin-bottom: 160px;
    }

    &_bar {
        margin-bottom: 40px;
    }
}