.title-holder {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  margin-right: 8px;
  white-space: normal;
}
.deep-thinking{
  margin-right: 8px;
}
.expand-icon {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
}
.thinking-icon {
  height: 18px;
  margin-bottom: 4px;
}
