<div>
  <div
    class="d-flex align-items-center cursor-pointer"
    (click)="toggleExpand()"
  >
    <div class="title-holder d-flex align-items-center">
      @if(title()==='Deep Thinking'){
      <span class="deep-thinking"
        ><img class="thinking-icon" src="assets/images/deep thinking.svg"
      /></span>
      }

      <span class="title"></span>
      {{ title() }}
    </div>
    <span class="expand-icon">
      <i [class]="isExpanded ? 'fas fa-angle-up' : 'fas fa-angle-down'"></i>
    </span>
  </div>

  <div *ngIf="isExpanded" [@fadeInOut] class="mb-3">
    <ng-content></ng-content>
  </div>
</div>
