.main-layout
{
  color: var(--stc-white-color);
  &-content
  {
    height: 100vh;
    display: grid;
    grid-template-columns:20% 80%;
    &-sidebar
    {
      background-color: var(--stc-purple-color);
    }
    &-page
    {
      background-color: var(--stc-purple-dark-color);
      background-image: url(../../assets/images/main-background.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  }
}
