<div class="login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 offset-md-1 mt-5 pb-5">
        <div class="card">
          <div class="card-img">
            <img src="assets/images/login/stc.png" alt="stc" />
          </div>
          <h4 class="">{{ 'login_with_email' | translate }}</h4>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 offset-md-4">
                <form>
                  <div class="input-group stc-input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"
                      ><i class="fas fa-user"></i
                    ></span>
                    <input
                      matInput
                      #input
                      class="form-control stc-input"
                      autocomplete="off"
                      [placeholder]="'user_Name' | translate"
                    />
                  </div>
                  <div class="input-group stc-input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"
                      ><i class="fas fa-lock"></i
                    ></span>
                    <input
                      type="password"
                      matInput
                      #input
                      class="form-control stc-input"
                      autocomplete="off"
                      [placeholder]="'password' | translate"
                    />
                  </div>

                  <stc-apps-button
                    [buttonText]="'login' | translate"
                    [buttonType]="'primary'"
                    [buttonDisable]="false"
                    (buttonAction)="onLogin()"
                  ></stc-apps-button>
                </form>
                <span class="divider-line my-4">{{ 'or' | translate }}</span>
                <stc-apps-button
                  [buttonText]="'login_with_stc' | translate"
                  [buttonDisable]="false"
                ></stc-apps-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
