<div class="casses-settings">
  <div class="top-info">
    <div class="row">
      <div class="col-md-3">
        <div class="static register">
          <div class="icon">
            <i class="fas fa-plus-square"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ totalRegisted }}</div>
            <div class="title">{{"registered_cases" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="static in-progress">
          <div class="icon">
            <i class="fas fa-retweet"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ totalInProgress }}</div>
            <div class="title">{{"inProgress_cases" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="static pending">
          <div class="icon">
            <i class="far fa-clock"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ totalPending }}</div>
            <div class="title">{{"pending_cases" | translate}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="static closed">
          <div class="icon">
            <i class="fas fa-flag-checkered"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ totalClosed }}</div>
            <div class="title">{{"closed_cases" | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-8">
      <div class="f-box">
        <div class="row align-items-center">
          <div class="col-md-3">
            <h3 class="table-title">{{"cases_list" | translate}}</h3>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <div class="input-group stc-input-group custom-input mb-3">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fas fa-search"></i
                  ></span>
                  <input
                    type="text"
                    matInput
                    #input
                    placeholder="{{'Search for Case Serial' | translate}}"
                    class="form-control stc-input"
                    (keyup)="searchFilter($event)"
                  />
                </div>
              </div>

              <div class="col-md-3">
                <stc-apps-button
                  [buttonText]="'filter' | translate"
                  [buttonType]="'gray-outline'"
                  [buttonIcon]="'fa-filter'"
                  (btnClick)="toggleFilter()"
                ></stc-apps-button>
              </div>
              <div class="col-md-4">
                <stc-apps-button
                  [buttonText]="'add_new_case' | translate"
                  [buttonType]="'primary'"
                  [buttonIcon]="' fa-plus-circle'"
                  (btnClick)="addCasseNavigate()"
                ></stc-apps-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource" matSort>
        <div class="spinner-container" *ngIf="isLoading">
          <mat-spinner></mat-spinner>
        </div>
        <ng-container
          [matColumnDef]="col.key"
          *ngFor="let col of columnsSchema"
        >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ col.label | translate}}
          </th>
          <td mat-cell *matCellDef="let element">
            <div [ngSwitch]="col.key">
              <div class="info-name" *ngSwitchCase="'customerName'">
                <div class="name">
                  <h4 >{{ element[col.key] }}</h4> <!--title="{{ element[col.key] }}"-->
                  <small class="serial-number">{{"serial_number" | translate}}: {{ element.caseSerialNumber }}</small>
                </div>
              </div>
              <div class="info-name" *ngSwitchCase="'caseStatus'">
                <div
                  class="case-status"
                  [ngClass]="
                    this.cassesService.getKeyByValue(
                      CaseStatus,
                      element[col.key]
                    )
                  "
                >
                  {{ element[col.key] | translate}}
                </div>
              </div>
              <div
                class="btns-action justify-content-end"
                *ngSwitchCase="'actions'"
              >
                <button
                  mat-button
                  class="btn details"
                  (click)="detailsNavigate(element.id)"
                >
                  {{"show_details" | translate }}
                </button>
              </div>
              <span class="cell-text" *ngSwitchDefault>
                {{ element[col.key] }}
              </span>
            </div>
          </td>
        </ng-container>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            <div class="message-box">
              <img src="../../assets/Group 590.png" alt="" />
              <h3>{{"no_cases_yet" | translate}}</h3>
              <p>{{"no_cases_msg" | translate}}</p>
              <stc-apps-button
                [buttonText]="'Add new Case' | translate"
                [buttonType]="'primary'"
                [buttonIcon]="' fa-plus-circle'"
              ></stc-apps-button>
            </div>
          </td>
        </tr>
        <!-- <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        <div class="message-box">
          <img src="../../assets/Group 597.png" alt="" />
          <h3>Sorry !</h3>
          <p>there are no data that match your search, please try again</p>
          <stc-apps-button
            [buttonText]="'Try another data sets'"
            [buttonType]="'primary'"
          ></stc-apps-button>
        </div>
      </td>
    </tr> -->
        <!-- <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        <div class="message-box">
          <img src="../../assets/Group 598.png" alt="" />
          <h3>No network connection !</h3>
          <p>Please connect to the network and try again</p>
          <stc-apps-button
            [buttonText]="'Try again'"
            [buttonType]="'primary'"
          ></stc-apps-button>
        </div>
      </td>
    </tr> -->
        <!-- <tr class="mat-row" *matError>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        No data matching the filter.
      </td>
    </tr> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 15, 20]"
        [showFirstLastButtons]="true"
        [hidePageSize]="true"
      >
      </mat-paginator>
    </div>
    <div class="col-md-4">
      <div class="pending-tasks">
        <h3 class="main-title"><i class="far fa-clock"></i> {{"pending_cases" | translate}}</h3>
        <ul class="tasks">
          <li class="mt-3" *ngFor="let item of allItems"> <!-- Each item is a pending task -->
            <div
              class="task"
              [ngClass]="cassesService.getKeyByValue(TaskCicle, item.taskName)"
              (click)="navigateToTask(item.caseID)"
              ngSwitch="{{ item.taskName }}"
            >
              <div class="circle-wrap" [ngSwitch]="item.taskName">
                <div class="circle">
                  <div class="mask full">
                    <div class="fill"></div>
                  </div>
                  <div class="mask half">
                    <div class="fill"></div>
                  </div>
                  <div
                    class="inside-circle"
                    *ngSwitchCase="TaskCicle.checkCase"
                  >
                    0%
                  </div>
                  <div
                    class="inside-circle"
                    *ngSwitchCase="TaskCicle.fillMoreInfo"
                  >
                    15%
                  </div>
                  <div
                    class="inside-circle"
                    *ngSwitchCase="TaskCicle.approveCase"
                  >
                    30%
                  </div>
                  <div
                    class="inside-circle"
                    *ngSwitchCase="TaskCicle.withinSlResponse"
                  >
                    45%
                  </div>
                  <div
                    class="inside-circle"
                    *ngSwitchCase="TaskCicle.breanchingSlResponse"
                  >
                    60%
                  </div>
                  <div
                    class="inside-circle"
                    *ngSwitchCase="TaskCicle.shouldEscalate"
                  >
                    70%
                  </div>
                  <div
                    class="inside-circle"
                    *ngSwitchCase="TaskCicle.shouldReEscalate"
                  >
                    80%
                  </div>
                  <div
                    class="inside-circle"
                    *ngSwitchCase="TaskCicle.sendToClose"
                  >
                    90%
                  </div>
                  <div class="inside-circle" *ngSwitchDefault></div>
                </div>
              </div>

              <div class="task-info">
                <h5>{{ item.taskName | translate}}</h5>
                <div class="date">
                  <span>Last updated:</span>
                  {{ item.createdDate | date : 'medium' }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<stc-apps-dialog id="filter-Modal">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    (blur)="(OnChangesForm)"
    class="p-3 pb-0"
  >
    <div class="inputs">
      <div class="row">
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputId]="'customerName'"
            [inputName]="'customer_name' | translate"
            formControlName="customerName"
          ></stc-apps-input>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputId]="'city'"
            [inputName]="'city' | translate"
            formControlName="city"
          ></stc-apps-input>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'existingServiceOrder'"
            [inputName]="'Existing Service Order' | translate"
            formControlName="existingServiceOrder"
          ></stc-apps-input>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'serviceType'"
            [inputName]="'service_type' | translate"
            formControlName="serviceType"
          ></stc-apps-input>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'existingPlate'"
            [inputName]="'existing_plate' | translate"
            formControlName="existingPlate"
          ></stc-apps-input>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'existingPhoneNumber'"
            [inputName]="'existing_phone_number' | translate"
            formControlName="existingPhoneNumber"
          ></stc-apps-input>
        </div>

        <div class="col-md-3">
          <stc-apps-date-picker
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'activationDate'"
            [inputName]="'activation_date' | translate"
            formControlName="activationDate"
          >
          </stc-apps-date-picker>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'WFMOrder'"
            [inputName]="'wfm_order' | translate"
            formControlName="wfmOrder"
          ></stc-apps-input>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'newPlate'"
            [inputName]="'new_plate' | translate"
            formControlName="newPlate"
          ></stc-apps-input>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'newServiceOrder'"
            [inputName]="'new_service_order' | translate"
            formControlName="newServiceOrder"
          ></stc-apps-input>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'newPhoneNumber'"
            [inputName]="'new_phone_number' | translate"
            formControlName="newPhoneNumber"
          ></stc-apps-input>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'contactNumber'"
            [inputName]="'contact_number' | translate"
            formControlName="contactNumber"
          ></stc-apps-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-8">
        <div class="btn-form-action d-flex justify-content-end">
          <stc-apps-button
            [buttonText]="'clear_filter' | translate"
            [buttonType]="'gray-outline'"
            (btnClick)="clearFormFilter()"
          ></stc-apps-button>

          <div class="mx-3"></div>
          <stc-apps-button
            [buttonText]="'filter' | translate"
            [buttonType]="'primary'"
            [buttonDisable]="disabled"
            (btnClick)="onSubmit()"
            [actionType]="'submit'"
          ></stc-apps-button>
        </div>
      </div>
    </div>
  </form>
</stc-apps-dialog>
