<div class="panels_container">
  <div class="d-flex">
    <div class="arrow mt-3">
      <img src="assets/images/Vector 40.svg" alt="" />
    </div>
    <div class="panels_container_title">
      <h4>Strategic</h4>
      <div class="title-desc d-flex">
        <img src="assets/images/orange-arrow.svg" alt="" />
        <p class="d-flex align-items-center">Execute strategy right</p>
      </div>
    </div>
  </div>
  <div class="row panles_container_body w-100">
    <!-- <stc-apps-expansion-panel class="w100"></stc-apps-expansion-panel> -->
     <!-- <stc-apps-score-card-tabs></stc-apps-score-card-tabs> -->
  </div>
</div>
