@import '../../../../styles/fonts.scss';
::ng-deep .quarter-achievements {
  background-color: var(--stc-white-color);
  border-radius: 10px;
  padding: 20px;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .main-header {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    .toggle-img {
      width: 20px;
      transition: 0.4s;
      transform: rotate(180deg);
    }
    .edit-img {
      width: 35px;
      display: inline-block;
      margin-right: 15px;
    }
    p {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 0;
    }
  }
  .main-title {
    font-weight: bold;
    font-size: 1rem;
    @extend .stcFont;
    margin: 0;
    color: var(--stc-purple-color);
    // margin: 0;
  }
  .p-accordion-tab {
    margin: 0;
    margin-bottom: 15px;
    border: 0 !important;
  }
  .p-accordion-header-link {
    text-decoration: none;
    @extend .stcFont;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #f3f4f6;
    color: var(--stc-purple-light-color);
    border-bottom: 0;
    border-radius: 10px;
    transition: 0.3s;
    border: 0;
    padding: 0;
    &:hover {
      background-color: #f3f4f6;
    }
  }
  .p-accordion-toggle-icon {
    display: none;
  }
  .p-accordion-content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    padding-top: 0;
    background-color: #f3f4f6;
  }
  .p-highlight {
    transition: 0.3s;
    border: 0;
    .p-accordion-header-link {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .main-header {
      .toggle-img {
        transform: rotate(0deg);
      }
    }
  }
}
.add-workstream-btn {
  border: 0;
  background-color: var(--stc-purple-color);
  border-radius: 5px;
  color: #fff;
  padding: 6px 12px;
  // margin-right: 10px;
  @extend .stcFont;
  font-size: 1rem;
  cursor: pointer;
  text-transform: capitalize;
  i {
    font-size: 0.8rem;
    display: inline-block;
    margin-right: 5px;
  }
}
.quarter-achievements-body {
  background-color: #fff;
  padding: 20px 0;
  border-radius: 10px;
  .main-title2 {
    border-bottom: 1px solid #e2e8f0;
    text-align: center;
    position: relative;
    padding: 0 20px 20px;
    img {
      width: 80px;
    }
    p {
      margin: 0;
      width: fit-content;
      position: absolute;
      left: 49%;
      transform: translate(-50%, -50%);
      top: 41%;
      @extend .stcFont;
      font-weight: bold;
      color: #000;
    }
  }
  .details {
    padding: 15px 20px 0;
    .details-card {
      border: 1px solid #e2e8f0;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 15px;
      padding-bottom: 0;
      p {
        margin: 0;
        @extend .stcFont;
        &.title {
          font-weight: 600;
          color: #000;
          margin-bottom: 15px;
        }
        &.desc {
          margin-bottom: 10px;
          font-size: 0.9rem;
          color: #000;
          white-space: pre-line;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
