<div class="dashboard">
  <div class="top-info">
    <div class="row">
      <div class="col-md-4">
        <div class="static register">
          <div class="icon">
            <i class="fas fa-user-friends"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ dashboardUserCases?.allCaseCount }}</div>
            <div class="title">{{ 'total_users' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="static in-progress">
          <div class="icon">
            <i class="fas fa-user-edit"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ dashboardUserCases?.rejectedCaseCount }}</div>
            <div class="title">{{ 'creator_users' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="static pending">
          <div class="icon">
            <i class="fas fa-user-check"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ dashboardUserCases?.approvedCaseCount }}</div>
            <div class="title">{{ 'approver_users' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="charts-section">
    <div class="chart-view line-chart">
      <div class="row">
        <div class="col">
          <div>
            <div class="chart-header">
              <div class="row">
                <div class="col-5">
                  <p class="chart-title">
                    {{direction === 'en' ? registeredCasesChart?.titleEn : registeredCasesChart?.titleAr}}
                  </p>
                </div>
                <div class="col">
                  <form [formGroup]="filterValueForm">
                    <div class="row">
                      <div class="col">
                        <stc-apps-select-drop-down
                          [label]="'Select Type' | translate"
                          [options]="filterType"
                          [labelName]="'name'"
                          [labelValue]="'value'"
                          formControlName="filterType"
                        ></stc-apps-select-drop-down>
                      </div>

                      <div class="col">
                        <stc-apps-select-drop-down
                          [label]="
                            (filterValueForm.get('filterType')?.value ===
                            filterType[0]
                              ? 'Select User'
                              : 'Select Team'
                            ) | translate
                          "
                          [options]="
                            filterValueForm.get('filterType')?.value ===
                            filterType[0]
                              ? users
                              : teams
                          "
                          [labelName]="'name'"
                          [labelValue]="'value'"
                          formControlName="filterValue"
                          (selectChange)="filterLineChartWithUser($event)"
                        ></stc-apps-select-drop-down>
                      </div>

                      <div class="col-2">
                        <!-- Put a calendar component here -->
                        <stc-apps-date-picker-weekly-range (dateRange)="filterLineChartWithDate($event)"></stc-apps-date-picker-weekly-range>
                        <!-- <stc-apps-date-picker-weekly-range (date)="filterRangeDate($event)"></stc-apps-date-picker-weekly-range> -->
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="chart" style = 'height: 400px;' *ngIf="registeredCasesChart && registeredCasesChart.chartData && registeredCasesChart.chartData.length > 0">
              <stc-apps-line-chart
                [chartData]="registeredCasesChart.chartData"
                [colors]="registeredCasesChart.lineChartColors"
              ></stc-apps-line-chart>
            </div>
            <div *ngIf="registeredCasesChart && registeredCasesChart.chartData && registeredCasesChart.chartData.length === 0">
              <p class = "emptyDataMsg">{{
                direction === 'en' ? 'there is no data' : 'لا توجد بيانات'
              }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="chart-view column-chart">
      <div class="row">
        <div class="col">
          <div class="chart-header">
            <div class="row">
              <div class="col-5">
                <p class="chart-title">{{direction === 'en' ? productivityTeamUsers?.titleEn : productivityTeamUsers?.titleAr}}</p>
              </div>
              <div class="col"></div>
              <div class="col-3">
                <stc-apps-select-drop-down
                  [options]="dateFilterOption"
                  [label]="'Select Date' | translate"
                  [labelName]="'name'"
                  [labelValue]="'value'"
                  (selectChange)="filterProductivityUser($event)"
                >
                </stc-apps-select-drop-down>
              </div>
            </div>
          </div>

          <div class="chart" style="height: 400px;" *ngIf="productivityTeamUsers && productivityTeamUsers.data && productivityTeamUsers.data.length > 0">
            <stc-apps-bar-chart
              [data]="productivityTeamUsers.data"
            ></stc-apps-bar-chart>
          </div>
          <div class="chart" *ngIf="productivityTeamUsers && productivityTeamUsers.data && productivityTeamUsers.data.length === 0">
            <p class = "emptyDataMsg">{{
              direction === 'en' ? 'there is no data' : 'لا توجد بيانات'
            }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="chart-view progress-circle-chart">
      <div class="row">
        <div class="col">
          <div class="chart-header">
            <div class="row">
              <div class="col-5">
                <p class="chart-title">
                  {{direction === 'en' ? casesTypes?.titleEn : casesTypes?.titleAr}}
                </p>
              </div>
              <div class="col"></div>
              <div class="col-3">
                <stc-apps-date-picker-range
                  (valueChangedEvent)="filterProgressCircle($event)"
                  >
                </stc-apps-date-picker-range>
              </div>
            </div>
          </div>

          <div class="chart" *ngIf="casesTypes && casesTypes.chartData && casesTypes.chartData && casesTypes.chartData.length > 0">
            <stc-apps-progress-circle-chart
              [data]="casesTypes.chartData"
              [colors]="casesTypes.chartColors"
              [totalCases]="casesTypes.totalCases"
            ></stc-apps-progress-circle-chart>
          </div>
          <div class="chart" *ngIf="casesTypes && casesTypes.chartData && casesTypes.chartData && casesTypes.chartData.length === 0">
            <p class = "emptyDataMsg">{{
              direction === 'en' ? 'there is no data' : 'لا توجد بيانات'
            }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="chart-view column-chart">
      <div class="row">
        <div class="col">
          <div class="chart-header">
            <div class="row">
              <div class="col-5">
                <p class="chart-title">{{direction === 'en' ? stages?.titleEn : stages?.titleAr}}</p>
              </div>
              <div class="col"></div>
              <div class="col-3">
                <stc-apps-date-picker-range
                (valueChangedEvent)="filterStages($event)"

                  >
                </stc-apps-date-picker-range>
              </div>
            </div>
          </div>

          <div class="chart" style="height: 400px;" *ngIf="stages && stages.data && stages.data.length > 0">
            <stc-apps-bar-chart
              [data]="stages.data"
            ></stc-apps-bar-chart>
          </div>
          <div class="chart" *ngIf="stages && stages.data && stages.data.length === 0">
            <p class = "emptyDataMsg">{{
              direction === 'en' ? 'there is no data' : 'لا توجد بيانات'
            }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
