<div class="dashboard">
  <div class="top-info">
    <div class="row">
      <div class="col-md-4">
        <div class="static register">
          <div class="icon">
            <i class="fas fa-user-friends"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ 55 }}</div>
            <div class="title">{{ 'total_users' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="static in-progress">
          <div class="icon">
            <i class="fas fa-user-edit"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ 55 }}</div>
            <div class="title">{{ 'creator_users' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="static pending">
          <div class="icon">
            <i class="fas fa-user-check"></i>
          </div>
          <div class="static-info">
            <div class="num">{{ 55 }}</div>
            <div class="title">{{ 'approver_users' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
