<section class="deleted-items-section">
    <div class="deleted-items-section-header">
      <div>
        <stc-apps-page-header
          [mainTitle]="'deleted projects'"
          [secondaryTitle]="''"
          [isDeletedProject]="true"
        />
      </div>
      <img class = "hands-img" src="assets/images/hands-img.svg" alt="">
    </div>
    <div class="deleted-items-section-content">
        <p class = "main-title">Strategic Projects - Executive View</p>
        <router-outlet />
    </div>
  </section>
  