<section class="deleted-items-section">
  <div class="deleted-items-section-header">
    <div>
      <stc-apps-page-header
        [mainTitle]="'deleted ' + currentUrl"
        [secondaryTitle]="''"
        [isDeletedProject]="true"
        [username]="userData ? userData.name : ''"
        [fontFamilies]="['STCForwardFont', 'mediunPoppins', 'blackPoppins']"
      />
    </div>
    <img class="hands-img" src="assets/images/hands-img.svg" alt="" />
  </div>
  <div class="deleted-items-section-content">
    <!-- <p class = "main-title">Strategic Projects - Executive View</p> -->
    <router-outlet />
  </div>
</section>
