<div class="main-layout">
  <div class="main-layout_sidebar">
    <stc-apps-sidebar
      [logoSrc]="logoSrc"
      [sidebarLinks]="navItems"
      [isAdmin]="isAllowed"
      (logoutFun)="onLogout()"
      [secondLogoSrc]="'assets/images/qeema-logo.svg'"
      [justifyContent]="'flex-start'"
    />
  </div>

  <div class="main-layout_header">
    <stc-apps-top-banner [logoSrc]="logoSrc"></stc-apps-top-banner>

    <div class="main-layout_container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
