.main-layout {
    display: flex;
    height: 100vh;
    width: 100%;

    &_header {
        margin-left: 273px;
        width: calc(100% - 273px);
    }



    &_container {
        background-color: var(--whiteColor);
        padding: 18px 14px;
        border-radius: 25px;
    }
}