@import '../../../../../../../../libs/styles/src/scss/core/variables/colors';
@import '../../../../../../../../libs/styles/src/scss/core/variables/fonts';

.comments {
    &_actions {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        button {
            border: none;
            background: transparent;
            padding: 11.5px 39px;
            display: flex;

            &:first-child {
                background: $stcCoralColor;
                color: $whiteColor;
                border-radius: 8px;

                &:disabled {
                    opacity: 0.4;
                }
            }

            img {
                margin-inline-end: 9px;
            }
        }
    }

    &_attachments {
        margin-top: 2rem;

        &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid var(--stc-color);

            span {
                font-family: 'stc forward-light';
                font-size: 15px;
                display: inline-block;
                max-width: 10rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-inline-end: 8px;
            }

            button {
                width: auto;
                max-width: 1rem;

                &:active {
                    border: none;
                }

                i {
                    &:focus-visible {
                        outline: none;
                    }
                }
            }
        }

    }
}