<div class="comments">
    <div class="comments_form">
        <div class="comments_form_header">
          <h3>Add Your Comments</h3>
          <img src="assets/images/chat.svg" />
        </div>
        <div class="comments_form_content">
          <textarea placeholder="Enter Text Here..." rows="16.5"></textarea>
        </div>
      </div>
      <div class="comments_actions">
          <button>Submit</button>
          <button>
            <img src="assets/images/attach-square.svg" />
            Add Attachment
          </button>
        </div>
</div>