.comments {
    background: var(--whiteColor);
    padding: 15px;
    border: 1px solid rgba($color: var(--blackColor), $alpha: 0.1);
    border-radius: 8px;

    &_actions {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        button {
            border: none;
            background: transparent;
            padding: 11.5px 39px;
            display: flex;

            &:first-child {
                background: var(--stcCoralColor);
                color: var(--whiteColor);
                border-radius: 8px;

                &:disabled {
                    opacity: 0.4;
                }
            }

            img {
                margin-inline-end: 9px;
            }
        }
    }
}

.attachments {
    margin-top: 10px;
    background: var(--whiteColor);
    padding: 15px;
    border: 1px solid rgba($color: var(--blackColor), $alpha: 0.1);
    border-radius: 8px;

    &_summary {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-family: var(--stc-font-meduim);
            font-size: 20px;
        }

        button {
            border: none;
            background: transparent;
            padding: 11.5px 39px;
            display: flex;
            color: var(--lightGreyColor);

            img {
                margin-inline-end: 9px;
            }
        }
    }



    &_files {
        margin-top: 37px;

        &_item {
            &>div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    font-family: var(--stc-font-meduim);
                    font-size: 18px;
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-inline-end: 8px;
                    color: var(--stc-color);
                    text-decoration: underline;
                }

                button {
                    width: auto;
                    max-width: 1rem;

                    &:active {
                        border: none;
                    }

                    i {
                        &:focus-visible {
                            outline: none;
                        }
                    }
                }
            }

            &_time {
                color: var(--greyColor);
                font-family: var(--stc-font-light);
            }

        }
    }

}