.progress {
    width: 24px;
    height: 24px;
    background: none;

    &.less-than-red {
        filter: invert(0.55) sepia(1) saturate(100);
    }

    &.between-orange {
        filter: invert(0.55) sepia(1) saturate(30);
    }
}