.progress {
    width: 24px;
    height: 24px;
    background: none;

    &.less-than-100 {
        filter: invert(0.55) sepia(1) saturate(100);
    }

    &.near-to-100 {
        filter: invert(0.55) sepia(1) saturate(30);
    }
}