<div class="white-box">
  <div class="row">
    <div class="col-md-5">
      <h3>Reports SLA</h3>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-3">
          @if( hasNonNullValue(this.filter)){
          <stc-apps-button [buttonText]="'Clear'" [buttonType]="'warn'" (btnClick)="reset()"></stc-apps-button>
          }

        </div>
        <div class=" col-md-9">
          <stc-apps-date-picker-range [disableInput]="true" [disableFilterFlag]="true"
            (datePickerChangeEvent)="datePickerChanged($event)" [startDate]="form.get('startDate')?.value"
            [endDate]="form.get('endDate')?.value">
          </stc-apps-date-picker-range>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div [id]="chartdiv_id" [ngStyle]="{'width': '85%', 'height': chartData.length === 0 ? 'auto' : '340px'}"></div>
      @if(chartData.length ===0) {
      <p class="noData" style="height: 326px;">No Data To Display </p>
      }
    </div>
  </div>
</div>