<div class="status-list">
  <div class="status-list_header">
    <h5>{{ title() }}</h5>
    @if (title() == 'Queue - In Progress') {
    <stc-apps-button
      [buttonText]="'Run all'"
      [buttonType]="'warn'"
      [buttonDisable]="items().length <= 0"
      (click)="runAll()"
    ></stc-apps-button>
    }
  </div>
  <div class="status-list_items">
    @for (item of items(); let i = $index; track item) {
    <div
      class="card"
      [ngClass]="{ 'selected-card': selectedItem === item }"
      (click)="onItemClick(item)"
    >
      <div class="card-header">
        <strong>ID: #{{ item.id }}</strong>
        <!-- Remove button -->
        @if (!item.hasRun) {
        <button class="btn" (click)="removeItem(i)">
          <img src="assets/images/remove-icon.svg" />
        </button>
        } @else if (item.hasRun && !item.hasCompleted) {
        <div class="spinner">
          <mat-spinner diameter="24"></mat-spinner>
        </div>
        } @else {
        <p>{{ item.date | date : 'd MMM yy, h:mm a' }}</p>
        <strong
          [ngClass]="{
            'text-success': item.result === 'pass',
            'text-danger': item.result === 'fail'
          }"
          >{{ item.result }}</strong
        >
        }
      </div>
      <div class="card-body">
        @if(item.hasRun) {
        <!-- API Link  -->
        <p><strong>API Link:</strong> {{ item.apiUrl }}</p>
        <!-- Standard -->
        <p>
          <strong>Selected Standard:</strong>
          {{
            item.standardId?.name +
              ' - ' +
              item.standardId.domain +
              ' - ' +
              item.standardId?.version
          }}
        </p>
        } @else {
        <!-- API Link  -->
        <div class="filter-field">
          <stc-apps-input-group
            [placeholder]="'API link'"
            [addonText]="'http://'"
            [(ngModel)]="item.apiUrl"
          ></stc-apps-input-group>
        </div>
        <!-- Standard -->
        <div class="filter-field">
          <stc-apps-filter-dropdown
            [dropdownOptions]="item.standardList"
            [placeholder]="'Select Standard'"
            [selectedValue]="item.standardId"
            (valueChange)="onStandardChanged($event, i)"
          ></stc-apps-filter-dropdown>
        </div>
        }
      </div>
    </div>
    } @empty {
    <div class="status-list_empty">
      <img src="assets/images/no notification.svg" />
      <p>We don't have a {{ title() }} right now</p>
    </div>
    }
  </div>
</div>
