@import '../../../../styles/shared-styles.scss';

.status-list {
    &_header {
        @include flex-between-center;
        margin-bottom: $gap-medium;

        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column;
            gap: $gap-small;
        }

        h5 {
            color: var(--darkPurbleColor);
            margin: 0;

            @media screen and (max-width: $breakpoint-sm) {
                font-size: $font-size-medium;
            }
        }

        stc-apps-button {
            ::ng-deep button {
                color: var(--whiteColor);
                @include button-font-size;
            }
        }
    }

    &_items {
        @include flex-column;
        gap: $gap-medium;
        height: 430px;
        overflow-y: auto;
        padding-right: $gap-medium;

        @media screen and (max-width: $breakpoint-md) {
            padding-right: $gap-small;
            height: calc(100vh - 250px);
        }

        .card {
            padding: 0;
            height: auto;
            cursor: pointer;
            transition: all 0.3s ease;

            @media screen and (max-width: $breakpoint-sm) {
                font-size: $font-size-small;
            }

            &.dimmed {
                cursor: not-allowed;
            }

            &-header {
                @include flex-between-center;
                padding: 11px 15px;
                flex-wrap: wrap;
                gap: $gap-xxs;

                button {
                    width: auto;
                    padding: 0;
                    margin-left: auto;

                    &.reload {
                        background: var(--whiteColor);
                        border: 1px solid var(--light-slate-gray);
                        border-radius: 4px;
                        padding: 8.31px;

                        i {
                            color: #6B7280;
                            font-size: $font-size-medium;
                            padding: 0;
                        }

                        @media screen and (max-width: $breakpoint-sm) {
                            padding: 6px;
                        }
                    }
                }

                .actions {
                    display: flex;
                    gap: $gap-xxs;
                    margin-left: auto;
                }

                .spinner {
                    margin-left: auto;
                }

                p {
                    font-family: 'stc forward-bold';
                }

                strong {
                    font-family: 'stc forward-bold';
                    text-transform: capitalize;

                    &.text-danger {
                        margin-left: auto;
                    }
                }
            }

            &-body {
                @include flex-column;
                gap: $gap-xxs;

                mat-form-field {
                    border: 1px solid var(--light-slate-gray);

                    ::ng-deep {
                        .mat-mdc-form-field-subscript-wrapper {
                            display: none;
                        }
                    }
                }

                ::ng-deep {
                    .p-dropdown {
                        width: 100%;
                    }
                }
            }
        }

        .selected-card {
            border: 2px solid var(--stc-pink-light-color);
            border-radius: 8px;
            transition: border 0.3s ease;

            .text-success,
            .text-danger {
                padding: 5px 10px;
                border-radius: 4px;

                @media screen and (max-width: $breakpoint-sm) {
                    padding: 3px 6px;
                    font-size: $font-size-small;
                }
            }

            .text-success {
                background-color: #d4edda;

            }

            .text-danger {
                background-color: #f8d7da;
            }
        }

        span {
            color: var(--grey-color);
            font-size: $font-size-xs;
        }
    }

    &_empty {
        @include flex-column;
        align-items: center;
        width: fit-content;
        gap: $gap-tiny;
        margin: 130px auto;

        img {
            max-width: 100%;
            height: auto;
        }

        p {
            color: var(--grey-color);

            @media screen and (max-width: $breakpoint-xl) {
                font-size: $font-size-small;
            }

            @media screen and (max-width: $breakpoint-sm) {
                font-size: $font-size-xs;
            }
        }
    }
}