<div class="banner row row-gap-3">
  <div class="banner_background_large"></div>
  <div class="banner_background_small"></div>
  <div class="col-lg-10 col-md-12">
    <div class="banner_content">
      <h2>Strategic Performance Report</h2>
      <p>
        Provide overview of strategic KPIs and tracks progress on DARE strategy
      </p>
      <button class="btn" [routerLink]="['/home/programs']">
        All Programs
      </button>
    </div>
  </div>

  <div class="col-lg-2 col-md-12">
    <div class="banner_filter">
      <stc-apps-dropdown [showQuarter]="false"></stc-apps-dropdown>
    </div>
  </div>
</div>
