<div class="banner row row-gap-3">
  <div class="banner_background_large"></div>
  <div class="banner_background_small"></div>
  <div class="col-md-10 col-sm-12">
    <div class="banner_content">
      <h2>Strategic Performance Report</h2>
      <p>
        Provide overview of strategic KPIs and tracks progress on DARE strategy
      </p>
      <button class="btn" [routerLink]="['/home/programs']">
        All Programs
      </button>
    </div>
  </div>

  <div class="col-md-2 col-sm-12">
    <div class="banner_filter" [formGroup]="form">
      <stc-apps-select-drop-down
        formControlName="year"
        [label]="'Select FY Year'"
        [(ngModel)]="year"
        [options]="yearsArray"
        [outputValue]="'name'"
        (selectChange)="selectYear($event)"
      ></stc-apps-select-drop-down>
    </div>
  </div>
</div>
