.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;

    .card-header {
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        display: flex;
        justify-content: space-between;

        h3 {
            font-weight: 600;
            font-size: 20px;
        }

        &_filters {
            display: flex;
            gap: 20px;

            stc-apps-select-drop-down {
                ::ng-deep {
                    .mdc-text-field--filled {
                        background-color: transparent;
                        border: 1px solid var(--light-slate-gray);
                        border-radius: 5px !important;
                    }
                }
            }

        }
    }
}