.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;

  .card-header {
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;

    h3 {
      font-weight: 500;
      font-size: 20px;
    }

    &_filters {
      display: flex;
      gap: 20px;

      stc-apps-select-drop-down {
        ::ng-deep {
          .mdc-text-field--filled {
            background-color: transparent;
            border: 1px solid var(--light-slate-gray);
            border-radius: 5px !important;
          }
        }
      }
    }
  }
}
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 1px dashed var(--light-slate-gray);
  // border-radius: 12px;
  padding: 24px;
  color: #757575;

  &_icon {
    font-size: 24px;
    margin-bottom: 8px;
  }

  &_title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4px;
  }

  &_subtitle {
    font-size: 13px;
  }
}
