@import '../../../../../../../../libs/styles/src/scss/core/variables/colors';

.card {
  border: 1px solid rgba($blackColor, 0.1);
  padding: 12px 16px;
  background-color: $whiteColor;

  &_title {
    color: rgba($blackColor, 0.4);
    font-size: 12px;
  }

  &_description {
    font-size: 14px;
    color: $semiBlackColor;
  }
  .puprleColor {
    color: $stcColor;
    font-weight: 700;
  }
}
