<div class="kri-section">
  <div class="kri-section-header">
    <stc-apps-page-header
      [mainTitle]="'KRIs Dashboard'"
      [secondaryTitle]="''"
      [username]="userName"
      [fontFamilies]="['STCForwardFont', 'mediunPoppins', 'blackPoppins']"
    />
  </div>
  <div class="kri-section-body">
    <stc-apps-tabview
      [tabsData]="kriTaps"
      [tabColor]="'#ffffff'"
      [clickedtabColor]="'#ffffff'"
      [tabBackground]="'#FFFFFF1A'"
      [clickedtabBackground]="'#FF375E'"
      [fontFamily]="'STCForwardFont'"
      [isMobile]="true"
      (clickedTap)="getCurrentTap($event)"
    />
    <div class="kri-section-body-tab-details">
      @if(currentClickedTap && currentClickedTap.name.toLowerCase() ===
      'executive summary' && years.length > 0 && periods.length > 0){
      <stc-apps-executive-summary
        [kriTaps]="kriTaps"
        (isUploaded)="isUploaded($event)"
        [periods]="periods"
        [years]="years"
      />
      } @else if(currentClickedTap && currentClickedTap.name.toLowerCase() ===
      'dp' && years.length > 0 && periods.length > 0){
      <stc-apps-db
        [periods]="periods"
        [years]="years"
        [gd]="currentClickedTap.name"
      />
      }
    </div>
  </div>
</div>
