<div class="user-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown)="keyDownFunction($event)">
    <div class="inputs">
      <div class="top">
        <div class="row align-items-center">
          <div class="col-md-4">
            <stc-apps-input [className]="'custom-input'" [inputPlaceholder]="'Example@stc.com.sa'" [inputId]="'email'"
              [inputName]="'email'" formControlName="email"></stc-apps-input>
          </div>
          <div class="col-md-2 mt-1r">
            <stc-apps-button *ngIf="!isEditing" [buttonIcon]="'fa-search'" [buttonText]="'Search on user'"
              [buttonType]="'stc-color-outline'" (btnClick)="checkUserExist()"
              [buttonDisable]="form.get('email')?.value === ''"></stc-apps-button>
          </div>
        </div>
      </div>
      <div class="bottom" *ngIf="showInputs">
        <div class="row mt-2">
          <div class="col-md-5">
            <stc-apps-input [className]="'custom-input'" [inputPlaceholder]="''" [inputId]="'name'" [inputName]="'Name'"
              formControlName="name"></stc-apps-input>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <stc-apps-input [className]="'custom-input'" [inputPlaceholder]="''" [inputId]="'jobTitle'"
              [inputName]="'job Title'" formControlName="jobTitle"></stc-apps-input>
          </div>
        </div>
        <div class="row mt-7" *ngIf="showInputs && userService.getCurrentSystem() === 'FRAUD_ManagementUsers'">
          <div class="col-md-5">
            <stc-apps-select-drop-down [label]="userService.translateText('privilege')" [options]="privilages"
              formControlName="userGroups" [labelName]="'groupName'" [required]="true"
              [selectId]="selectedPrivilege || null" (selectChange)="handleTeam($event)">
            </stc-apps-select-drop-down>
          </div>
          <div class="col-md-2"></div>

          <div class="col-md-5">
            <stc-apps-select-drop-down [label]="userService.translateText('team')" formControlName="teamDto"
              [required]="true" [options]="teams" [selectId]="selectedTeam || null">
            </stc-apps-select-drop-down>
          </div>
        </div>
        <div class="row mt-7" *ngIf="showInputs && userService.getCurrentSystem() === 'Dynamic_Report_Flow'">
          <div class="col-md-5">
            <stc-apps-select-drop-down [label]="userService.translateText('privilege')" [options]="privilages"
              formControlName="userGroups" [labelName]="'groupName'" [required]="true"
              [selectId]="selectedPrivilege || null" (selectChange)="handleTeam($event)">
            </stc-apps-select-drop-down>
          </div>
          <div class="col-md-2"></div>

          <div class="col-md-5">
            <stc-apps-select-drop-down [Resetting]="true" [searchMode]="true" [label]="'User Delegate'"
              formControlName="userDelegates" [options]="userDelegate" [selectId]="selectedDelegates">
            </stc-apps-select-drop-down>
          </div>
        </div>
        <div class="row mt-7" *ngIf="showInputs && userService.getCurrentSystem() === 'DI_Milestones'">
          <div class="col-md-5">
            <stc-apps-select-drop-down [label]="userService.translateText('privilege')" [options]="privilages"
              formControlName="userGroups" [labelName]="'groupName'" [required]="true"
              [selectId]="selectedPrivilege || null" (selectChange)="handleTeam($event)">
            </stc-apps-select-drop-down>
          </div>
          <div class="col-md-2"></div>

          <div class="col-md-5" *ngIf="!hideDropdown">
            <stc-apps-select-drop-down [label]="userService.translateText('team')" formControlName="teamDto"
              [required]="true" [options]="teams" [multi]="true" [selectId]="selectedGroup || null">
            </stc-apps-select-drop-down>
          </div>
          <div class="col-md-5">
            <stc-apps-checkbox [label]="'grant access to  VP report'" formControlName="viewer"
              [name]="'viewer'"></stc-apps-checkbox>
          </div>
          <div class="row" *ngIf="this.form?.get('userGroups')?.value?.groupName === 'DT_User'">
            <div class="col-md-12">
              <stc-apps-checkbox [label]="'Grant Edit for VP Report'" formControlName="editor" [name]="'editor'"
                (selectChange)="oncheckBoxSelect($event)"></stc-apps-checkbox>
            </div>
            <div class="col-md-12">
              <stc-apps-checkbox [label]="'Grant access as DT PMO for VP Report'" formControlName="pmo" [name]="'pmo'"
                (selectChange)="oncheckBoxSelect($event)"></stc-apps-checkbox>
            </div>
          </div>

        </div>
        <div class="row mt-7" *ngIf="showInputs && userService.getCurrentSystem() === 'DI_Management'">
          <div class="col-md-5">
            <stc-apps-select-drop-down [label]="userService.translateText('privilege')" [options]="privilages"
              formControlName="userGroups" [labelName]="'groupName'" [required]="true"
              [selectId]="selectedPrivilege || null" (selectChange)="handleTeam($event)">
            </stc-apps-select-drop-down>
          </div>
          <div class="col-md-2"></div>

          <div class="col-md-5">
            <stc-apps-select-drop-down [label]="userService.translateText('team')" [options]="teams"
              formControlName="teamDto" [required]="true" [multi]="true" [groupOptions]="'roles'"
              [selectId]="selectedGroup">
            </stc-apps-select-drop-down>
          </div>
        </div>
        <div class="row mt-7 flex-row-reverse">
          <div class="col-md-4 offset-md-8 ">
            <div class="row">
              <div class="col-md-6">
                <stc-apps-button [buttonText]="'Cancel'" [buttonType]="'gray-outline'"
                  (btnClick)="cancel()"></stc-apps-button>
              </div>
              <div class="col-md-6">
                <stc-apps-button [buttonText]="isEditing ? 'Save' : 'Add user'" [buttonType]="'primary'"
                  (btnClick)="onSubmit()" [loading]="isSubmitLoader" *ngIf="showInputs">
                </stc-apps-button>


              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </form>
</div>
<stc-apps-dialog id="alert-modal">
  <p class="text text-center">
    <span>{{ 'This Account' }} </span>
    <strong>{{ form.get('email')?.value }}</strong>
    <span>
      {{ 'is already exists in the system' }}
    </span>
  </p>

  <div class="row mt-4">
    <div class="col-md-4 offset-4">
      <stc-apps-button [buttonText]="'Ok'" [buttonType]="'primary'" (btnClick)="closeDialog()"></stc-apps-button>
    </div>
  </div>
</stc-apps-dialog>