.user-form {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  background-color: var(--stc-lightGrey-color);
  label {
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  .mt-7 {
    margin-top: 3rem;
  }
  .mt-1r {
    margin-top: 0.8rem;
  }
  .inputs {
    padding: 50px;
    .top {
      background-color: white;
      position: absolute;
      width: 93.5%;
      top: -60px;
      padding: 36px;
      border-radius: 5px;
    }
    .bottom {
      background-color: white;
      padding: 36px;
      margin-top: 105px;
      border-radius: 5px;
    }
  }
  .btn-form-action {
    display: flex;
    align-items: center;
    align-self: end;
    width: 100%;
    justify-content: flex-end;
    padding: 30px 50px;
    margin-top: 70px;
    padding-bottom: 0;
    padding-inline-end: 0;
    .btn {
      margin-left: 20px;
      width: 190px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
