<div class="allPrograms-holder">
  <stc-apps-breadcrumbs></stc-apps-breadcrumbs>
  <div class="allPrograms-holder_content">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="allPrograms-holder_title">
          All strategic program progress
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="allPrograms-holder_filter">
          <stc-apps-dropdown></stc-apps-dropdown>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="allPrograms-holder_search">
          <img src="assets/images/brand/search-normal.svg" />
          <input
            class="search-input"
            type="text"
            placeholder="Search for program..."
            [(ngModel)]="searchTerm"
            (input)="search(searchTerm)"
          />
        </div>
      </div>
    </div>
    @if (filteredItems && filteredItems.length > 0) {

    <div class="row">
      @for (program of filteredItems; track $index) {
      <div
        class="allPrograms-holder_card col-lg-6"
        (click)="navigateToProgramDetails(program)"
      >
        <stc-apps-program-progress-card
          [programTitle]="program.programName"
          [barData]="program.barData"
        >
        </stc-apps-program-progress-card>
      </div>
      }
    </div>
    } @else {
    <div class="mt-5">No programs available.</div>
    }
  </div>
</div>
