<div class="score-card-options p-3 ">
    <div class="score-card-options_header">
      <p>Select one of Sector Dashboard</p>
      <h2>Score Card</h2>
    </div>
    <div class="score-card-options_items w-100">
      @for(sector of sectors;track $index){
      <div
        (mouseenter)="onHover($index)"
        (mouseleave)="onHover(-1)"
        (click)="navigate(sector.sectorName,sector.sectorId)"
        class="d-flex justify-content-between score-card-options_item mb-3"
      >
        <div class="item-content d-flex">
          <div class="icon-bg position-relative">
            <!-- <img src="/assets/images/Polygon 1.svg" alt=""
             [class.second-img]="$index === 1"
             [class.first-img]="$index === 0"
              /> -->
            <div class="icon-img">
              <img src="assets/images/app-sector-icon.svg" alt="" />
            </div>
          </div>
          <div>
            <p class="list-item-title">{{ sector.sectorName }}</p>
            @if(showItemDesc && hoverIndex==$index ){
            <p class="list-item-desc">Here’s of scorecard report Dashboard</p>
            }
          </div>
        </div>
        <div class="item-arrow">
          <i class="fas fa-light fa-arrow-right"></i>
        </div>
      </div>

      }
    </div>
  </div>
