@import '../../../../styles/shared-styles.scss';

.api-standard-form {
    @extend .component-wrapper;
    padding: $gap-large;

    &_container {
        @include flex-column;
        gap: $gap-xl;

        label {
            display: block;
            color: var(--dark-slate-gray);
            margin-bottom: $gap-tiny;
            font-family: 'stc forward-medium';

            @media screen and (max-width: $breakpoint-xl) {
                font-size: $font-size-small;
            }
        }
    }

    &_fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include responsive-gap(20px 50px);

        .form-group {
            @include flex-column;

            &.full-width {
                grid-column: span 2;
            }

            p {
                color: var(--dark-slate-gray);
                font-size: $font-size-small;
            }

            ::ng-deep {

                input,
                p-calendar span {
                    width: $full-width;
                }
            }

            @media screen and (max-width: $breakpoint-xl) {
                font-size: $font-size-small;
            }
        }

        @media screen and (max-width: $breakpoint-md) {
            grid-template-columns: 1fr;

            .form-group.full-width {
                grid-column: span 1;
            }
        }
    }

    &_upload {
        width: $full-width;

        ::ng-deep {
            .p-fileupload {
                .p-fileupload-buttonbar {
                    display: none;
                }

                .p-fileupload-content .drag-drop-area {
                    @include flex-column;
                    align-items: center;
                    gap: $gap-tiny;
                    margin-top: $gap-medium;

                    i {
                        display: block;
                        font-size: $font-size-large;
                    }

                    span {
                        color: var(--gray-medium);

                        @media screen and (max-width: $breakpoint-xl) {
                            font-size: $font-size-small;
                        }

                        a {
                            color: var(--stc-color);
                            text-decoration: none;
                            font-weight: 700;
                        }
                    }
                }
            }

            .p-fileupload-choose,
            .p-button {
                background: var(--stc-color);
                padding: $gap-tiny $gap-xxs;
            }

            stc-apps-button button {
                color: var(--gray-medium);
            }

            .p-fileupload-files>div {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                @media screen and (max-width: $breakpoint-md) {
                    grid-template-columns: 2fr;
                    justify-items: center;
                }
            }
        }

        .file-upload-info {
            color: var(--gray-medium);
            margin-top: $gap-xxs;

            @media screen and (max-width: $breakpoint-xl) {
                font-size: $font-size-small;
            }
        }

        .file {
            &-item {
                display: flex;
                align-items: center;
                border: 1px solid #E7E7E7;
                border-radius: 8px;
                padding: $gap-xs;
                margin: 1%;
                width: max-content;
            }

            &-name {
                font-weight: 600;
            }

            &-info {
                display: flex;

                img {
                    margin-inline-end: $gap-xs;
                }
            }
        }
    }

    &_actions {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-top: $gap-xl;
        gap: $gap-xs;

        stc-apps-button {
            min-width: 8rem;

            ::ng-deep button {
                @include button-font-size;
            }
        }
    }
}