<div class="kpis-holder">
  <div class="mb-4">
    <div class="input-group stc-input-group custom-input ">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
      <input type="text" matInput #input placeholder="{{ 'Search for KPIs'  }}" class="form-control stc-input" (keyup)="filterText(input.value)" />
    </div>
  </div>

  <div class="kpis">
    <ng-container *ngIf="kpis">
      <stc-apps-kpis-card *ngFor="let card of kpis" [cardData]="card" [currentActiveCardID]="id" (click)="handleCardClick(card)"></stc-apps-kpis-card>
    </ng-container>
  </div>
</div>
