.expansion-body-holder {
  margin-top: 26px;
  font-family: 'stc forward-regular';
  &_desc{
    .header{
        font-size: 16px;
        margin-bottom: 12px;
    }
    .desc{
        color: var(--stc-greyColor);
    }
  }
}
