<div class="dialog p-4">
  <div class="dialog-body">
    <div class="dialog-header">Milestone Progress Update | {{data}}</div>
    <div class="body-holder">
      <form [formGroup]="form">
        <div class="my-2">
          <stc-apps-input-full-width [label]="'Overall Progress %'" [type]="'text'"
            formControlName="overallProgress"></stc-apps-input-full-width>

            @if(form.get('overallProgress')?.dirty){
              <mat-error *ngIf="form.get('overallProgress')?.hasError('required')">
                This Field Is Required
              </mat-error>
              <mat-error *ngIf="form.get('overallProgress')?.hasError('min') || form.get('overallProgress')?.hasError('max')">
                Must be from 0 to 100
              </mat-error>
              <mat-error *ngIf="form.get('overallProgress')?.hasError('pattern') ">
                Must be valid number
              </mat-error>
            }
        </div>

        <div class="my-2">
          <stc-apps-textarea [className]="'custom-input'" [inputPlaceholder]="''" [inputId]="'description'"
            [inputName]="'Deliverable'" formControlName="deliverable"></stc-apps-textarea>
        </div>
      </form>
    </div>
  </div>

  <hr class="liner-hr" />

  <div class="dialog-actions">

    <div class="actions-wrapper">
      <button type="button" class="btn gray-outline " (click)="cancel()">Cancel</button>
      <button type="button" class="btn primary" (click)="update()" [disabled]="form.invalid">
        Update Progress
      </button>
    </div>
  </div>
</div>