@if (showPopUp) {
<stc-apps-pop-up-image
  [selectedImage]="selectedImage"
  (close)="onPopupClose()"
></stc-apps-pop-up-image>
}

<div
  class="chat-list-item"
  [@fadeIn]
  [ngClass]="
    messageType() === 1 ? 'justify-content-end' : 'justify-content-start'
  "
>
  @if (messageType() === 0 ) {
  <div class="chat-list-item_query-profile">
    <img
      class="chat-list-item_photo"
      src="assets/images/chatProfile.jpg"
      alt=""
    />
  </div>
  }

  <div class="chat-list-item_query-info">
    <div
      class="message"
      [ngClass]="messageType() === 1 ? 'sender-message' : 'receiver-message'"
    >
      @if (isLoading()&&messageType()===0 &&message()=='') {
      <div class="loading-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      } @else {
      <div [innerHTML]="message()"></div>

      @if (messageType() === 0 && images()) { @for (image of images(); track
      $index) {
      <img class="chatImage d-block" [src]="image" alt="" />
      } } }
    </div>

    <div
      class="date"
      [ngStyle]="{
        'text-align': messageType() === 1 ? 'end' : 'left'
      }"
    >
      {{ messageDate() }}
    </div>
  </div>
</div>
