@if (showPopUp) {
<stc-apps-pop-up-image
  [chartType]="chartShowType"
  [chartData]="chartSqlData"
  (close)="closePopUp()"
></stc-apps-pop-up-image>
}
<div
  class="chat-list-item"
  [@fadeIn]
  [ngClass]="
    messageType() === 1 ? 'justify-content-end' : 'justify-content-start'
  "
>
  <!-- @if (messageType() === 0 ) {
  <div class="chat-list-item_query-profile">
    <img
      class="chat-list-item_photo"
      src="assets/images/Start-chat.png"
      alt=""
    />
  </div>
  } -->

  <div
    class="chat-list-item_query-info"
    [ngClass]="{
      'w-100': messageType() === 0 && chunkStream.length !== 0
    }"
  >
    <div
      class="message"
      [ngClass]="{
        'sender-message': messageType() === 1,
        'receiver-message': messageType() === 0,
        'sender-message-margin-left': messageType() === 1 && !newChat()
      }"
    >
      @if (messageType()===0 && message()!== errorMessage) {
      <div
        class="message-content animate-fade-in"
        [style.margin-bottom]="isLoading() && message() ? '12px' : '0px'"
      >
        @for (messageChunk of message()==''?chunkStream:messagesChunks(); track
        $index) {
        <stc-apps-chat-insight-card
          class="position-relative"
          [title]="messageChunk.stageTitle"
        >
          @if(messageChunk.stageContent){
          <div
            class="stage-content"
            [class.show]="messageChunk.stageContent"
            [ngClass]="{
              'think-content': messageChunk.stageTitle === 'Deep Thinking'
            }"
          >
            @if($index==chunkStream.length-1 && message()==''){
            <div
              class="text-static"
              [innerHTML]="previousContent | formatMessage"
            ></div>
            <div
              *ngIf="newChunk"
              class="text-animate"
              [innerHTML]="newChunk | formatMessage"
            ></div>
            <!-- <div class="text-static">
              <span
                [innerHTML]="previousContent | formatMessage"
                *ngIf="!mergedChunks"
              ></span>

              <span *ngIf="mergedChunks">
                <span
                  [innerHTML]="
                    previousContent.slice(0, -mergedChunks.length)
                      | formatMessage
                  "
                ></span>
                <span
                  class="merged-animate"
                  [innerHTML]="mergedChunks | formatMessage"
                ></span>
              </span>
            </div>

            <div
              *ngIf="newChunk"
              class="text-animate"
              [innerHTML]="newChunk | formatMessage"
            ></div> -->
            } @else{
            <div [innerHTML]="messageChunk.stageContent | formatMessage"></div>
            }
          </div>

          } @if (messageChunk.showType) { @if (messageChunk.showType=='table') {
          <stc-apps-chart-controller
            class="position-relative"
            [sqlData]="
              messageChunk.sqlData ?? { xList: [], yList: [], title: '' }
            "
            [showType]="messageChunk.showType"
          ></stc-apps-chart-controller>
          } @else {
          <div>
            <stc-apps-chart-controller
              [sqlData]="
                messageChunk.sqlData ?? { xList: [], yList: [], title: '' }
              "
              [showType]="messageChunk.showType"
            ></stc-apps-chart-controller>
            <button
              (click)="
                showPopUpOnClick(messageChunk.showType, messageChunk.sqlData)
              "
              class="zoom-in-btn"
            >
              <i class="fa fa-search-plus"></i>
            </button>
          </div>
          } }
        </stc-apps-chat-insight-card>
        }
      </div>
      @if(isLoading()&&message()==''){
      <div class="loading-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      } } @else{
      <div>
        @if (header()) {
        <div class="heading">{{ header() }}</div>
        }
        <div
          [ngClass]="{ 'sub-heading': newChat() }"
          [innerHTML]="message() | formatMessage"
        ></div>
        @if(newChat()){
        <stc-apps-slider
          (questionEvent)="questionClick($event)"
        ></stc-apps-slider>
        }
      </div>
      }
    </div>

    <div
      class="date"
      [ngStyle]="{
        'text-align': messageType() === 1 ? 'end' : 'left'
      }"
    >
      {{ messageDate() }}
    </div>
  </div>
</div>
