<div
  class="chat-list-item"
  [@fadeIn]
  [ngClass]="
    messageType() === 1 ? 'justify-content-end' : 'justify-content-start'
  "
>
  @if (messageType() === 0 ) {
  <div class="chat-list-item_query-profile">
    <img
      class="chat-list-item_photo"
      src="assets/images/Start-chat.png"
      alt=""
    />
  </div>
  }

  <div class="chat-list-item_query-info">
    <div
      class="message"
      [ngClass]="messageType() === 1 ? 'sender-message' : 'receiver-message'"
    >
      @if (messageType()===0) {
      <div
        class="message-content animate-fade-in"
        [style.margin-bottom]="isLoading() && message() ? '12px' : '0px'"
      >
        @for (messageChunk of message()==''?chunkStream:messagesChunks(); track
        $index) {
        <stc-apps-chat-insight-card [title]="messageChunk.stageTitle">
          @if(messageChunk.stageContent){
          <div #projected>{{ messageChunk.stageContent }}</div>
          } @if (messageChunk.showType) { @if (messageChunk.showType=='table') {
          <stc-apps-chart-controller
            [sqlData]="
              messageChunk.sqlData ?? { xList: [], yList: [], title: '' }
            "
            [showType]="messageChunk.showType"
          ></stc-apps-chart-controller>
          } @else {
          <div>
            <button (click)="showPopUpOnClick()" class="zoom-in-btn">
              <i class="fa fa-search-plus"></i>
            </button>
            <stc-apps-chart-controller
              [sqlData]="
                messageChunk.sqlData ?? { xList: [], yList: [], title: '' }
              "
              [showType]="messageChunk.showType"
            ></stc-apps-chart-controller>
          </div>
          @if (showPopUp) {
          <stc-apps-pop-up-image
            [chartType]="messageChunk.showType"
            [chartData]="
              messageChunk.sqlData ?? { xList: [], yList: [], title: '' }
            "
            (close)="closePopUp()"
          ></stc-apps-pop-up-image>
          } } }
        </stc-apps-chat-insight-card>
        }
      </div>
      @if(isLoading()&&message()==''){
      <div class="loading-dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      } } @else if(messageType()===1){
      <div>
        {{ message() }}
      </div>
      }
    </div>

    <div
      class="date"
      [ngStyle]="{
        'text-align': messageType() === 1 ? 'end' : 'left'
      }"
    >
      {{ messageDate() }}
    </div>
  </div>
</div>
