<stc-apps-header
  [userName]="userName"
  [logoSrc]="logoSrc"
  [allItems]="navItems"
  [sidebarLogoSrc]="sidebarLogoSrc"
  (logOut)="logOut()"
  (backToHome)="backToHome()"
  [showLang]="false"
>
  <stc-apps-notifications-dropdown
    *ngIf="milestonesService.remindersItems.length > 0"
    (clickItem)="clickReminder($event)"
    [items]="milestonesService.remindersItems"
    [notificationsTitle]="'milestones reminders'"
  ></stc-apps-notifications-dropdown
></stc-apps-header>
<!-- 
@if(showTabs){
<mat-tab-group
  class="milestone-tabs"
  [(selectedIndex)]="activeTabIndex"
  (selectedIndexChange)="onTabChanged($event)"
>
  <mat-tab label="Milestones"></mat-tab>
  <mat-tab label="DI KPI Integration"></mat-tab>
</mat-tab-group>
} -->
<!-- [items]="milestonesService.remindersItems"></stc-apps-notifications-dropdown></stc-apps-header> -->
<router-outlet></router-outlet>
