<section class="row row-gap-3 welcome">
  <div class="col-lg-6 col-md-12 welcome-part">
    <div class="welcome-part_background"></div>
    <div
      class="welcome-part_container d-flex justify-content-center align-items-end"
    >
      <div class="welcome-part_content">
        <h3>Welcome to,</h3>
        <h1>Score Card Report</h1>
        <p>Here’s of Scorecard Report Dashboard</p>
        <img src="/assets/images/welcome-img.svg" alt="" />
      </div>
    </div>
    <div class="welcome-part_stc-logo">
      <img src="/assets/images/brand/sidebar-logo.png" alt="" />
    </div>
  </div>
  <div class="col-lg-6 col-md-12 d-flex align-items-end justify-content-center">
    <stc-apps-user-score-cards [sectors]="sectors"></stc-apps-user-score-cards>
  </div>
</section>
