<section class="row row-gap-3">
  <div class="col-lg-6 col-md-12 welcome-part">
    <div
      class="welcome-part_container d-flex justify-content-center align-items-end"
    >
      <div class="welcome-part_content">
        <h3>Welcome to,</h3>
        <h1>Score Card Report</h1>
        <p>Here’s of Scorecard Report Dashboard</p>
        <img src="/assets/images/welcome-img.svg" alt="" />
      </div>
    </div>
    <div class="welcome-part_stc-logo">
      <img src="/assets/images/brand/sidebar-logo.png" alt="" />
    </div>
  </div>
  <!-- <div
    class="score-card-options d-flex align-items-center justify-content-center"
  > -->
    <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
     <div class="score-card-options p-3">
      <div class="score-card-options_header">
        <p>Select one of Sector Dashboard</p>
        <h2>Score Card</h2>
      </div>
      <div class="score-card-options_items w-100">
        @for(listItem of listItems;track $index){
        <div
          (mouseenter)="onHover($index)"
          (mouseleave)="onHover(-1)"
          (click)="navigate(listItem.scoreBoardTitle)"
          class="d-flex justify-content-between score-card-options_item mb-3"
        >
          <div class="item-content d-flex">
            <div class="icon-bg position-relative">
              <!-- <img src="/assets/images/Polygon 1.svg" alt="" /> -->
              <div class="icon-img" [class.second-img]="$index === 1">
                <img [class.first-img]="$index === 0" [src]="listItem.scoreBoardIconPath" alt="" />
              </div>
            </div>
            <div>
              <p class="list-item-title">{{ listItem.scoreBoardTitle }}</p>
              @if(showItemDesc && hoverIndex==$index ){
              <p class="list-item-desc">{{ listItem.scoreBoardDesc }}</p>
              }
            </div>
          </div>
          <div class="item-arrow">
            <i class="fas fa-light fa-arrow-right"></i>
          </div>
        </div>

        }
      </div>
     </div>
    </div>
  <!-- </div> -->
</section>
