<div class="activity-monitoring">
  <div class="activity-monitoring_header">
    <h3>Activity Monitoring</h3>
    <stc-apps-split-button
      [label]="'Export'"
      [labelIcon]="'pi pi-upload'"
      [buttonSeverity]="'primary'"
      [model]="exportItems"
    ></stc-apps-split-button>
  </div>
  @if (dataSource.length > 0) {
  <div class="activity-monitoring_filters">
    <stc-apps-activity-monitoring-filters
      #filters
      (filtersChanged)="onFiltersChanged($event)"
    />
  </div>

  <div class="activity-monitoring_filters_applied">
    @for (filter of appliedFilters; track filter) {
    <p-chip
      [label]="
        filter.label +
        ': ' +
        (filter.key === 'startedAt'
          ? (filter.value | date : 'dd MMM yyyy \'at\' hh:mm a')
          : filter.value)
      "
      [removable]="true"
      (onRemove)="removeFilter(filter, filters)"
    ></p-chip>
    } @if (appliedFilters.length > 0) {
    <stc-apps-button
      [buttonText]="'Clear Filters'"
      [buttonType]="'default'"
      (click)="clearFilters(filters)"
    ></stc-apps-button>
    }
  </div>
  }
  <div class="activity-monitoring_list">
    <stc-apps-table-list
      [dataSource]="filteredDataSource"
      [columnSchema]="columnsSchema"
      [noDataMessage]="'No activity monitoring available'"
    >
      <ng-template #statusCustomTemplate let-row>
        <span
          [ngClass]="{
            'status-success': row.status === 'SUCCESS',
            'status-failed': row.status === 'FAILED'
          }"
        >
          {{ row.status }}
        </span>
      </ng-template>
      <ng-template #startedAtTemplate let-row>
        {{ row.startedAt | date : "dd MMM yyyy 'at' hh:mm a" }}
      </ng-template>
    </stc-apps-table-list>
  </div>
</div>
