@import './scss/core/variables/colors';

.custom-class-template {
  // color: green; //For testing, Delete this css rule after testing
  //font-weight: bold;
  margin-bottom: 0;
  text-transform: capitalize;
}

* {
  word-break: keep-all;
}

.reports-settings {
  table {
    td {
      max-width: 165px;
      word-wrap: break-word;
      // text-align: center;
    }
  }

  .top-info {
    border-radius: 5px;

    .static {
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
      padding: 20px;
      align-items: center;

      .icon {
        width: 50px;
        height: 50px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        i {
          // font-size: 40px;
          font-size: 1rem;
          color: $whiteColor;
        }
      }

      .static-info {
        .num {
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 10px;
          color: $stcColor;
        }

        .title {
          font-weight: bold;
        }
      }

      &.register {
        .static-info {
          .title {
            color: $stcMoonLightColor !important;
          }
        }

        .icon {
          background-color: $stcMoonLightColor;
        }
      }

      &.in-progress {
        .static-info {
          .title {
            color: $stcSeaColor !important;
          }
        }

        .icon {
          background-color: $stcSeaColor;
        }
      }

      &.pending {
        .static-info {
          .title {
            color: $stcCoralColor !important;
          }
        }

        .icon {
          background-color: $stcCoralColor;
        }
      }

      &.closed {
        .static-info {
          .title {
            color: $stcGreenColor !important;
          }
        }

        .icon {
          background-color: $stcGreenColor;
        }
      }
    }
  }

  .f-box {
    border-radius: 7px;
    margin-bottom: 16px;
    .table-title {
      font-weight: bold;
      color: $stcColor;
      font-size: 1.35rem;
    }

    background-color: $whiteColor;
    padding: 20px;

    .actions {
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .btn {
        &:first-of-type {
          margin-inline: 20px;
        }
      }
    }
  }

  .pending-tasks {
    background-color: white;
    height: 100%;
    border-radius: 7px;
    .main-title {
      padding: 20px;
      border-bottom: 1px solid $greyColor;
      font-weight: bold;
      margin: 0;
      color: $stcColor;
      font-size: 1.35rem !important;

      i {
        color: $stcColor_dark;
      }
    }

    .tasks {
      .row {
        margin: 0;
        padding: 0;
      }

      height: 580px;
      padding: 0 20px;
      overflow: auto;
      border-radius: 5px 0 0 5px;
      background-color: white;
      max-height: inherit;

      li {
        .task {
          border-radius: 7px;
          overflow: hidden;
          box-shadow: -3px 3px 3px -4px rgba(0, 0, 0, 0.75);
          cursor: pointer;

          .task-header {
            .row {
              border-left: 5px solid #4f008c;
              background: linear-gradient(
                to right,
                #4f008c91 0%,
                #9000ff1f 100%
              );
              height: 31px;
              align-content: center;

              overflow: auto;

              .left-col {
                font-size: 14px;
              }

              .right-col {
                font-size: 13px;
                color: var(--half-black);
                text-align: end;
              }
            }
          }

          .task-desc-holder {
            background-color: var(--light-grey);
            padding: 6px 10px;
            color: var(--grey-color);
            .task-desc {
              font-size: 0.9rem;
            }
          }
        }
        .task:hover {
          transform: translate(10px, 0px);
        }
      }
    }
  }
}

table {
  .case-status {
    padding: 8px 12px;
    border-radius: 12px;
    width: 100%;
    text-align: center;
    font-weight: 400;
  }

  .registered {
    background-color: rgba($color: $stcMoonLightColor, $alpha: 0.2);
    color: $stcMoonLightColor;
  }

  .pending {
    background-color: rgba($color: $stcCoralColor, $alpha: 0.2);
    color: $stcCoralColor;
  }

  .inprogress {
    background-color: rgba($color: $stcSeaColor, $alpha: 0.2);
    color: $stcSeaColor;
  }

  .closed {
    background-color: rgba($color: $stcGreenColor, $alpha: 0.2);
    color: $stcGreenColor;
  }
}

.mat-expansion-panel {
  box-shadow: unset;
}

.mat-accordion .mat-expansion-panel:is(.mat-expanded) {
  margin-top: 20px !important;
  padding-top: 30px !important;
  border: 1px solid #9f9e9e8f;
}

.circle-wrap {
  width: 60px;
  height: 60px;
  background: $stcLightGray;
  border-radius: 50%;
  border: 1px solid $stcLightGray;
  position: relative;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 60px, 60px, 30px);
}

.circle-wrap .inside-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: $newPurbleColor;
  line-height: 45px;
  text-align: center;
  margin-top: 6px;
  margin-inline-start: 6px;
  color: $stcColor_dark;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 0.8em;
}

.completed-status {
  color: var(--stc-oasis-color);
}
.pending-status {
  color: var(--stc-sunset-color);
}
.breached-status {
  color: var(--stc-Silver-Colo);
}
.deleted-status {
  color: var(--red-Color);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes fill20 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

@keyframes fill35 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(35deg);
  }
}

@keyframes fill80 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(80deg);
  }
}

@keyframes fill100 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(100deg);
  }
}

@keyframes fill130 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(130deg);
  }
}

@keyframes fill155 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(155deg);
  }
}

@keyframes fill170 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(170deg);
  }
}

.btn.details {
  font-size: 0.85rem;
}

.btn.details:hover {
  background-color: $stcColor;
  color: #fff;
}

::ng-deep td {
  text-align: center;
}
