*{
  margin: 0;
}


.hello-user{
  color: white;
  font-size: 32px;
}

.overview-text{
  color: var(--stc-grey-color);
}

.section-heading{
  color: white;
  font-size: 24px;
  margin-top: 25px;
}

.stc-digital-index{
  background-color: white;
  max-width: 1060px;
}

// Legend Styles :
.legends-row{
  padding: 15px;
}

.color-circle{
  height: 15px;
  width: 15px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

.building-circle{
  background-color: var(--stc-Sea-Color);
}

.utilization-circle{
  background-color: var(--stc-sun-color);
}

.experience-circle{
  background-color: var(--stc-sunset-color);
}

.achieved-circle{
  background-color: var(--stc-green-color);
}

.not-achieved-circle{
  background-color: var(--stc-red-color);
}

.building, .utilization, .experience {

  .text{
    font-size: 14px;
    align-items: center;
    display: flex;
  }
}

.achieve-col{
  text-align: end;

  .color-circle{
    margin: 0;
    margin-left: 10px;
  }
}

// end of legends and heading


//Donut charts Column :

.donuts-col{
  margin-left: -3%;
}

.donut-chart-holder{
  height: 200px;
}

// End of donuts

// Polylines styles :


.polylines-holder{
  width: 190px;
  margin-left: -25px;

  svg{
    width: 100%;
  }

  span{
    position: absolute;
    word-break: keep-all;
    left: 103%;
    width: 230px;
    font-size: 12px;

  }
}

.svg-text-liner{
  position: relative;
}

.polyline-1-text{
  top: -4px;
}

.polyline-2-text{
  // top: 16%;
  top:-19%;

}

.polyline-3-text{
  top: -70%;
}

.polylines-col{
  margin-left: -70px;
  margin-right: 130px;
}

.polyline-1{
  height: 100px;
  margin-top: -20px;

}

.polyline-2{
  // margin-top: 50px;
  margin-top: -20px;

}

.polyline-3{
  // margin-top: -110px;
  margin-top: -120px;

}


// progress-circle-holder Styles :

.progress-circle-holder{
  height: 500px;
}


// Assets :

.mat-arrow-up{

  width: 14px;
  font-size: 15px;
  padding-top: 8px;

}
