.kpi-list {
    &_header {
        border-bottom: none;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
    }

    &_actons {
        display: flex;
        gap: 16px;
    }
}