<div class="kpi-card">
  <div class="kpi-card_content-holder">
    @if (!isStringContent) {
    <h4 class="kpi-card_title">{{ kpiTitle() }}</h4>
    } @for (content of currentContents; track content; let index = $index) {
    <div
      class="kpi-card_content"
      [ngClass]="{  'with-full-border': !isStringContent, 'with-bottom-border': (isStringContent&&index!==currentContents.length-1), } "
    >
      @if (isStringContent) {
      {{ content }}
      } @else {
      <div class="kpi-card_details">
        <div>
          <p class="kpi-card_details_title">{{ content.title }}</p>
          <span
            class="kpi-card_details_percentage"
            [ngClass]="getPercentageClass(content.percentage)"
            >{{ content.percentage }}</span
          >
        </div>
        <!-- <img
          class="kpi-card_details_progress"
          src="assets/images/progress.svg"
          [ngClass]="getPercentageClass(content.percentage)"
        /> -->
        <stc-apps-progress-percentage
          [percentage]="content.percentage"
        ></stc-apps-progress-percentage>
      </div>
      }
    </div>
    }
  </div>
  <div class="kpi-card_footer">
    <div (click)="navigateToCardDetails()" class="kpi-card_footer-content">
      More details
      <img src="assets/images/arrow-right.svg" alt="" />
    </div>
  </div>
</div>
