.kpi-card {
  position: relative;
  width: 360px;
  height: 653px;
  border-radius: 10px;
  overflow: auto;
  background-color: var(--whiteColor);
  padding: 0px 14px;
  &_content-holder {
    margin-top: 60px;
  }
  &_content {
    padding: 20px 12px;
    font-size: 16px;
    text-align: center;
    color: var(--grey-color);
    font-weight: 400;
    line-height: 25px;
  }
  &_footer {
    position: absolute;
    top: 92%;
    left: 32%;
    font-weight: 300;
    font-size: 18px;
    font-family: var(--stc-font-light);
    text-align: center;
    text-decoration: underline;
    color: var(--stc-color);
  }
  &_footer-content {
    transition: transform ease-in-out 0.4s;
    cursor: pointer;
  }
  &_footer-content:hover {
    transform: translateX(5px);
  }
  .content-border {
    border-bottom: 1px solid var(--borderGreyColor);
  }
}
