.kpi-card {
  position: relative;
  width: 318px;
  height: 653px;
  border-radius: 10px;
  overflow: auto;
  background-color: var(--whiteColor);
  padding: 0px 14px;
  &_header {
    position: absolute;
    top: 12px;
  }
  &_content-holder{
    margin-top: 80px;
  }
  &_content {
    padding: 40px 6px 20px 6px;
    font-size: 16px;
    text-align: center;
    color: var(--grey-color);
    font-weight: 400;
    line-height: 25px;
    border-bottom: 1px solid var(--borderGreyColor);
  }
  &_separator {
    border-top: 1px solid var(--grey-color);
    margin: 8px 16px;
  }
  &_footer {
    transition: transform ease-in-out 0.4s;
    cursor: pointer;
    display: flex;
    font-weight: 300;
    font-size: 18px;
    height: 42%;
    font-family: var(--stc-font-light);
    justify-content: center;
    text-decoration: underline;
    align-items: end;
    color: var(--stc-color);
  }
  &_footer:hover{
    transform: translateX(5px);
  }
}
