<div class="kpi-card">
  <div class="kpi-card_content-holder">
    <div class="kpi-card_content">
      Instill digital mindset and unlock the potential of digital and analytics
      capabilities
    </div>
    <div class="kpi-card_content">
      Transform into agile technology company and embrace new ways of working
    </div>
  </div>
  <div class="kpi-card_footer">
    <div class="kpi-card_footer-content">
      More details
      <img src="assets/images/arrow-right.svg" alt="" />
    </div>
  </div>
</div>
