<section class="file-upload">
    @if(!selectedFile || (selectedFile && fileSizeNum > 3))
    {
        <input type = 'file' class = 'file-upload-input' hidden #fileUploadInput (change)="getUploadedFile($event)" />
        <div class="file-upload-image" (click)="fileUploadInput.click()">
            <img src="assets/images/upload-solid2.svg"/>
            <p>choose file to upload</p>
            <span>supported formats: CSV , XLS</span>
        </div>
        @if(fileSizeNum > 3)
        {
            <small>The FileSize must not exceed 3MB</small>
        }
    } @else {
        <div class="file-upload-file-details">
            <div class = "file-info">
                <img src = "assets/images/excel.png" width = '30' />
                <span>
                    {{selectedFile.name}} <br>
                    <span>{{fileSize}}</span>
                </span>
            </div>
            <span class = "remove-file" (click)="removeFile()">&times;</span>
        </div>
    }
</section>