.allPrograms-holder {
  background-color: var(--stc-lightGrey-color);
  &_content {
    padding: 40px;
  }
  &_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: var(--stc-color);
    margin-bottom: 24px;
  }
  &_search {
    margin-bottom: 24px;
    display: flex;
    border: 1px solid var(--Extra-ligh-greyColor);
    background-color: var(--whiteColor);
    border-radius: 5px;

    input {
      border: none;
      padding: 16px;
      outline: none;
      width: 90%;
    }
    .search-input::placeholder {
      color: var(--grey-color);
    }
    img {
      padding: 0px 12px;
    }
  }
  &_card {
    transition: transform 0.3s ease-in-out;
    margin-bottom: 34px;
    cursor: pointer;
  }
  &_card:hover {
    transform: scale(1.03);
  }
}
