<section class="scored-card-section">
    <div class="scored-card-section-header">
      <div>
        <stc-apps-page-header
          [mainTitle]="'PSR'"
          [secondaryTitle]="''"
        />
      </div>
      <img class = "hands-img" src="assets/images/hands-img.svg" alt="">
    </div>
      <div class="scored-card-section-tap-details">
        @if(currentMode === 'editMode' && isAdmin) {
          <stc-apps-edit-mode-view 
            (import)="showDialog()"
            (export)="downloadTemplate()"
            [showActivityLogsButton]="false"
          />
        }
        @if(!isEmpty)
        {
          <div class="projects-container">
            <div class="head">
              <p class = "psr-tabview-header">
                {{selectedGD && selectedGD[0] && selectedGD[0].gd ? selectedGD[0].gd : ''}}
              </p>
              @if(isAllowed)
              {
                <div style = "display:flex">
                  <button (click)="gotoAddForm()"  class = "add-program-btn" style = "margin-right:15px;">
                    <!-- <i class = "pi pi-plus"></i> -->
                     <img src="assets/images/plus-icon.svg" alt="">
                    add new project
                  </button>
                  @if(isAdmin)
                  {
                    <stc-apps-menu-popup 
                        [menuItems]="menuItems"
                        (onClick)="actionButton($event)"
                        [hidePopup]="showActivityLogsPopup"
                    />
                    <stc-apps-activity-logs-popup 
                        [activityLogsTableHeader]="activityLogsTableHeader"
                        [activityLogsTableBody]="activityLogsTableBody()"
                        [showPopup]="showActivityLogsPopup"
                        (popupClosed)="popupClosed()"
                        [isProjectActionPopup]="true"
                        [isActionPopup2]="true"
                    />
                  }
                </div>
              }
            </div>
            <div class="project-cards-container">
              @for (proj of PSRDetailsData; track proj.gd) {
                <div class="project-card">
                  <stc-apps-project-details-card 
                    [projectData]="proj"
                    (addRecordInTable)="addRecordInTable($event)"
                    (closePopupEmit)="closePopup($event)"
                    [userRoles]="userRoles"
                    (deleteProject)="deleteProject($event)"
                    [isAllowed]="isAllowed"
                    [isAdmin]="isAdmin"
                    (addChartData)="addChartData($event)"
                    (deleteTableRecord)="deleteTableRecord($event)"
                    [groupName]="groupName"
                  />
                </div>
              }
            </div>
          </div>
        } @else {
          @if(isAllowed)
          {
            <button (click)="gotoAddForm()" class = "add-program-btn ms-auto">
              <!-- <i class = "pi pi-plus"></i> -->
               <img src="assets/images/plus-icon.svg" alt="">
              add new project
            </button>
          }
          <p class = "empty-data-msg">
            there are no data for this project
          </p>
        }
      </div>
  </section>
<stc-apps-dialog-modal 
  [visible]="visible"
  (ImportedFile)="importData($event)"
  (onhide)="onHide()"
/>