<section class="digital-transformation">
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <stc-apps-page-header
      [mainTitle]="'Digital Transformation'"
      [secondaryTitle]="''"
      [username]="userData ? userData.name : ''"
      [fontFamilies]="['STCForwardFont', 'mediunPoppins', 'blackPoppins']"
    />
    <button class="export-btn">
      <img src="assets/images/File Download.svg" alt="" />
      export
    </button>
  </div>
  <div class="digital-transformation-taps">
    @if(digitalTransformationTaps().length !== 0){
    <stc-apps-tabview
      [tabsData]="digitalTransformationTaps()"
      [tabColor]="'#ffffff'"
      [clickedtabColor]="'#ffffff'"
      [tabBackground]="'#FFFFFF0D'"
      [clickedtabBackground]="'#FF375E'"
      (clickedTap)="getClickedTap($event)"
      [fontFamily]="'STCForwardFont'"
      [isMobile]="false"
    />
    }
  </div>
  <!-- <div class="digital-transformation-body">
    <h4>{{ currTap().name }}</h4>
  </div> -->
  @if(currTap().id === 1){
  <stc-apps-executive-summary />
  } @else {
  <section class="qa-compilance">
    <p class="main-title">{{ tabTitle }}</p>
    @if(currTap().id !== 7){
    <div class="kpi-container">
      @for (card of qAComplianceData; track card.id) {
      <div class="kpi-container-card">
        <stc-apps-qa-compilance-card [QAComplianceCardData]="card" />
      </div>
      } @empty {
      <h3>there is no data</h3>
      }
    </div>
    } @else {
    <h3>there is no data</h3>
    }
  </section>
  }
</section>
