<div class="details-page">
  <stc-apps-breadcrumbs></stc-apps-breadcrumbs>
  <div class="details-page_title">
    <h3>{{ titleData }}</h3>
    <div class="filter">
      <!-- <p>Select FY Year</p> -->
     <stc-apps-dropdown></stc-apps-dropdown>
    </div>
  </div>
  <div class="details-page_progressHolder">
    @for(progress of progressInfo; track progress; let index=$index){
    <div class="details-page_progress-overview">
      <stc-apps-progress-percentage
        [percentage]="progress.percantage"
        [thresholds]="{
          green: 100,
          orange: 90,
          red: 70
        }"
      ></stc-apps-progress-percentage>
      <p>{{ progress.progressDesc }}</p>
    </div>
    }
  </div>

  <div class="details-page_cards row row-gap-3">
    @for (strategicKPI of strategicGroupKPI; track $index) {
    <div class="col-xl-2 col-md-4 col-sm-6 col-xs-12">
      <stc-apps-progress-card
        [title]="strategicKPI.name"
        [precentage]="strategicKPI.actualValue.toString()"
        [thresholds]="{
          green: strategicKPI.greenThreshold,
          orange: strategicKPI.orangeThreshold,
          red: strategicKPI.redThreshold
        }"
        [unit]="strategicKPI.unit"
      ></stc-apps-progress-card>
    </div>
    }
  </div>
</div>
<div class="details-page_range">
  <div class="range-title">Range Historical Trend</div>
  <div>
    <div class="range-holder col-md-12 col-lg-12 col-xl-6">
      <stc-apps-range-slider
        [startValueInput]="0"
        [endValueInput]="2024"
        (rangeChanged)="onRangeChange($event)"
      ></stc-apps-range-slider>
    </div>
  </div>
</div>
<div class="details-page_charts row row-gap-3">
  @for (item of filteredDetails; track item) {
  <div class="details-page_charts_item col-lg-6 col-md-12 col-sm-12">
    <stc-apps-chart-card
      [title]="item.name"
      [strategicGroup]="item"
      [selectedYearRange]="selectedYearRange"
    ></stc-apps-chart-card>
  </div>
  } @empty {
  <p>No data available for the selected range or year.</p>
  }
</div>
