<section class="executive-summary">
  <p-accordion [activeIndex]="activeAccordionIndex">
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="main-header" (click)="$event.stopPropagation()">
          <p>AI&DS Dashboard</p>
          <div>
            <button
              class="add-workstream-btn"
              (click)="
                openAddWorkstreamSidebar(false, false, false); isProject = false
              "
            >
              <i class="pi pi-plus"></i>
              add workstream
            </button>
            <img
              src="assets/images/arrow-up.svg"
              alt=""
              (click)="toggleAccordion(0, $event)"
            />
          </div>
        </div>
      </ng-template>
      <div class="executive-summary-body">
        @for (summaryData of executiveSummaryData.aiDashboard; track $index) {
        <div class="executive-summary-body-container">
          <div class="executive-summary-body-title">
            <div class="left-side">
              <p class="title2">{{ summaryData.title }}</p>
              <stc-apps-status-card
                [status]="summaryData.status"
                [backgroundColor]="
                  getStatusStyle(summaryData.status).backgroundColor
                "
                [textColor]="getStatusStyle(summaryData.status).textColor"
                [borderColor]="getStatusStyle(summaryData.status).borderColor"
              />
            </div>
            <div class="right-side">
              <button (click)="openSidebar1(summaryData, 'highlights')">
                <img src="assets/images/Info Circle.svg" alt="" />
                <span>highlights</span>
              </button>
              <button (click)="openSidebar1(summaryData, 'challenges')">
                <img src="assets/images/Danger.svg" alt="" />
                <span>Challenges</span>
              </button>
              <button
                (click)="
                  openAddWorkstreamSidebar(true, false, false);
                  isProject = false
                "
              >
                <i class="pi pi-pencil"></i>
                <!-- <img src="assets/images/button.svg" alt="" /> -->
              </button>
            </div>
          </div>
          <div class="executive-summary-body-sub-title">
            <div class="left-side">
              <p>weight: {{ summaryData.weight }}</p>
            </div>
            <div class="right-side">
              <p>
                planned:
                <span class="planned">{{ summaryData.planned }}</span>
              </p>
              <img src="assets/images/Component 2.svg" alt="" />
              <p>
                actual:
                <span class="actual">{{ summaryData.actual }}</span>
              </p>
            </div>
          </div>
          <div class="executive-summary-body-content">
            <button
              class="add-new-project-btn"
              (click)="
                openAddWorkstreamSidebar(false, true, false); isProject = true
              "
            >
              <i class="pi pi-plus"></i>
              add new project
            </button>
            <div class="row">
              @for (item of summaryData.details; track $index) {
              <div class="col-lg-6 col-md-6 col-sm-12">
                <stc-apps-executive-summary-card
                  (openProjSidebar)="
                    openProjSidebar($event);
                    openAddWorkstreamSidebar(false, false, true);
                    isProject = true
                  "
                  [executiveCard]="item"
                />
              </div>
              }
            </div>
          </div>
        </div>
        }
      </div>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="main-header" (click)="$event.stopPropagation()">
          <p>IT Platforms Dashboard</p>
          <div>
            <button
              class="add-workstream-btn"
              (click)="openAddWorkstreamSidebar(false, false, false)"
            >
              <i class="pi pi-plus"></i>
              add workstream
            </button>
            <img
              src="assets/images/arrow-up.svg"
              alt=""
              (click)="toggleAccordion(1, $event)"
            />
          </div>
        </div>
      </ng-template>
      <div class="executive-summary-body">
        @for (summaryData of executiveSummaryData.itPlatforms; track $index) {
        <div class="executive-summary-body-container">
          <div class="executive-summary-body-title">
            <div class="left-side">
              <p class="title2">{{ summaryData.title }}</p>
              <stc-apps-status-card
                [status]="summaryData.status"
                [backgroundColor]="
                  getStatusStyle(summaryData.status).backgroundColor
                "
                [textColor]="getStatusStyle(summaryData.status).textColor"
                [borderColor]="getStatusStyle(summaryData.status).borderColor"
              />
            </div>
            <div class="right-side">
              <button (click)="openSidebar1(summaryData, 'highlights')">
                <img src="assets/images/Info Circle.svg" alt="" />
                <span>highlights</span>
              </button>
              <button (click)="openSidebar1(summaryData, 'challenges')">
                <img src="assets/images/Danger.svg" alt="" />
                <span>Challenges</span>
              </button>
              <button (click)="openAddWorkstreamSidebar(true, false, false)">
                <i class="pi pi-pencil"></i>
                <!-- <img src="assets/images/button.svg" alt="" /> -->
              </button>
            </div>
          </div>
          <div class="executive-summary-body-sub-title">
            <div class="left-side">
              <p>weight: {{ summaryData.weight }}</p>
            </div>
            <div class="right-side">
              <p>
                planned:
                <span class="planned">{{ summaryData.planned }}</span>
              </p>
              <img src="assets/images/Component 2.svg" alt="" />
              <p>
                actual:
                <span class="actual">{{ summaryData.actual }}</span>
              </p>
            </div>
          </div>
          <div class="executive-summary-body-content">
            <button
              class="add-new-project-btn"
              (click)="openAddWorkstreamSidebar(true, true, false)"
            >
              <i class="pi pi-plus"></i>
              add new project
            </button>
            <div class="row">
              @for (item of summaryData.details; track $index) {
              <div class="col-lg-6 col-md-6 col-sm-12">
                <stc-apps-executive-summary-card
                  (openProjSidebar)="
                    openProjSidebar($event);
                    openAddWorkstreamSidebar(false, false, true)
                  "
                  [executiveCard]="item"
                />
              </div>
              }
            </div>
          </div>
        </div>
        }
      </div>
    </p-accordionTab>
  </p-accordion>
</section>
<p-sidebar
  [(visible)]="sidebarVisible1"
  position="right"
  [showCloseIcon]="false"
  transitionOptions="0.3s ease-in-out"
  styleClass="highlights-sidebar"
>
  <div class="sidebar-content">
    <div class="form-title">
      <div class="left">
        <span></span>
        <p>{{ currentSideBarTitle }}</p>
      </div>
      <div class="right" (click)="sidebarVisible1 = false">
        <i class="pi pi-times"></i>
      </div>
    </div>
    <div class="content">
      <h4>{{ sidebarType }}</h4>
    </div>
  </div>
</p-sidebar>
<p-sidebar
  [(visible)]="showAddWorkstreamSidebar"
  position="right"
  [showCloseIcon]="false"
  transitionOptions="0.3s ease-in-out"
  styleClass="add-workstream-sidebar"
  (onHide)="hideAddWorkstreamSidebar()"
>
  <div class="sidebar-content">
    <div class="form-title">
      <div class="left">
        <span></span>
        <p>
          {{
            isEditWorkStream
              ? 'edit workstream'
              : isAddProject
              ? 'add new project'
              : isEditProject
              ? 'edit project'
              : 'add new workstream'
          }}
        </p>
      </div>
      <div class="right" (click)="showAddWorkstreamSidebar = false">
        <i class="pi pi-times"></i>
      </div>
    </div>
    <stc-apps-add-workstream-form
      [isWorkstreamSidebarVisible]="isWorkstreamSidebarVisible"
      (addWorkStream)="addWorkStream($event)"
      [isEditWorkStream]="isEditWorkStream"
      [isAddProject]="isAddProject"
      [isEditProject]="isEditProject"
      type=""
      [isProject]="isProject"
    />
  </div>
</p-sidebar>
