<div class="dialog"  @slideInOut>
  <header class="dialog_header">
    <h2 mat-dialog-title>
      <span class="title-prefix">Logs for KPI: </span>
      <span class="title-kpi" [title]="data.kpi.name">{{ data.kpi.name }}</span>
    </h2>
    <button mat-icon-button (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <mat-dialog-content class="dialog_body">
    <ul class="activity-list">
      <li *ngFor="let log of activityLogs" class="activity-list_item" [class.activity-list_item--warn]="log.returned">
        <mat-icon class="activity-list_icon" [color]="log.iconColor || (log.returned ? 'warn' : 'primary')">
          {{ log.icon || (log.returned ? 'info' : 'check_circle') }}
        </mat-icon>
        <div class="activity-list_details">
          <p class="activity-list_details_title">{{ log.title }}</p>

          <div class="activity-list_details_description" *ngIf="log.descriptionHtml" [innerHTML]="log.descriptionHtml"></div>

          <div class="activity-list_attachments" *ngIf="log.attachments?.length">
            <div class="activity-list_attachments_label">
              <mat-icon>attach_file</mat-icon>
              Evidence Attachments:
            </div>
            <div class="activity-list_attachments_list">
              <ng-container *ngFor="let att of log.attachments">
                <a class="activity-list_attachment_link" href="#" (click)="onDownloadAttachment(att); $event.preventDefault()" [title]="att.label">{{ att.label }}</a>
              </ng-container>
            </div>
          </div>

          <div class="activity-list_details_footer">
            <p class="activity-list_details_date">{{ log.date | date : 'medium' }}</p>
            <p class="activity-list_details_author" [title]="log.author">By: {{ log.author }}</p>
          </div>
        </div>
      </li>
    </ul>
  </mat-dialog-content>
</div>
