.card-holder {
  border-radius: 7px;
  margin-bottom: 16px;
  background-color: #fff;
  padding: 28px;
  .card-content {
    &_title {
      text-transform: capitalize;
      color: var(--stc-greyColor);
      margin-bottom: 12px;
    }
    &_count {
      font-family: 'stc forward-medium';
      font-weight: 800;
      margin: 4px 0px;
      font-size: 24px;
    }
    &_sub-title {
      margin: 0px;
      font-size: 12px;
      color: var(--stc-greyColor);
    }
  }
}
