<div class="data-upload">
  <stc-apps-breadcrumbs></stc-apps-breadcrumbs>
  <div class="data-upload_filter">
    <button class="btn dropdown upload-btn" (click)="toggleList()">
      Upload a File @if (showList) {
      <div class="dropdown_content">
        <ul>
          @for (item of items; track $index) {
          <li class="dropdown_item" (click)="onItemSelected(item, fileInput)">
            {{ item.name }}
          </li>
          }
        </ul>
      </div>
      }
    </button>
  </div>

  <div class="logs-table mt-8">
    <stc-apps-logs-table></stc-apps-logs-table>
  </div>
</div>

<input
  type="file"
  #fileInput
  (change)="onFileSelected($event)"
  accept=".xlsx"
  style="display: none; border: none; outline: none"
/>
