$full-width: 100%;
$gap-xl: 32px;
$gap-large: 25px;
$gap-medium: 16px;
$gap-small: 15px;
$gap-xs: 10px;
$gap-xxs: 8px;
$gap-tiny: 5px;

$font-size-xl: 24px;
$font-size-large: 20px;
$font-size-default: 16px;
$font-size-small: 14px;

$breakpoint-xl: 1400px;
$breakpoint-lg: 990px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;

%common-cell-styles {
    @media (max-width: $breakpoint-xl) {
        font-size: $font-size-small;
    }
}

@mixin button-font-size {
    font-size: $font-size-default;

    @media(max-width: $breakpoint-xl) {
        font-size: $font-size-small;
    }
}

@mixin responsive-gap($gap) {
    gap: $gap;

    @media screen and (max-width: $breakpoint-xl) {
        gap: $gap-small;
    }

    @media screen and (max-width: $breakpoint-md) {
        gap: $gap-xs;
    }
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.component-wrapper {
    z-index: 1;
    position: relative;
    background-color: var(--whiteColor);
    padding: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.p-dropdown-items {
    padding: 0;
}

::ng-deep {
    p-tieredmenu {
        ul {
            padding-inline-start: 0;

            li {
                a {
                    text-decoration: none;
                    display: flex;
                    justify-content: space-between;

                    .p-menuitem-icon {
                        order: 2;
                    }

                    .p-menuitem-text {
                        order: 1;
                    }
                }
            }
        }
    }

    .p-datepicker {
        width: auto !important;
        min-width: 0 !important;

        table {
            width: max-content;

            tbody {
                tr:not(.table-header) {
                    border: none;

                    td {
                        padding: 0;
                    }
                }
            }
        }
    }
}

@mixin calendar-styles {
    p-calendar {
        timesicon {
            margin: 0 10px;
        }
    }
}

%timepicker-styles {

    .p-hour-picker,
    .p-minute-picker,
    .p-second-picker,
    .p-ampm-picker {
        span {
            // color: var(--stc-color);
            font-size: $font-size-small;
            width: auto;
        }
    }
}