.financial-reporting
{
  padding:20px 30px;
  &-body
  {
    background-color: var(--stc-white-color);
    border-radius:10px;
    padding:20px;
    .box-card
    {
      box-shadow: 0px 0px 10px 0px #00000029;
      // border: 0.9px solid #8E9AA04D;
      border-radius: 5px;
      padding:15px 20px;
      color:#000;
      .main-title
      {
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        color:#000;
      }
      .budget-box
      {
        box-shadow: 0px 2.79px 2.79px 0px #0000000A;
        border: 0.63px solid #8E9AA04D;
        border-radius: 5px;
        padding: 30px 15px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p
        {
          margin: 0;
          &.budget-name
          {
            color:var(--stc-grey-dark-color);
            text-transform: capitalize;
            font-weight: 600;
            font-size: 16px;
          }
          &.budget-num
          {
            color:#000;
            font-size: 2.2rem;
            font-weight: 600;
            span
            {
              color:var(--stc-grey-dark-color);
              font-size: 0.9rem;
              text-transform: uppercase;
              font-weight: 500;
            }
          }
        }
      }
      .spending-cards
      {
        // display: flex;
        // align-items: center;
        // gap:15px;
        .spend-card
        {
          box-shadow: 0px 2.79px 2.79px 0px #0000000A;
          border: 0.63px solid #8E9AA04D;
          border-radius: 5px;
          padding: 10px 25px;
          margin-top: 15px;
          width: 100%;
          span
          {
            color:var(--stc-grey-dark-color);
            text-transform: capitalize;
            font-weight: 600;
            font-size: 16px;
          }
          .spend-num
          {
            color:#000;
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 0;
            margin-top: 10px;
            @media all and (min-width:1367px) and (max-width:1440px)
            {
              font-size: 1.5rem;
            }
            @media all and (min-width:1281px) and (max-width:1366px)
            {
              font-size: 1.4rem;
            }
            @media all and (max-width:1280px)
            {
              font-size: 1.2rem;
            }
            span
            {
              color:var(--stc-grey-dark-color);
              font-size: 0.9rem;
              text-transform: uppercase;
              font-weight: 500;
            }
          }
        }
      }
      .actual-spending-card
      {
        .title
        {
          margin: 0;
          color:var(--stc-purple-color);
          text-transform: capitalize;
          font-weight: 600;
          font-size: 17px;
          margin-top: 10px;
        }
        .wise-capex-card
        {
          box-shadow: 0px 2.79px 2.79px 0px #0000000A;
          border: 0.63px solid #8E9AA04D;
          border-radius: 5px;
          padding: 15px 25px 10px;
          margin-top:5px;
          width: 100%;
          text-align: center;
          .title2
          {
            margin: 0;
            color:var(--stc-grey-dark-color);
            text-transform: capitalize;
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
      &-chart
      {
        // margin-top: 30px;
        height: 300px;
      }
      &-chart2
      {
        display: grid;
        grid-template-columns: 50% 50%;
        .first-chart
        {
          .chart-container
          {
            border-right: 1px solid #8E9AA04D;
            margin-top: 20px;
            height: 280px;
          }
        }
        .second-chart
        {
          .chart-container
          {
            margin-top: 20px;
            height: 280px;
          }
        }
      }
      .tendring-status-card
      {
        .title
        {
          margin: 0;
          color:var(--stc-purple-color);
          text-transform: capitalize;
          font-weight: 600;
          font-size: 17px;
          margin-top: 10px;
        }
        &-box
        {
          box-shadow: 0px 2.79px 2.79px 0px #0000000A;
          border: 0.63px solid #8E9AA04D;
          border-radius: 5px;
          padding: 15px 15px 10px;
          margin-top:5px;
          width: 100%;
          text-align: center;
          .total-projects-amount-card
          {
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            box-shadow: 0px 2.79px 2.79px 0px #0000000A;
            border: 0.63px solid #8E9AA04D;
            border-radius: 5px;
            padding: 15px 15px 10px;
            .total-projects
            {
              border-right: 1px solid #8E9AA04D;
            }
            .total-projects , .total-amount
            {
              &-title
              {
                margin: 0;
                color:var(--stc-grey-dark-color);
                text-transform: capitalize;
                font-weight: 600;
                font-size: 16px;  
              }
              &-num
              {
                color:var(--stc-black-color);
                margin-top: 10px;
                font-weight: 600;
                font-size: 1.3rem;
              }
            }
          }
          .awarded-card
          {
            margin-top: 15px;
            display: flex;
            align-items: center;
            color:#fff;
            gap:1px;
            &-item
            {
              height: 35px;
              line-height: 35px;
              min-width: 5%;
            }
            &-legends
            {
              display: flex;
              align-items: center;
              gap:25px;
              margin-top: 10px;
              .legend
              {
                display: flex;
                align-items: center;
                gap:5px;
              }
              .bullet
              {
                width: 15px;
                height: 15px;
                border-radius: 50%;
              }
              .name
              {
                color:#616161;
                text-transform: capitalize;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
.empty-data-message
{
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 500;
  color:var(--stc-purple-color);
}