.charts {
  background: var(--whiteColor);
  box-shadow: 0px 0px 20px 0px #00000014;
  border-radius: 12px;
  height: 100%;

  &_card {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;

    &_title {
      width: 60%;
      display: flex;
      align-items: center;

      h3 {
        margin-inline-start: 5px;
      }

      &_body {
        height: 300px;

        .line-chart {
          height: 300px;
        }
      }
    }
    &_tabs {
      width: 60%;
      display: flex;
      justify-content: end;
    }
  }
}

@media screen and (max-width: 768px) {
  .charts_card {
    display: block;
    &_title {
      width: 100%;
    }
    &_tabs {
      width: 100%;
      display: flex;
      justify-content: end;
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
  .charts_card {
    display: block;
    &_title {
      width: 100%;
    }
    &_tabs {
      width: 100%;
      display: flex;
      justify-content: end;
      margin-top: 12px;
    }
  }
}
