.charts {
    background: var(--whiteColor);
    box-shadow: 0px 0px 20px 0px #00000014;


    &_card {
        display: flex;
        justify-content: space-between;
        padding: 25px 30px;


        &_title {
            display: flex;
            align-items: center;


            h3 {
                margin-inline-start: 5px;
            }
        }



        &_body {
            min-height: 200px;

            .line-chart {
                height: 200px;
            }
        }
    }
}