<div class="chat-view">
  <stc-apps-header
    (newChat)="handleNewChat()"
    [title]="'CEM Copilot'"
    [newMessageIsSent]="newMessageIsSent"
  ></stc-apps-header>
  <div
    #scrollContainer
    class="chat-view_messages-container messages-list-margin"
    (scroll)="onScroll()"
  >
    @if (messagesList.length==0) {
    <div class="background"></div>
    } @for (message of messagesStreamList; track $index) {
    <stc-apps-chat-list-item
      [message]="message.content"
      [messageType]="message.messageType"
      [newChat]="message.newChat ?? false"
      [header]="message.header ?? ''"
      [messagesChunks]="
        message.chunk ? message.chunk : [{ stageTitle: '', stageContent: '' }]
      "
      [isLoading]="pendingFlag()"
      (questionEvent)="questionClick($event)"
    >
    </stc-apps-chat-list-item>
    }
  </div>

  <div
    class="chat-view_input-container"
    [ngClass]="{
      focused: isFocused,
      'empty-max-height': !newMessage.trim(),
      'max-height': newMessage.trim(),
      error: newMessage.length > 512,
    }"
  >
    <textarea
      id="textarea"
      class="textarea scroll"
      (keydown.enter)="onEnter($event)"
      (input)="adjustHeight($event)"
      [(ngModel)]="newMessage"
      [placeholder]="pendingFlag() ? '' : 'Enter questions or prompt words'"
      (focus)="onFocus()"
      (blur)="onBlur($event)"
      [ngClass]="{
        'empty-max-height': !newMessage,
        'max-height': newMessage.trim(),
        'text-area-actions-bottom': newMessage.trim()
      }"
      [disabled]="pendingFlag()"
    >
    </textarea>
    <!-- [ngClass]="{
      disabled:
        newMessage.length > 512 || !newMessage.trim() || pendingFlag()
    }" -->

    <div class="text-area-actions">
      <div
        class="textarea-counter"
        [ngClass]="{ 'error-text': newMessage.length > 512 }"
      >
        @if (newMessage.trim()) {
        <p>{{ newMessage.length }} / {{ maxLength }}</p>
        }
      </div>
      @if (newMessage.length < 512&&
      newMessage.trim()&&!pendingFlag()||pendingFlag() ) {
      <div
        class="button-container"
        [ngClass]="{
        'pause-btn': pendingFlag(),

      }"
      >
        <img
          (click)="sendStreamMessage()"
          [src]="
            pendingFlag() ? 'assets/images/stop.png' : 'assets/images/send.png'
          "
          alt=""
        />
      </div>
      }
    </div>
  </div>
</div>
