<div class=" ">
  @if(milestoneDetails){
  <div class="row m-0 p-0">
    <div class="col-md-7">
      <div class="row details">
        <!-- <div class="col-12 title-holder">
            <h3>{{"case_details" | translate}}</h3>
          </div> -->

        <div class="row">
          <!-- Left Column -->
          <div class="col left-col">
            <div class="row">
              <div class="col-12">
                <p class="cell-name">{{ 'milestone_name' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.milestoneName ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'activity_name' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.activityName ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">
                  {{ 'created_email' | translate }}
                </p>
                <p class="cell-value">
                  {{ milestoneDetails.createdByEmail ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'created_name' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.createdByName ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'deliverable' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.deliverable ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'end_date' | translate }}</p>
                <p class="cell-value">{{ milestoneDetails.endDate ?? '-' }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'start_date' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.startDate ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">Capped Completion Percentage</p>
                <p class="cell-value">
                  {{ milestoneDetails.milestoneProgressUpdateDTO.cappedCompletionPercentage ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">Target Completion Level</p>
                <p class="cell-value">
                  {{ milestoneDetails.milestoneProgressUpdateDTO.targetCompletionLevel ?? '-' }}
                </p>
              </div>
            </div>
          </div>

          <!-- Mid Column -->
          <div class="col-5"></div>
          <!-- Right Column -->
          <div class="col right-col">
            <div class="row">
              <div class="col-12">
                <p class="cell-name">{{ 'last_progress' | translate }}</p>
                <ng-container *ngIf="milestoneDetails">
                  <p class="cell-value">
                    {{
                      milestoneDetails.lastProgressUpdateDate
                        ? (milestoneDetails.lastProgressUpdateDate
                          | date : 'yyyy-MM-dd')
                        : '-'
                    }}
                  </p>
                </ng-container>
              </div>

              <div class="col-12">
                <p class="cell-name">
                  {{ 'status' | translate }}
                </p>
                <p class="cell-value">{{ milestoneDetails.status ?? '-' }}</p>
              </div>

              <!-- <div class="col-12">
                  <p class="cell-name">{{ 'last_update' | translate }}</p>
                  <p class="cell-value">
                    {{ milestoneDetails.lastModifiedDate | date : 'dd/MM/YY?? '-'YY' }}
                  </p>
                </div> -->

              <div class="col-12">
                <p class="cell-name">{{ 'team_name' | translate }}</p>
                <p class="cell-value">{{ milestoneDetails.teamName ?? '-' }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'updated_email' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.updatedByEmail ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'updated_name' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.updatedByName ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'weight' | translate }}</p>
                <p class="cell-value">{{ milestoneDetails.weight ?? '-' }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'working_days' | translate }}</p>
                <p class="cell-value">{{ milestoneDetails.workingDays ?? '-' }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">Completion Impact Rate</p>
                <p class="cell-value">{{ milestoneDetails.milestoneProgressUpdateDTO.completionImpactRate ?? '-' }}</p>
              </div>
              <!-- <div class="col-12">
                  <p class="cell-name">{{ 'created_at' | translate }}</p>
                  <p class="cell-value">
                    {{ milestoneDetails.createdDate | date : 'dd/MM/YYYY' }}
                  </p>
                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="logs">
        <div
          class="spinner-border spinner-border-sm"
          role="status"
          *ngIf="isLoadingSteps"
        >
          <span class="sr-only">Loading...</span>
        </div>
        <stc-apps-actions-stepper
          [steps]="steps"
          (stepperAction)="doStepAction($event)"
          *ngIf="!isLoadingSteps"
        >
          <ng-template let-step>
            <div class="stepp-info">
              <p class="mt-1">
                <span>Overall progress: </span>
                <strong> {{ progress }}%</strong>
              </p>
              <p class="mt-1">
                <span>Deliverable: </span> <strong> {{ deliverable }}</strong>
              </p>
            </div>
          </ng-template>
        </stc-apps-actions-stepper>
      </div>
    </div>
  </div>
  }
</div>
