<div class=" ">
  @if(milestoneDetails){
  <div class="row m-0 p-0">
    <div class="col">
      <div class="row details">
        <!-- <div class="col-12 title-holder">
            <h3>{{"case_details" | translate}}</h3>
          </div> -->
        <h4 class="section-title">Milestone Information</h4>

        <div class="row">
          <!-- Left Column -->
          <div class="col left-col">
            <div class="row">
              <div class="col-12">
                <p class="cell-name">{{ 'milestone_name' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.milestoneName ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'activity_name' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.activityName ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">
                  {{ 'created_email' | translate }}
                </p>
                <p class="cell-value">
                  {{ milestoneDetails.createdByEmail ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'created_name' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.createdByName ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'deliverable' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.deliverable || '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'Work Stream' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.workStream || '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'end_date' | translate }}</p>
                <p class="cell-value">{{ milestoneDetails.endDate ?? '-' }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'start_date' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.startDate ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">Capped Completion Percentage</p>
                <p class="cell-value">
                  {{
                  milestoneDetails.currentMilestoneProgressUpdateDto
                  ?.cappedCompletionPercentage
                  ? milestoneDetails.currentMilestoneProgressUpdateDto
                  ?.cappedCompletionPercentage
                  : milestoneDetails.latestApprovedMilestoneProgressUpdate
                  ?.cappedCompletionPercentage
                  ? milestoneDetails.latestApprovedMilestoneProgressUpdate
                  ?.cappedCompletionPercentage
                  : '-'
                  }}
                </p>
              </div>
            </div>
          </div>

          <!-- Mid Column -->
          <div class="col-5"></div>
          <!-- Right Column -->
          <div class="col right-col">
            <div class="row">
              <div class="col-12">
                <p class="cell-name">Progress</p>
                <ng-container *ngIf="milestoneDetails">
                  <p class="cell-value">
                    {{
                    milestoneDetails.latestApprovedMilestoneProgressUpdate
                    ?.overallProgress
                    ? milestoneDetails.latestApprovedMilestoneProgressUpdate
                    ?.overallProgress
                    : '-'
                    }}
                  </p>
                </ng-container>
              </div>

              <div class="col-12">
                <p class="cell-name">
                  {{ 'status' | translate }}
                </p>
                <p class="cell-value">{{ milestoneDetails.status ?? '-' }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'team_name' | translate }}</p>
                <p class="cell-value">{{ milestoneDetails.teamName ?? '-' }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">Updated By</p>
                <p class="cell-value">
                  {{
                  milestoneDetails.latestApprovedMilestoneProgressUpdate
                  ?.updatedBy ?? '-'
                  }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'weight' | translate }}</p>
                <p class="cell-value">{{ milestoneDetails.weight ?? '-' }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'working_days' | translate }}</p>
                <p class="cell-value">
                  {{ milestoneDetails.workingDays ?? '-' }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">Completion Impact Rate</p>
                <p class="cell-value">
                  {{
                  milestoneDetails.currentMilestoneProgressUpdateDto
                  ?.completionImpactRate
                  ? milestoneDetails.currentMilestoneProgressUpdateDto
                  ?.completionImpactRate
                  : milestoneDetails.latestApprovedMilestoneProgressUpdate
                  ?.completionImpactRate
                  ? milestoneDetails.latestApprovedMilestoneProgressUpdate
                  ?.completionImpactRate
                  : '-'
                  }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">Target Completion Level</p>
                <p class="cell-value">
                  {{
                  milestoneDetails.currentMilestoneProgressUpdateDto
                  ?.targetCompletionLevel
                  ? milestoneDetails.currentMilestoneProgressUpdateDto
                  ?.targetCompletionLevel
                  : milestoneDetails.latestApprovedMilestoneProgressUpdate
                  ?.targetCompletionLevel
                  ? milestoneDetails.latestApprovedMilestoneProgressUpdate
                  ?.targetCompletionLevel
                  : '-'
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-4 px-0 history" *ngIf="filteredDataHistory?.length > 0">
          <mat-accordion class="">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>History</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="history-item" *ngFor="let item of filteredDataHistory; let i = index"
                (click)="getHistoryTasks(item)">
                <mat-expansion-panel (opened)="panelOpened(i)" [expanded]="isPanelOpen(i)">
                  <mat-expansion-panel-header class="header-item">
                    <div class="box-item py-4">
                      <h5>Update progress #{{ i + 1 }}</h5>
                    </div>
                  </mat-expansion-panel-header>
                  <div class="info">
                    <ng-container *ngFor="let h of item.requestTasksHistory; let j = index">
                      <ng-container *ngIf="j === 0">
                        <span class="date">Create Date:
                          {{
                          historyItemInitialStep?.date | date : 'medium'
                          }}</span>
                      </ng-container>
                      <ng-container *ngIf="j === item.requestTasksHistory.length - 1">
                        <span class="date">End Date:
                          {{ h?.completedDate | date : 'medium' }}</span>
                      </ng-container>
                    </ng-container>
                  </div>
                  <div class="logs" *ngIf="historySteps.length > 0">
                    <stc-apps-actions-stepper [steps]="historySteps" (stepperAction)="doStepAction($event)">
                      <ng-template #bodyTemplate let-step>
                        <div class="stepp-info">
                          <p class="mt-1">
                            <span>Overall progress: </span>
                            <strong>
                              {{
                              historyItemInitialStep?.overallProgress
                              }}%</strong>
                          </p>
                          <p class="mt-1">
                            <span>Deliverable: </span>
                            <strong>
                              {{
                              historyItemInitialStep?.deliverable ?? '-'
                              }}</strong>
                          </p>
                        </div>
                      </ng-template>

                      <ng-template #captionTemplate let-step>
                        <div>
                          <p class="m-0" style="font-weight: bold">
                            Milestone progress updated
                            <span [ngClass]="{
                              'completed-status': status === 'Completed',
                              'delayed-status': status === 'Delayed',
                              'on-track-status': status === 'On Track',
                              'at-risk-status': status === 'At Risk',
                              'planned-status': status === 'Planned'
                            }">({{ historyItemInitialStep?.status }})</span>
                          </p>
                        </div>
                      </ng-template>
                    </stc-apps-actions-stepper>
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
      @if(!milestonesService.isDTAdmin){ @if (milestoneDetails.status !== 'Completed' && hideAction)  {
    <div class="col-md-5">
      <div class="logs">
        <h4 class="section-title">On Going Workflow</h4>

        <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoadingSteps">
          <span class="sr-only">Loading...</span>
        </div>
        @if(steps.length){
        <stc-apps-actions-stepper [steps]="steps" (stepperAction)="doStepAction($event)" *ngIf="!isLoadingSteps">
          <ng-template #bodyTemplate let-step>
            <div class="stepp-info">
              <p class="mt-1">
                <span>Overall progress: </span>
                <strong> {{ progress }}%</strong>
              </p>
              <p class="mt-1">
                <span>Deliverable: </span>
                <strong> {{ deliverable ?? '-' }}</strong>
              </p>
            </div>
          </ng-template>
          <ng-template #captionTemplate let-step>
            <div>
              <p class="m-0" style="font-weight: bold">
                Milestone progress updated
                <span [ngClass]="{
                  'completed-status': status === 'Completed',
                  'delayed-status': status === 'Delayed',
                  'on-track-status': status === 'On Track',
                  'at-risk-status': status === 'At Risk',
                  'planned-status': status === 'Planned'
                }">({{ status }})</span>
              </p>
            </div>
          </ng-template>
        </stc-apps-actions-stepper>
        } @else {
        <div class="no-ongoning-workflow">
          There are currently no active workflows.
        </div>
        }
      </div>
    </div>
    } }
  </div>
  }
</div>