<div class="logs-panel-header">
  <div class="row">
    <div class="col-md-6">
      <div class="logs-panel-header_info row">
        <div class="logs-panel-header_info_type col-md-2">
          <span>Feedback</span>
        </div>
        <div class="logs-panel-header_info_data col-md-10">
          <h5 class="tile">Great user interface improvments</h5>
          <p class="subTitle">
            The new dashborad design is much more intuitive. Love the color and
            layout!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 offset-md-1">
      <div class="logs-panel-header_number-of-attachments">
        <div>
          <i class="icon fa-solid fas fa-paperclip"></i>
          <span class="count">4</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="logs-panel-header_date">
        <div>
          <i class="icon fa-regular fas fa-calendar"></i>
          <span class="date">12/04/2025</span>
        </div>
      </div>
    </div>
  </div>
</div>
