<div class="date" (click)="showDialog('bottom')">
  <div class="date-dropdown">
    <p>{{ currentMonthName }} {{ currentYear() }}</p>
    <img src="assets/images/mobile/arrow-down.svg" />
  </div>
</div>
<p-dialog 
  header="Edit Profile"
  [modal]="true"
  [(visible)]="visible"
  [position]="position"
  styleClass = "date-modal"
  dismissableMask="true"
  transitionOptions = "300ms cubic-bezier(0, 0, 0.2, 1)"
  resizable = 'false'
>
  <ng-template pTemplate="header"></ng-template>
  <ng-template pTemplate="content">
    <p-calendar 
      class="max-w-full" 
      [(ngModel)]="date" 
      [inline]="true" 
      [showWeek]="true"
      view="month"
      [showButtonBar]="true"
      [showIcon]="false"
      [monthNavigator]="true"
      [yearNavigator]="true"
    />
  </ng-template>
</p-dialog>
