:root{
  --stc-purple-color: #4F008C;
  --stc-purple-dark-color: #37045F;
  --stc-purple-light-color: #40036E;
  --stc-purple-lighter-color: #4F008C1A;
  --stc-white-color:#ffffff;
  --stc-pink-color:#FF375E;
  --stc-pink-light-color:#5b067e;
  --stc-white-light-color:#FFFFFF0D;
  --stc-grey-light-color:#F5F6FA;
  --stc-grey-lighter-color:#fdfdfd;
  --stc-grey-dark-color:#8E9AA0;
  --stc-green-dark-color:#00C48C;
  --stc-green-light-color:#00C48C1A;
  --stc-green-lighter-color:#00C48C14;
  --stc-red-light-color:#FF375E1A;
  --stc-red-dark-color:#FF375E;
  --stc-blue-light-color:#e4ddee;
  --stc-black-color:#000000;
  --stc-dark-grey-color:#121212;
  --stc-light-yellow-color:#FFC55526;
  --stc-dark-yellow-color:#AE7C1C;
  --stc-lighter-blue-color:#61CBD64D;
  --stc-light-blue-color:#0D7280;
  --stc-sky-color:#1cced8;
  --stc-lighter-sky-color:#1cced80f;
  --stc-light-sky-color:#1cced857;
  --stc-lighter-sky-color2:#61CBD61A;
  --stc-light-sky-color2:#3DB5C1;
  --stc-light-pink-color:#F2F4F8;
  --stc-light-grey-color:#e8e8e8;
  --stc-dark-blue-color:#1D252D;
  --stc-lighter-grey-color:#8E9AA01A;
  --stc-lighter-black-color:#232325;
  --stc-lighter-grey-color2:#6F727A;
  --stc-lighter-grey-color3:#E4E3E2;
  --stc-dark-grey-color2:#1B1B1B;
  --stc-red-color:#F32D2D;
  --stc-red-color2:#FF1A1A;
  --stc-orange-color: #FF6A39;
  --stc-grey-color: #292D32;
}