:root{
  --stc-purple-color: #4F008C;
  --stc-purple-dark-color: #37045F;
  --stc-white-color:#ffffff;
  --stc-pink-color:#FF375E;
  --stc-pink-light-color:#5b067e;
  --stc-white-light-color:#FFFFFF0D;
}
