:root{
  --stc-purple-color: #4F008C;
  --stc-purple-dark-color: #37045F;
  --stc-purple-light-color: #40036E;
  --stc-white-color:#ffffff;
  --stc-pink-color:#FF375E;
  --stc-pink-light-color:#5b067e;
  --stc-white-light-color:#FFFFFF0D;
  --stc-grey-light-color:#F5F6FA;
  --stc-grey-dark-color:#8E9AA0;
  --stc-green-dark-color:#00C48C;
  --stc-green-light-color:#00C48C1A;
  --stc-red-light-color:#FF375E1A;
  --stc-red-dark-color:#FF375E;
  --stc-blue-light-color:#e4ddee;
}
