<div class="container-fluid views-padding">
  <div class="row m-0 p-0">
    <div class="col-md-8">
      <div class="row details">
        <!-- <div class="col-12 title-holder">
          <h3>{{"case_details" | translate}}</h3>
        </div> -->

        <div class="row">
          <!-- Left Column -->
          <div class="col left-col">
            <div class="row">
              <div class="col-12">
                <p class="cell-name">{{ 'customer_name' | translate }}</p>
                <p class="cell-value">{{ caseData?.customerName }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'service_type' | translate }}</p>
                <p class="cell-value">{{ caseData?.serviceType }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">
                  {{ 'Existing Service Order' | translate }}
                </p>
                <p class="cell-value">{{ caseData?.existingServiceOrder }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'wfm_order' | translate }}</p>
                <p class="cell-value">{{ caseData?.wfmOrder }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'new_service_order' | translate }}</p>
                <p class="cell-value">{{ caseData?.newServiceOrder }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'contact_number' | translate }}</p>
                <p class="cell-value">{{ caseData?.contactNumber }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'existing_plate' | translate }}</p>
                <p class="cell-value">{{ caseData?.existingPlate }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'type' | translate }}</p>
                <p class="cell-value">{{ caseData?.type }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'created_at' | translate }}</p>
                <p class="cell-value">
                  {{ caseData?.createdDate | date : 'dd/MM/YYYY' }}
                </p>
              </div>
            </div>
          </div>

          <!-- Mid Column -->
          <div class="col-5"></div>
          <!-- Right Column -->
          <div class="col right-col">
            <div class="row">
              <div class="col-12">
                <p class="cell-name">{{ 'city' | translate }}</p>
                <p class="cell-value">{{ caseData?.city }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'activation_date' | translate }}</p>
                <ng-container *ngIf="caseData">
                  <p class="cell-value">{{ caseData.activationDate }}</p>
                </ng-container>
              </div>

              <div class="col-12">
                <p class="cell-name">
                  {{ 'existing_phone_number' | translate }}
                </p>
                <p class="cell-value">{{ caseData?.existingPhoneNumber }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'new_plate' | translate }}</p>
                <p class="cell-value">{{ caseData?.newPlate }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'new_phone_number' | translate }}</p>
                <p class="cell-value">{{ caseData?.newPhoneNumber }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'case_label' | translate }}</p>
                <p class="cell-value">{{ caseData?.caseLabel }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'creator_name' | translate }}</p>
                <p class="cell-value">{{ caseData?.creatorName }}</p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'creator_team_Name' | translate }}</p>
                <p class="cell-value">
                  {{ caseData?.creatorTeamName }}
                </p>
              </div>

              <div class="col-12">
                <p class="cell-name">{{ 'last_update' | translate }}</p>
                <p class="cell-value">
                  {{ caseData?.lastModifiedDate | date : 'dd/MM/YYYY' }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p class="cell-name">{{ 'description' | translate }}</p>
            <p class="cell-value">{{ caseData?.description }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6" *ngIf="caseData?.attachments.length > 0">
            <p class="cell-name">{{ 'attachments' | translate }}</p>

            <ul>
              <li *ngFor="let item of caseData?.attachments">
                <div class="file" (click)="downloadFile(item.id, item.label)">
                  <span>{{ item.label }}</span>
                  <i class="fas fa-arrow-alt-circle-down"></i>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <section class="tasks">
        <figure>
          <figcaption>
            <h4>{{ 'logs_of_cases' | translate }}</h4>
            <div>
              <p
                class="case-status"
                [ngClass]="
                  cassesService.getKeyByValue(CaseStatus, this.caseStatus)
                "
              >
                {{ this.caseStatus | translate }}
              </p>
            </div>
          </figcaption>
        </figure>
        <div class="order-track">
          <div class="order-track-step" *ngFor="let item of allTasks">
            <div
              class="order-track-status"
              [ngClass]="
                item.taskStatus === 'pending' ? ' order-track-pending' : null
              "
            >
              <span
                class="order-track-status-dot"
                [ngClass]="
                  item.taskStatus === 'pending'
                    ? ' order-track-pending-dot'
                    : null
                "
              >
                <i
                  class="fas fa-check"
                  *ngIf="item.taskStatus !== 'pending'"
                ></i>
                <i
                  class="fas fa-info"
                  *ngIf="item.taskStatus === 'pending'"
                ></i>
              </span>
              <span
                class="order-track-status-line"
                [ngClass]="
                  item.taskStatus === 'pending'
                    ? ' order-track-pending-line'
                    : null
                "
              ></span>
            </div>
            <div class="order-track-text">
              <p class="order-track-text-stat">
                {{ item.taskName | translate }}
              </p>
              <p class="m-0 order-date" *ngIf="item.taskStatus !== 'pending'">
                {{ 'by' | translate }}:
                <strong>{{ item.completedByName || 'old user' }}</strong
                >, {{ 'on' | translate }}:
                {{
                  item.completedDate
                    ? (item.completedDate | localeDateFormat : 'longDate')
                    : (item.createdDate | localeDateFormat : 'longDate')
                }}
              </p>

              <p class="m-0 item-msg"></p>

              <ng-container *ngFor="let taskAttr of item.taskAttributes">
                <p
                  class="m-0 item-msg"
                  *ngIf="taskAttr.attributeName === 'case_approved'"
                >
                  {{
                    taskAttr.attributeValue === '0'
                      ? 'Rejected'
                      : taskAttr.attributeValue === null
                      ? ''
                      : 'Approved'
                  }}
                </p>

                <p
                  class="m-0 item-msg"
                  *ngIf="taskAttr.attributeName === 'info_needed'"
                >
                  {{ taskAttr.attributeValue === '0' ? 'Not needed' : '' }}
                </p>

                <p
                  class="m-0 item-msg"
                  *ngIf="taskAttr.attributeName === 'message'"
                >
                  {{ taskAttr.attributeValue }}
                </p>
              </ng-container>

              <p
                *ngFor="let attachment of item.attachments"
                class="item-task-attachment"
                (click)="downloadFile(attachment.id, attachment.label)"
              >
                {{ attachment.label }}
              </p>

              <div
                class="actions my-3 d-flex"
                *ngIf="item.taskStatus === 'pending'"
              >
                <ng-container
                  *ngIf="
                    item.taskName === TaskCicle.checkCase &&
                    authService.getLoggedInUser().roles.includes('APPROVERS')
                  "
                >
                  <stc-apps-button
                    [buttonText]="'yes' | translate"
                    [buttonType]="'primary'"
                    (btnClick)="onCheck()"
                  ></stc-apps-button>
                  <stc-apps-button
                    [buttonText]="'no' | translate"
                    (btnClick)="cancelCheck()"
                    [buttonType]="'gray-outline'"
                  ></stc-apps-button>
                </ng-container>

                <stc-apps-button
                  *ngIf="
                    item.taskName === TaskCicle.fillMoreInfo &&
                    !authService.getLoggedInUser().roles.includes('APPROVERS')
                  "
                  [buttonText]="'reply' | translate"
                  [buttonType]="'primary'"
                  (btnClick)="replyfeed()"
                ></stc-apps-button>

                <ng-container
                  *ngIf="
                    item.taskName === TaskCicle.approveCase &&
                    authService.getLoggedInUser().roles.includes('APPROVERS')
                  "
                >
                  <stc-apps-button
                    [buttonText]="'approve' | translate"
                    [buttonType]="'primary'"
                    (btnClick)="confirm()"
                  ></stc-apps-button>
                  <!--approvedTask()  -->
                  <stc-apps-button
                    [buttonText]="'reject' | translate"
                    [buttonType]="'danger-outline'"
                    (btnClick)="reject()"
                  ></stc-apps-button>
                </ng-container>

                <stc-apps-button
                  *ngIf="
                    item.taskName === TaskCicle.withinSlResponse &&
                    authService.getLoggedInUser().roles.includes('APPROVERS')
                  "
                  [buttonText]="'received' | translate"
                  [buttonType]="'primary'"
                  (btnClick)="withinResponse()"
                ></stc-apps-button>

                <ng-container
                  *ngIf="
                    item.taskName === TaskCicle.shouldEscalate &&
                    authService.getLoggedInUser().roles.includes('APPROVERS')
                  "
                >
                  <stc-apps-button
                    [buttonText]="'yes' | translate"
                    [buttonType]="'primary'"
                    (btnClick)="shouldFirstEscalate()"
                  ></stc-apps-button>
                  <stc-apps-button
                    [buttonText]="'no' | translate"
                    [buttonType]="'gray-outline'"
                    (btnClick)="notFirstEscalate()"
                  ></stc-apps-button>
                </ng-container>

                <ng-container
                  *ngIf="
                    item.taskName === TaskCicle.shouldReEscalate &&
                    authService.getLoggedInUser().roles.includes('APPROVERS')
                  "
                >
                  <stc-apps-button
                    [buttonText]="'yes' | translate"
                    [buttonType]="'primary'"
                    (btnClick)="shouldSecondEscalate()"
                  ></stc-apps-button>
                  <stc-apps-button
                    [buttonText]="'no' | translate"
                    [buttonType]="'gray-outline'"
                    (btnClick)="notSecondEscalate()"
                  ></stc-apps-button>
                </ng-container>

                <stc-apps-button
                  *ngIf="
                    item.taskName === TaskCicle.sendToClose &&
                    authService.getLoggedInUser().roles.includes('APPROVERS')
                  "
                  [buttonText]="'send' | translate"
                  [buttonType]="'primary'"
                  (btnClick)="sendToClose()"
                ></stc-apps-button>

                <div class="spacer"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<stc-apps-dialog id="request-Info-Modal">
  <h3>{{ 'Request More Info | CASE ID' | translate }} : {{ caseSerial }}</h3>
  <form [formGroup]="infoForm" (ngSubmit)="sendInfo()">
    <div class="row">
      <div class="col-md-6">
        <stc-apps-select-drop-down
          [label]="'assigned_to' | translate"
          [options]="assigneeType"
          [labelName]="'name'"
          [labelValue]="'value'"
          formControlName="assignedTo"
        ></stc-apps-select-drop-down>
      </div>
      <div class="col-md-6">
        <stc-apps-select-drop-down
          [label]="
            'Select ' +
              (infoForm.get('assignedTo')?.value?.value === '1'
                ? 'Team'
                : 'User') | translate
          "
          [options]="
            infoForm.get('assignedTo')?.value?.value === '1' ? teams : users
          "
          formControlName="selectedUser"
          [labelName]="'name'"
          [labelValue]="'email'"
          (selectChange)="
            infoForm.get('assignedTo')?.value?.value === '1'
              ? infoForm.get('selectedUser')!.setValue($event)
              : infoForm.get('selectedUser')!.setValue($event)
          "
        ></stc-apps-select-drop-down>
      </div>
      <div class="col-md-12">
        <stc-apps-textarea
          [className]="'custom-input'"
          [inputPlaceholder]="''"
          [inputId]="'message'"
          [inputName]="'inquiry' | translate"
          formControlName="message"
        ></stc-apps-textarea>
      </div>
      <div class="col-md-12">
        <stc-apps-file-uploader
          [multiple]="false"
          [chooseLabel]="'add_attachment' | translate"
          (onformchange)="onUploadFile($event)"
          [attachmentFiles]="
            this.infoForm.controls['check_case_attachment'].value
          "
          formControlName="check_case_attachment"
          [isLoading]="isLoading"
          (ondelete)="onDeleteFile($event)"
        ></stc-apps-file-uploader>
      </div>
      <div class="row mt-4">
        <div class="col-md-4 offset-8">
          <div class="d-flex justify-content-end">
            <stc-apps-button
              [buttonText]="'cancel' | translate"
              [buttonType]="'gray-outline'"
              (btnClick)="dialogService.close()"
            ></stc-apps-button>

            <div class="mx-3"></div>
            <stc-apps-button
              [buttonText]="'send' | translate"
              [buttonType]="'primary'"
              (btnClick)="sendInfo()"
              [buttonDisable]="!infoForm.valid"
            ></stc-apps-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</stc-apps-dialog>

<stc-apps-dialog id="approve-Modal">
  <!-- <p>
    You're about to Approve Case
    <strong>(Case ID : {{ caseSerial }})</strong> . Kindly note you can't rollback
    this action, Are you sure?”
  </p> -->
  <!-- <h3>Request More Info | CASE ID : #123432</h3> -->

  <p>{{ 'approve_case_confirmation' | translate }}</p>
  <div class="row mt-4">
    <div class="col-md-4 offset-8">
      <div class="d-flex justify-content-end">
        <stc-apps-button
          [buttonText]="'cancel' | translate"
          [buttonType]="'gray-outline'"
          (btnClick)="dialogService.close()"
        ></stc-apps-button>

        <div class="mx-3"></div>
        <stc-apps-button
          [buttonText]="'yes_approve' | translate"
          [buttonType]="'primary'"
          (btnClick)="approvedTask()"
        ></stc-apps-button>
      </div>
    </div>
  </div>
</stc-apps-dialog>

<stc-apps-dialog id="reject-Modal">
  <p>
    {{ 'reject_case_confirmation' | translate }}
    <strong>({{ 'case_id' | translate }}: {{ caseSerial }})</strong>.
    {{ 'no_rollback_confirmation' | translate }}
  </p>
  <form [formGroup]="rejectForm" (ngSubmit)="confirmReject()">
    <div class="row">
      <div class="col-md-12">
        <stc-apps-textarea
          [className]="'custom-input'"
          [inputPlaceholder]="''"
          [inputId]="'reason'"
          [inputName]="'reason' | translate"
          formControlName="reject_note"
        ></stc-apps-textarea>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 offset-8">
        <div class="d-flex justify-content-end">
          <stc-apps-button
            [buttonText]="'cancel' | translate"
            [buttonType]="'gray-outline'"
            (btnClick)="dialogService.close()"
          ></stc-apps-button>

          <div class="mx-3"></div>
          <stc-apps-button
            [buttonText]="('yes' | translate) + ', ' + ('reject' | translate)"
            [buttonType]="'danger-outline'"
            (btnClick)="confirmReject()"
          ></stc-apps-button>
        </div>
      </div>
    </div>
  </form>
</stc-apps-dialog>
<stc-apps-dialog id="replyFeeback-Modal">
  <p>
    {{ 'reply_feeback' | translate }}
    <strong>({{ 'case_id' | translate }} : {{ caseSerial }})</strong>.
  </p>
  <form [formGroup]="replyForm" (ngSubmit)="confirmReply()">
    <div class="row">
      <div class="col-md-12">
        <stc-apps-textarea
          [className]="'custom-input'"
          [inputPlaceholder]="''"
          [inputId]="'message'"
          [inputName]="'feedback' | translate"
          formControlName="message"
        ></stc-apps-textarea>
      </div>
      <div class="col-md-12">
        <stc-apps-file-uploader
          [multiple]="false"
          [chooseLabel]="'add_attachment' | translate"
          (onformchange)="onUploadFile($event)"
          [attachmentFiles]="infoForm.get('check_case_attachment')?.value"
          formControlName="check_case_attachment"
          [isLoading]="isLoading"
          (ondelete)="onDeleteFile($event)"
        ></stc-apps-file-uploader>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 offset-8">
        <div class="d-flex justify-content-end">
          <stc-apps-button
            [buttonText]="'cancel' | translate"
            [buttonType]="'gray-outline'"
            (btnClick)="dialogService.close()"
          ></stc-apps-button>

          <div class="mx-3"></div>
          <stc-apps-button
            [buttonText]="'send' | translate"
            [buttonType]="'primary'"
            (btnClick)="confirmReply()"
            [buttonDisable]="!replyForm.valid"
          ></stc-apps-button>
        </div>
      </div>
    </div>
  </form>
</stc-apps-dialog>

<stc-apps-dialog id="close-Modal">
  <p>
    {{ 'close_case_confirmation' | translate }}
    <strong>( {{ 'case_id' | translate }} : {{ caseSerial }})</strong>.
    {{ 'no_rollback_confirmation' | translate }}
  </p>
  <form [formGroup]="closeForm" (ngSubmit)="confirmClose()">
    <div class="row">
      <div class="col-md-12">
        <stc-apps-textarea
          [className]="'custom-input'"
          [inputPlaceholder]="''"
          [inputId]="'mailContent'"
          [inputName]="'content' | translate"
          formControlName="close_mail_content"
        ></stc-apps-textarea>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 offset-8">
        <div class="d-flex justify-content-end">
          <stc-apps-button
            [buttonText]="'cancel' | translate"
            [buttonType]="'gray-outline'"
            (btnClick)="dialogService.close()"
          ></stc-apps-button>

          <div class="mx-3"></div>
          <stc-apps-button
            [buttonText]="'confirm' | translate"
            [buttonType]="'primary'"
            (btnClick)="confirmClose()"
          ></stc-apps-button>
        </div>
      </div>
    </div>
  </form>
</stc-apps-dialog>
<stc-apps-dialog id="first-escalate-Modal">
  <p>
    {{ 'first_escalate_case' | translate }}
    <strong>({{ 'case_id' | translate }} : {{ caseSerial }})</strong>.
    {{ 'no_rollback_confirmation' | translate }}
  </p>
  <form [formGroup]="firstEscalateForm" (ngSubmit)="confirmFirstEscalate()">
    <div class="row">
      <div class="col-md-12">
        <stc-apps-textarea
          [className]="'custom-input'"
          [inputPlaceholder]="''"
          [inputId]="'first_escalate_content'"
          [inputName]="'first_escalate_content' | translate"
          formControlName="first_escalate_content"
        ></stc-apps-textarea>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 offset-8">
        <div class="d-flex justify-content-end">
          <stc-apps-button
            [buttonText]="'cancel' | translate"
            [buttonType]="'gray-outline'"
            (btnClick)="dialogService.close()"
          ></stc-apps-button>

          <div class="mx-3"></div>
          <stc-apps-button
            [buttonText]="'confirm' | translate"
            [buttonType]="'primary'"
            (btnClick)="confirmFirstEscalate()"
            [buttonDisable]="!firstEscalateForm.valid"
          ></stc-apps-button>
        </div>
      </div>
    </div>
  </form>
</stc-apps-dialog>
<stc-apps-dialog id="second-escalate-Modal">
  <p>
    {{ 'second_escalate_case' | translate }}
    <strong>({{ 'case_id' | translate }}: {{ caseSerial }})</strong>.
    {{ 'no_rollback_confirmation' | translate }}
  </p>
  <form [formGroup]="secondEscalateForm" (ngSubmit)="confirmSecondEscalate()">
    <div class="row">
      <div class="col-md-12">
        <stc-apps-textarea
          [className]="'custom-input'"
          [inputPlaceholder]="''"
          [inputId]="'second_escalate_content'"
          [inputName]="'second_escalate_content' | translate"
          formControlName="second_escalate_content"
        ></stc-apps-textarea>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 offset-8">
        <div class="d-flex justify-content-end">
          <stc-apps-button
            [buttonText]="'cancel' | translate"
            [buttonType]="'gray-outline'"
            (btnClick)="dialogService.close()"
          ></stc-apps-button>

          <div class="mx-3"></div>
          <stc-apps-button
            [buttonText]="'confirm' | translate"
            [buttonType]="'primary'"
            (btnClick)="confirmSecondEscalate()"
          ></stc-apps-button>
        </div>
      </div>
    </div>
  </form>
</stc-apps-dialog>
