<div class="kpi-item " (click)="notifyParent(cardData.id)" [ngClass]="{'active' : currentActiveCardID === cardData.id}">
  <h4>{{cardData.title}}</h4>
  <div class="status acheived">
    <span>Statues : </span>
    <span class="status-number">{{cardData.status}}</span>
  </div>
  <div class="info not-acheived">
    <span class="number">
      <i class="fas fa-long-arrow-alt-up"></i>
      {{cardData.delta}}
    </span>
    <span>From last month</span>
    <span>Target:{{cardData.target}}%</span>
  </div>
</div>

