<div class="sidebar">
  <div class="sidebar_logo">
    <img src="assets/images/stc-logo.svg" alt="STC Logo" />
  </div>

  <div class="sidebar_developed-by">
    <span class="text">Developed by</span>
    <img src="assets/images/qeema-logo.svg" alt="Qeema Logo" />
  </div>

  <ul class="sidebar_list">
    <li
      *ngFor="let item of menuItems"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a [routerLink]="item.link">{{ item.label }}</a>
    </li>
  </ul>
</div>
