<div class="header">
  <!-- <div class="header_background"></div> -->
  <div class="header_welcome">
    <p>
      Welcome Back,
      <span>Assem Khalifa</span>
    </p>
    <p>Here is a tool you can test your API with standered</p>
  </div>
  <div class="header_actions">
    <a class="notification-icon">
      <img src="assets/images/notification.svg" alt="Notifications" />
    </a>
    <div class="header_profile">
      <button class="btn header_profile_image"></button>
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="header_profile_name">Assem</span>
          <i class="fas fa-chevron-down"></i>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownMenuButton1"
        >
          <a role="button" class="dropdown-item">logout</a>
        </ul>
      </div>
    </div>
  </div>
</div>
