<div (click)="menu.toggle($event)" class="icon-container">
  <i class="pi pi-ellipsis-v"></i>
</div>
<p-menu
  #menu
  [popup]="true"
  [model]="menuItems()"
  appendTo="body"
  styleClass="activity-logs"
  (onHide)="preventClose($event)"
>
  <ng-template pTemplate="item" let-item>
    <div class="activity-logs-menu-container">
      <div class="menu-item" (click)="menuActions(item.label)">
        <i [class]="item.icon"></i>
        <p>{{ item.label }}</p>
      </div>
    </div>
  </ng-template>
</p-menu>
