<div class="expansion_header pt-3">
  <div class="expansion_header_title">
    <p class="kpis_code">KPI Code : {{ kpisCode() }}</p>
    <h3>{{ projectHeader() }}</h3>
  </div>

  <div class="w-100 d-flex justify-content-end">
    <div
      class="expansion_header_status"
      [class]="
        status() === 'On track' ? 'ontrackBackground' : 'delayedBackground'
      "
    >
      <p [ngClass]="status() === 'On track' ? 'ontrack' : 'delayed'">
        {{ status() }}
      </p>
    </div>
  </div>

  <div
    id="expansion-header-info"
    class="expansion_header_info d-flex justify-content-between"
  >
    <div class="direction-holder d-flex justify-content-between">
      <p>Direction : {{ direction() }}</p>
      <img src="assets/images/direction-arrow.svg" alt="" />
    </div>
    <div class="function-holder">
      <p>Function : {{ function() }}</p>
    </div>
  </div>
</div>
