@import '../../../../../styles/fonts.scss';
.form-group
{
    position: relative;
    label
    {
        display: block;
        @extend .stcFont;
        color:var(--stc-purple-light-color);
        text-transform: capitalize;
        margin:10px 0;
    }
    .groupName-input
    {
        width: 100%;
        border:0;
        border:1px solid var(--stc-grey-dark-color);
        border-radius: 5px;
        padding: 10px;
        // height:60px;
        outline: 0;
        box-shadow: none;
        resize: none;
    }
    span
    {
        position: absolute;
        right: 8px;
        bottom: 8px;
        font-size: 13px;
        @extend .stcFont;
    }
}