<!-- <form [formGroup]="addProjectForm">
  <div class="form-group">
    <label for="groupName">project name:</label>
    <textarea
      type="text"
      name="groupName"
      formControlName="projectName"
      id="groupName"
      class="groupName-input"
      (ngModelChange)="getValue($event)"
      [class.error-input]="
        progectNameValue &&
        progectNameValue.errors &&
        (progectNameValue.errors['required'] || progectNameValue.errors['noSpaces']) &&
        progectNameValue.dirty
      "
      maxlength="50"
    ></textarea>
    <span>{{ textLength }}/50</span>
    @if(progectNameValue && progectNameValue.errors &&
    (progectNameValue.errors['required'] || progectNameValue.errors['noSpaces']) && progectNameValue.dirty) {
    <small class="error-msg">this field is required</small>
    }
  </div>
  <div class="row mb-3">
    <div class="col-lg-6 col-sm-12">
      <div class="form-group">
        <label for="actual">actual Value:</label>
        <input
          type="text"
          id="actual"
          name="progress"
          formControlName="actualValue"
          class="groupName-input actual-input"
          [class.error-input]="
            actualValue &&
            actualValue.errors &&
            (actualValue.errors['required'] || actualValue.errors['isNumber'] || actualValue.errors['rangeError'] || actualValue.errors['noSpaces']) &&
            actualValue.dirty
          "
        />
        @if(actualValue && actualValue.errors && (actualValue.errors['required'] || actualValue.errors['noSpaces']) && actualValue.dirty) 
        {
            <small class="error-msg error-msg2">this field is required</small>
        }
        @else if(actualValue && actualValue.errors && actualValue.errors['isNumber'] && actualValue.dirty) 
        {
            <small class="error-msg error-msg2">you must enter numbers only</small>
        }
        @else if(actualValue && actualValue.errors && actualValue.errors['rangeError'] && actualValue.dirty) 
        {
            <small class="error-msg error-msg2">number range must be between 0 and 100</small>
        }
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="form-group">
        <label for="planned">planned Value:</label>
        <input
          type="text"
          id="planned"
          name="totalWeight"
          formControlName="plannedValue"
          class="groupName-input actual-input"
          [class.error-input]="
            plannedValue &&
            plannedValue.errors &&
            (plannedValue.errors['required'] || plannedValue.errors['isNumber'] || plannedValue.errors['rangeError'] || plannedValue.errors['noSpaces']) &&
            plannedValue.dirty
          "
        />
        @if(plannedValue && plannedValue.errors && (plannedValue.errors['required'] || plannedValue.errors['noSpaces']) && plannedValue.dirty) 
        {
            <small class="error-msg error-msg2">this field is required</small>
        }
        @else if(plannedValue && plannedValue.errors && plannedValue.errors['isNumber'] && plannedValue.dirty) 
        {
            <small class="error-msg error-msg2">you must enter numbers only</small>
        }
        @else if(plannedValue && plannedValue.errors && plannedValue.errors['rangeError'] && plannedValue.dirty) 
        {
            <small class="error-msg error-msg2">number range must be between 0 and 100</small>
        }
      </div>
    </div>
  </div>
  <footer>
    <button 
      class = "import-data-btn"
      (click)="save()"
      [disabled]="addProjectForm.invalid"
      [class.disabled-btn]="addProjectForm.invalid"
    >save</button>
    <button class = "cancel-btn" (click)="closeModalFun()">cancel</button>
  </footer>
</form> -->
<section class="strategy-project-form">
  <div class="strategy-project-form-header">
    <div>
      <stc-apps-page-header [mainTitle]="'CAD Strategy Program'" />
    </div>
  </div>
  <div class="strategy-project-form-card">
    <div class="strategy-project-form-card-header">
      <div class="strategy-project-form-card-header-title">
        <img src="assets/images/close-project-circle.svg" alt="" />
        <span>add new project</span>
      </div>
      <img
        class="close-form"
        src="assets/images/close-circle2.svg"
        alt=""
        (click)="closeForm()"
      />
    </div>
    <p class="strategy-project-form-card-main-title">projects/initiatives</p>
    <form [formGroup]="addProjectForm">
      <div formArrayName="projects">
        @for (project of projectsList.controls; track project;let index =
        $index) {
        <div class="form-wrapper" [formGroupName]="index">
          <div class="form-group" style="margin-bottom: 30px">
            <label class="mt-0 pt-0">project name</label>
            <input
              type="text"
              placeholder="Add project name"
              formControlName="projectName"
            />
            @if((project.get("projectName")?.value?.trim() === '') ||
            project.get("projectName")?.value === '') {
            <small class="error-msg">this field is required</small>
            } @if(project.get("projectName")?.hasError("maxlength")) {
            <small class="error-msg"
              >this field has maxLength 50 characters</small
            >
            }
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>actual</label>
                <input
                  type="text"
                  placeholder="Add actual value"
                  formControlName="actualValue"
                />
                <!-- @if((project.get("actualValue")?.hasError("required") || project.get("actualValue")?.hasError("noSpaces")) && project.dirty)  -->
                @if((project.get("actualValue")?.value?.trim() === '') ||
                project.get("actualValue")?.value === '') {
                <small class="error-msg error-msg2"
                  >this field is required</small
                >
                } @else if(project.get("actualValue")?.hasError("isNumber")) {
                <small class="error-msg error-msg2"
                  >you must enter numbers only</small
                >
                } @else if(project.get("actualValue")?.hasError("rangeError")) {
                <small class="error-msg error-msg2"
                  >number range must be between 0 and 100</small
                >
                }
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>planned</label>
                <input
                  type="text"
                  placeholder="Add planned value"
                  formControlName="plannedValue"
                />
                @if((project.get("plannedValue")?.value?.trim() === '') ||
                project.get("plannedValue")?.value === '') {
                <small class="error-msg error-msg2"
                  >this field is required</small
                >
                } @else if(project.get("plannedValue")?.hasError("isNumber")) {
                <small class="error-msg error-msg2"
                  >you must enter numbers only</small
                >
                } @else if(project.get("plannedValue")?.hasError("rangeError"))
                {
                <small class="error-msg error-msg2"
                  >number range must be between 0 and 100</small
                >
                }
              </div>
            </div>
          </div>
          <div class="delete-btn">
            <button (click)="deleteForm(index)">delete</button>
          </div>
        </div>
        }
      </div>
    </form>
    <button class="add-project-btn" (click)="addNewProjectForm()" type="button">
      <img src="assets/images/add-square2.svg" alt="" />
      <span>add new project</span>
    </button>
    <div class="save-cancel-btns">
      <button
        class="save-btn"
        (click)="save()"
        [disabled]="projectsList.invalid || projectsList.length === 0"
        [class.btn-disabled]="projectsList.invalid || projectsList.length === 0"
      >
        add and save
      </button>
      <button class="cancel-btn" (click)="closeForm()" type="button">
        cancel
      </button>
    </div>
  </div>
</section>
