<div class="white-box">
  <div class="row">
    <div class="col-md-5">
      <h3>Avg Response Time Per Report</h3>
    </div>
    <div class="col-md-7">
      <div class="row" [formGroup]="form">

        <div class="col-md-2">
          @if( hasNonNullValue(this.filter)){
          <stc-apps-button [buttonText]="'Clear'" [buttonType]="'warn'" (btnClick)="reset()"></stc-apps-button>
          }

        </div>
        <div class="col-md-5">
          <stc-apps-select-drop-down formControlName="category" [label]="''" [matLabel]="'Category'"
            [options]="categories()" (selectChange)="handleSelect($event,'category')"
            [outputValue]="'name'"></stc-apps-select-drop-down>
        </div>

        <div class="col-md-5">
          <stc-apps-date-picker-range [disableInput]="true" [disableFilterFlag]="true"
            (datePickerChangeEvent)="datePickerChanged($event)" [startDate]="form.get('startDate')?.value"
            [endDate]="form.get('endDate')?.value">
          </stc-apps-date-picker-range>
        </div>


      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div style="width: 100%; height: 300px;">
        <div [id]="chartdi_id" [ngStyle]="{'width': '100%', 'height': chartData.length === 0 ? 'auto' : '300px'}">
        </div>
        @if(chartData.length ===0) {
        <p class="noData">No Data To Display </p>
        }
      </div>


    </div>
  </div>
</div>