<div class="details">
  <!-- <h2 class="details_title">Details for STC KSA Epit</h2> -->

  <div class="details_content">
    <div class="row row-gap-3">
      <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-12">
        <div class="row row-gap-3">
          @for (card of cards; track card) {
          <div [ngClass]="card.class">
            <stc-apps-details-card
              [title]="card.title"
              [description]="card.description"
            >
            </stc-apps-details-card>
          </div>
          }
        </div>
      </div>
      <div class="col-xxl-6 col-xl-12 col-lg-12 col-md-12">
        <stc-apps-comments-form
          [kpiObjectSignal]="kpiObjectSignal()"
          [sectorUsersSignal]="sectorUsersSignal()"
        ></stc-apps-comments-form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="details_content_formula">
  <ul>
    <li>A= B-C-D</li>
    <li>Where,</li>
    <li>A= stc KSA EBIT</li>
    <li>B= stc KSA Revenues</li>
    <li>C= stc KSA Cost of Goods Sold</li>
  </ul>
  <h4>Validation Notes :</h4>
  <ul>
    <li>
      Finance team shall communicate the validated and approved
      figures for COM official reference.
    </li>
    <li>
      CPM shall not consider any target or actual received from
      sources other than the KPI custodian officially assigned by
      the fiance team
    </li>
    <li>
      KPI Target to subject to further revision based on the
      official input received from the finance team aligned with
      the approved budget
    </li>
  </ul>
</div> -->
