@import '../../../../../../libs/styles/src/scss/core/variables/fonts';
@import '../../../../../../libs/styles/src/scss/core/variables/colors';

.details {
  padding: 26px 28px;
  position: relative;
  z-index: 99;

  &_title {
    font-family: 'stc forward-bold';
    font-size: 24px;
    color: $grayColor;
    margin-bottom: 15px;
  }

  &_content {
    &_formula {
      min-height: 380px;
      h4 {
        color: $semiBlackColor;
      }

      ul {
        padding: 0;

        &:last-child {
          list-style: disc;
          padding: revert;
        }
      }
    }
  }
}