
.view-title{
  font-weight: bold;
  color: var(--stc-color);
}

.views-padding{
  padding: var(--views-padding);
}

.neutral, .secondary-text, .secondary-date{
  color: var(--stc-grey-color);
}


.achieved{
  color: var(--stc-oasis-color);
  font-weight: bold;
}

.not-achieved{
  color: var(--stc-red-color);
  font-weight: bold;
}

.last-month-value{
  font-weight: bold;

}

