<div class="user-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="inputs">
      <div class="row">
        <div class="col-md-4">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="'EX: Ahmed Mohamed'"
            [inputId]="'customerName'"
            [inputName]="'Customer name'"
            formControlName="customerName"
          ></stc-apps-input>
        </div>
        <div class="col-md-4">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="'EX: Jadah'"
            [inputId]="'city'"
            [inputName]="'city'"
            formControlName="city"
          ></stc-apps-input>
        </div>
        <div class="col-md-4">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'existingServiceOrder'"
            [inputName]="'Existing service order'"
            formControlName="existingServiceOrder"
          ></stc-apps-input>
        </div>
      </div>
      <div class="row mt-7">
        <div class="col-md-4">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'serviceType'"
            [inputName]="'Service Type'"
            formControlName="serviceType"
          ></stc-apps-input>
        </div>
        <div class="col-md-4">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'existingPlate'"
            [inputName]="'existing plate#'"
            formControlName="existingPlate"
          ></stc-apps-input>
        </div>
        <div class="col-md-4">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'existingPhoneNumber'"
            [inputName]="'Existing Phone Number'"
            formControlName="existingPhoneNumber"
          ></stc-apps-input>
        </div>
      </div>

      <div class="row mt-7">
        <div class="col-md-4">
          <stc-apps-date-picker
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'activationDate'"
            [inputName]="'Activation Date'"
            formControlName="activationDate"
          >
          </stc-apps-date-picker>
        </div>
        <div class="col-md-4">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'WFMOrder'"
            [inputName]="'WFM Order'"
            formControlName="wfmOrder"
          ></stc-apps-input>
        </div>
        <div class="col-md-4">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'newPlate'"
            [inputName]="'New Plate#'"
            formControlName="newPlate"
          ></stc-apps-input>
        </div>
      </div>
      <div class="row mt-7">
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'newServiceOrder'"
            [inputName]="'New Service Order#'"
            formControlName="newServiceOrder"
          ></stc-apps-input>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'newPhoneNumber'"
            [inputName]="'New Phone Number'"
            formControlName="newPhoneNumber"
          ></stc-apps-input>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'contactNumber'"
            [inputName]="'Contact Number'"
            formControlName="contactNumber"
          ></stc-apps-input>
        </div>
        <div class="col-md-3">
          <stc-apps-input
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'caseLabel'"
            [inputName]="'Case Label'"
            formControlName="caseLabel"
          ></stc-apps-input>
        </div>
      </div>

      <div class="row mt-7">
        <div class="col-md-4">
          <stc-apps-textarea
            [className]="'custom-input'"
            [inputPlaceholder]="''"
            [inputId]="'description'"
            [inputName]="'Description'"
            formControlName="description"
          ></stc-apps-textarea>
        </div>
        <div class="col-md-8">
          <stc-apps-file-uploader
            [multiple]="true"
            [chooseLabel]="'Add attachment'"
            (onformchange)="onUploadFile($event)"
            [attachmentFiles]="this.form.controls['attachments'].value"
            formControlName="attachments"
            [isLoading]="isLoading"
            (ondelete)="onDeleteFile($event)"
          ></stc-apps-file-uploader>
        </div>
      </div>
    </div>
    <div class="btn-form-action" *ngIf="!isSubmited">
      <stc-apps-button
        [buttonText]="'cancel'"
        [buttonType]="'gray-outline'"
        (btnClick)="cancel()"
      ></stc-apps-button>

      <div class="mx-3"></div>
      <stc-apps-button
        [buttonText]="'Add Case'"
        [buttonType]="'primary'"
        (btnClick)="onSubmit()"
        [actionType]="'submit'"
      ></stc-apps-button>
    </div>
  </form>
</div>
